<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Finance Consulting Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link rel="SHORTCUT ICON" href="../3.ico"/>
	<!-- 地图 -->
	<script type="text/javascript" src="../../static/js/bdMap.js"></script>
	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">
		@media all and (max-width: 800px){	
			.foot{position:fixed;bottom:0;}
		}		
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
<div class="main">
	<!--**************************************************top***********************************************-->
	<div class="logo" style="position:fixed;z-index:10000;">	
		<a href="/index_EN"><img src="../../static/img/logo.png"/></a>
		<ul class="newnav" style="margin-left:20px;z-index:10000;">
			<li><a href="/qkly_EN">Areas</a></li>
			<li class="active"><a href="/qkhb_EN">Partner</a></li>
			<li><a href="/qkjz_EN">Family</a></li>
			<li><a href="/jrqk_EN">Join Us</a></li>	
			<li><a href="/gyqk_EN">About Us</a></li>
		</ul>
	</div>
	<!-- SLIDER -->
	<div id="outerslider">
		<div id="slidercontainer">
			<section id="slider">
			<div class="box_skitter box_skitter_large">					
				<ul >
					<li>
						<img src="../../static/img/banner4_EN.jpg" alt="" style="height:100%"/>                            
					</li>
					<li>
						<img src="../../static/img/banner5_EN.jpg" alt="" style="height:100%"/>                            
					</li>          
					<li>
						<img src="../../static/img/banner6_EN.jpg" alt="" style="height:100%"/>                            
					</li>    
				</ul>
			</div>
			</section>
		</div>
	</div>
	<!-- END SLIDER -->	
	<!--**************************************************title***********************************************-->	

	<div class="title">
		<h1>CardPay</h1><h2>P</h2><h3>artner</h3>
	</div>
	<div class="qkjt" style="width:100%;margin-left:0;margin-bottom:20px;">
		<div class="parner lcLeft">
			<img src="../../static/img/hzhb1.png" onclick="window.open('http://www.profitinsight.com/')"/>
			<p>PTC&nbsp;&nbsp;&nbsp;&nbsp;</p>
		</div><div class="parner lcCenter">
			<img src="../../static/img/hzhb3.png" onclick="window.open('http://www.rcbda.cn/')"/>
			<p>Agricultural</p>
		</div><div class="parner lcCenter">
			<img src="../../static/img/hzhb2.png" onclick="window.open('http://www.mastercard.com.cn')"/>
			<p>MasterCard</p>
		</div><div class="parner lcRight">
			<img src="../../static/img/hzhb4.png" onclick="window.open('http://www.xhjr.net')"/>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;XINHUA</p>
		</div><br/>	
		<div class="parner lcL">
			<span>Cooperation Agreement with <br/>PTC<br/>
			<font>2013</font></span>
		</div><div class="parner lcC">
			<span>Agricultural only league<br/> observers<br/>
			<font>2013</font></span>
		</div><div class="parner lcC">
			<span>MasterCard Strategic<br/> Partner<br/>
			<font>2014</font></span>
		</div><div class="parner lcC">
			<span>Signed an agreement with Agricultural<br/>
			<font>2015</font></span>
		</div><div class="parner lcR">
			<span>Agreement with Xinhua Financial Holding<br/>
			<font>2015</font></span>
		</div>
	</div>
	<!-- 切换语言 -->		
	<div class="lanage" onclick="setLanage(this)">						
		<img src="../../static/img/yy.png" id="yySmall" onmouseover="showYY()"/>	
		<ul id="yyBig" onmouseleave="hideYY()">
			<li><a href="/index"><img src="../../static/img/Ch.png"/>中文</a></li>
			<li><a href="/index_EN"><img src="../../static/img/En.png"/>ENGLISH</a></li>
		</ul>
	</div>	
	<div class="back-to-top">
		<img src="../../static/img/back-to-top.png"/>
	</div>
<!--**************************************************foot***********************************************-->
	<div class="foot">
		<span>Copyright(C)2011-2014 CardPay(Shanghai) Finance Consulting Co.,Ltd.</span><br/>
		<span>Shanghai ICP for 13043724</span>
	</div>
</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){   
			if($(window).width()<"800"){
				$(".box_skitter").html("<ul>"+
											"<li>"+
												"<img src='../../static/img/banner11_EN.jpg'/>"+                        
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner12_EN.jpg' /> "+                           
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner13_EN.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/hzhb11_En.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/page14_EN.jpg'/>"+
											"</li>"+
										"</ul>");
			}
		});
		
	</script>
	
</body>
</html>
