<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务股份有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link rel="SHORTCUT ICON" href="../3.ico"/>
	<!-- 地图 -->
	<script type="text/javascript" src="../../static/js/bdMap.js"></script>
	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">			
		@media all and (max-width: 800px){	
			.foot{position:fixed;bottom:0;}
		}	
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
<div class="main">
	<!--**************************************************top***********************************************-->
	<div class="logo" style="position:fixed;z-index:10000;">	
		<a href="/index"><img src="../../static/img/logo.png"/></a>
		<ul class="newnav" style="margin-left:20px;z-index:10000;">
			<li><a href="/qkly">乾康领域</a></li>
			<li class="active"><a href="/qkhb">乾康伙伴</a></li>
			<li><a href="/qkjz">乾康家族</a></li>
			<li><a href="/jrqk">加入乾康</a></li>	
			<li><a href="/gyqk">关于乾康</a></li>
		</ul>
	</div>
	<!-- SLIDER -->
	<div id="outerslider">
		<div id="slidercontainer">
			<section id="slider">
			<div class="box_skitter box_skitter_large">					
				<ul >
					<li>
						<img src="../../static/img/banner4.jpg" alt="" style="height:100%"/>                            
					</li>
					<li>
						<img src="../../static/img/banner5.jpg" alt="" style="height:100%"/>                            
					</li>          
					<li>
						<img src="../../static/img/banner6.jpg" alt="" style="height:100%"/>                            
					</li>    
				</ul>
			</div>
			</section>
		</div>
	</div>
	<!-- END SLIDER -->	
	<!--**************************************************title***********************************************-->	

	<div class="title">
		<h1>乾康伙伴</h1><h2>P</h2><h3>artner</h3>
	</div>
	<div class="qkjt" style="width:100%;margin-left:0;margin-bottom:20px;">
		<div class="parner lcLeft">
			<img src="../../static/img/hzhb1.png" onclick="window.open('http://www.profitinsight.com/')"/>
			<p>美国PTC&nbsp;&nbsp;&nbsp;&nbsp;</p>
		</div><div class="parner lcCenter">
			<img src="../../static/img/hzhb3.png" onclick="window.open('http://www.rcbda.cn/')"/>
			<p>中国农商行联盟</p>
		</div><div class="parner lcCenter">
			<img src="../../static/img/hzhb2.png" onclick="window.open('http://www.mastercard.com.cn')"/>
			<p>MasterCard</p>
		</div><div class="parner lcRight">
			<img src="../../static/img/hzhb4.png" onclick="window.open('http://www.xhjr.net')"/>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;新华金控</p>
		</div><br/>	
		<div class="parner lcL">
			<span>与PTC达成战略<br/>合作协议<br/>
			<font>2013年</font></span>
		</div><div class="parner lcC">
			<span>成为中国农商行联<br/>盟唯一公司观察员<br/>
			<font>2013年</font></span>
		</div><div class="parner lcC">
			<span>MasterCard(亚<br/>太)战略合作伙伴<br/>
			<font>2014年</font></span>
		</div><div class="parner lcC">
			<span>与中国农商联盟<br/>签署战略合作协议<br/>
			<font>2015年</font></span>
		</div><div class="parner lcR">
			<span>与新华金控签署<br/>战略合作协议<br/>
			<font>2015年</font></span>
		</div>
	</div>
	<!-- 切换语言 -->		
	<div class="lanage" onclick="setLanage(this)">						
		<img src="../../static/img/yy.png" id="yySmall" onmouseover="showYY()"/>	
		<ul id="yyBig" onmouseleave="hideYY()">
			<li><a href="/index"><img src="../../static/img/Ch.png"/>中文</a></li>
			<li><a href="/index_EN"><img src="../../static/img/En.png"/>ENGLISH</a></li>
		</ul>
	</div>	
	<div class="back-to-top">
		<img src="../../static/img/back-to-top.png"/>
	</div>
<!--**************************************************foot***********************************************-->
	<div class="foot">
		<span>Copyright(C)2011-2014 乾康（上海）金融信息服务股份有限公司</span><br/>
		<span>沪ICP备13043724号</span>
	</div>
</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){   
			if($(window).width()<"800"){
				$(".box_skitter").html("<ul>"+
											"<li>"+
												"<img src='../../static/img/banner11.jpg'/>"+                        
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner12.jpg' /> "+                           
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner13.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/hzhb11.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/page14.jpg'/>"+
											"</li>"+
										"</ul>");
			}
		});
		
	</script>
	
</body>
</html>
