<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">	
		.cgal{width:28%;margin-top:0;}
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo" style="position:fixed;z-index:10000;">	
			<a href="/"><img src="../../static/img/images/logo.png" style="height:60px;margin-top:15px;margin-left:30px;margin-right:150px;"/></a>
			<ul class="newnav" style="margin-left:20px;z-index:10000;">
				<!-- <li><a href="/">网站首页</a></li> -->				
				<li><a href="/jjfa">业务指南</a></li>
				<li class="active"><a href="/cgal">成功案例</a></li>
				<li><a href="/hzhb">合作伙伴</a></li>
				<li><a href="/yhnx">银行内训</a></li>
				<li><a href="/jrzx">金融咨询</a></li>				
				<li><a href="/gsjj">关于我们</a></li>
			<!-- 	<li><a href="/ygfc">员工风采</a></li> -->
				<li><a href="/zpxx">招聘信息</a></li>
			</ul>
		</div>
		<!-- SLIDER -->
		<div id="outerslider" style="margin-top:90px;_margin-top:0;">
        	<div id="slidercontainer">
            	<section id="slider">
                <div class="box_skitter box_skitter_large">					
                    <ul >
						<li>
                            <img src="../../static/img/sub02.png" alt="" style="height:100%"/>                            
                        </li>
                        <li>
                            <img src="../../static/img/sub01.png" alt="" style="height:100%"/>                            
                        </li>                        
						<li>
                            <img src="../../static/img/sub03.png" alt="" style="height:100%"/>                            
                        </li>
						<li>
                            <img src="../../static/img/sub04.png" alt="" style="height:100%"/>                            
                        </li>
						<li>
                            <img src="../../static/img/sub05.png" alt="" style="height:100%"/>                            
                        </li>
                    </ul>
                </div>
                </section>
            </div>
        </div>
        <!-- END SLIDER -->	
		<!-- 切换语言 -->		
		<div class="lanage" onclick="setLanage(this)">
			<img src="../../static/img/yysz.png"/>
			<div>
				<a href="/index">中文</a><br/>
				<a href="/index_En">English</a>
			</div>
		</div>
	<!--**************************************************left***********************************************-->	
		<div style="width:100%;float:left;_margin-top:-90px;">
			<div class="left">
				<ul class="Tab">
					<li class="active" onmouseover="change_div(this,'gsjj')"><a href="#">服务方向</a></li>
					<li onmouseover="change_div(this,'fzln')" style=""><a href="#">发展理念</a></li>
					<!-- <li onclick="change_div(this,'ryzs')"><a href="#">荣誉证书</a></li>
					<li onclick="change_div(this,'zjtd')"><a href="#">专家团队</a></li> -->
					<li onmouseover="change_div(this,'lxfs')" style="border-right:1px solid #dddddd;"><a href="#">联系方式</a></li>
				</ul>
				<div class="tab" id="gsjj">
					信息咨询&nbsp;&nbsp;
					技术支持&nbsp;&nbsp;
					平台建设
				</div>
				<div class="tab" style="display:none;" id="fzln"> 
					创建领先国际的金融咨询机构<br/>
					合力打造精英顾问团队<br/>
					最大限度满足客户需求
				</div>
				<div class="tab" style="display:none;" id="lxfs">
					地址：上海市徐汇区桂箐路7号3号楼801室<br/>
					address：Room 801,Building 3,No.7,Guiqing Road,Xuhui District,Shanghai <br/>
					邮编： 200035<br/>
					电话： 021-54485390 <br/>
					传真： 021-54485391<br/>
					电子邮件：qk_liuwx@163.com<br/>
				</div>
			<!--**************************************************新闻动态***********************************************************************-->
				<div style="width:100%;margin-top:40px;border-top:3px dotted #dddddd;margin-bottom:40px;">
					<span style="background:white;position:absolute;margin-top:-15px;font-weight:bold;font-size:20px;color:#666666;">新闻动态</span>
				</div>					
				<div id="ifocus">
					<div id="ifocus_pic">
						<div id="ifocus_piclist">
							<ul>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											我司于2014年11月与万事签署长期战略合作伙伴协议，协议项下：双方共同推进万事达公司和乾康公司在中国大陆地区的信用卡业务及互联网金融的业务和技术落地。
										</div>
									</div>										
									<div style="margin-top:-15px;margin-left:25px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">公司与万事签署合作协议</b>
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											2013年，乾康公司与全球排名第一的美国的专业信用卡咨询公司PTC（PROFIT TECHNOLOGIES COMPANY)达成战略合作协议。双方将共同为银行开展零售业务提供全方位咨询服务。
										</div>
									</div>										
									<div style="margin-top:-15px;margin-left:25px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">公司与美国PTC达成合作协议</b>
									</div>
								</li>								
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											<b style="color:#0488cd;">2014年9月</b><br/>东台农商行业务咨询运营服务项目<br/><b style="color:#0488cd;">2014年5月</b><br/>江阴农商行咨询服务项目<br/>
										</div>
									</div>	
									<div style="margin-top:-15px;margin-left:30px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">公司与其他农商行业务往来</b>
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											<b style="color:#0488cd;">2014年3月</b><br/>厦门农商行贷记卡业务运营咨询服务项目<br/><b style="color:#0488cd;">2014年2月</b><br/>阜宁农商行微贷业务咨询服务项目<br/>
										</div>
									</div>	
									<div style="margin-top:-15px;margin-left:30px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">公司与其他农商行业务往来</b>
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											<b style="color:#0488cd;">2013年11月</b><br/>常熟农商行信用卡业务风险管理咨询项目<br/>	<b style="color:#0488cd;">2013年9月</b><br/>兴化农商行微贷业务咨询服务项目<br/>
										</div>
									</div>	
									<div style="margin-top:-15px;margin-left:30px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">公司与其他农商行业务往来</b>
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											<b style="color:#0488cd;">2012年9月</b><br/>江南银行信用卡咨询运营项目<br/><b style="color:#0488cd;">2012年3月</b><br/>华夏银行上海分行客户经理培训班<br/>
										</div>
									</div>	
									<div style="margin-top:-15px;margin-left:30px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">公司与其他农商行业务往来</b>
									</div>
								</li>
							</ul>
						</div>
						
					</div>
					<div id="ifocus_btn" style="display:none;">
						<ul>
							<li class="current"></li>
							<li class="normal"></li>
							<li class="normal"></li>
							<li class="normal"></li>
						</ul>
					</div>
				</div>
			</div>
		<!--**************************************************right***********************************************-->	
			<!--**************************************************title***********************************************-->		
			<div class="title">
				<h2>成功案例</h2>
				<span class="place">当前位置：乾康（上海）金融信息服务有限公司 > <font style="color:#0488cd">成功案例</font></span>
			</div>
			<div class="right" style="_margin-left:50px;">				
				<div class="cgal" id="image1" >
					<img src="../../static/img/hxyh.png" style="width:100%"/>
				</div>
				<div class="cgal" id="image2" >
					<img src="../../static/img/jnyh.png" style="width:100%"/>
				</div>
				<div class="cgal" id="image3">
					<img src="../../static/img/csnsh.png" style="width:100%"/>
				</div>	
				<div class="cgal" id="image4" style="margin-top:20px;">
					<img src="../../static/img/wxnsh.png" style="width:100%"/>					
				</div>
				<div class="cgal" id="image5" style="margin-top:20px;">
					<img src="../../static/img/xhyh.png" style="width:100%"/>
				</div>					
				<div class="cgal" id="image6" style="margin-top:20px;">
					<img src="../../static/img/jynsh.png" style="width:100%"/>
				</div>					
				<div class="cgal" id="image7" style="margin-top:20px;">
					<img src="../../static/img/jr.png" style="width:100%"/>
				</div>	
				<div class="cgal" id="image8" style="margin-top:20px;">					
					<img src="../../static/img/jy.png" style="width:100%"/>
				</div>	
				<div class="cgal" id="image9" style="margin-top:20px;">					
					<img src="../../static/img/xmnsh.jpg" style="width:100%"/>
				</div>				
				<div class="cgal" id="image10" style="margin-top:20px;">					
					<img src="../../static/img/dt.jpg" style="width:100%"/>
				</div>
				<div class="cgal" id="image11" style="margin-top:20px;">					
					<img src="../../static/img/fn.jpg" style="width:100%"/>
				</div>
			</div>
		</div>
		
		<div class="back-to-top">
			<img src="../../static/img/back-to-top.png"/>
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot" style="width:100%;float:left;">		
			<img src="../../static/img/images/qk_12.png" style="width:100%"/>
			<img src="../../static/img/images/qk_15.png"/>
			<span>Copyright(C)2011-2014 乾康（上海）金融信息服务有限公司</span><br/>
			<span>沪ICP备13043724号</span>
		</div>		
	</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
				
	</script>
</body>
</html>
