<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Finance Consulting Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">
		
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo" style="position:fixed;z-index:10000;">	
			<a href="/index_En"><img src="../../static/img/images/logo.png" style="height:60px;margin-top:15px;margin-left:30px;margin-right:150px;"/></a>
			<ul class="newnav" style="margin-left:20px;z-index:10000;">
				<!-- <li><a href="/index_En">Home</a></li> -->				
				<li><a href="/jjfa_En">Business</a></li>
				<li><a href="/cgal_En">Case</a></li>
				<li class="active"><a href="/hzhb_En">Partner</a></li>
				<li><a href="/yhnx_En">Training</a></li>
				<li><a href="/jrzx_En">Financial</a></li>	
				<li><a href="/gsjj_En">About Us</a></li>			
				<!-- <li><a href="/ygfc_En">Employee</a></li> -->
				<li><a href="/zpxx_En">Recruit</a></li>
			</ul>
		</div>
		<!-- SLIDER -->
		<div id="outerslider" style="margin-top:90px;_margin-top:0;">
        	<div id="slidercontainer">
            	<section id="slider">
                <div class="box_skitter box_skitter_large">					
                    <ul >
						<li>
                            <img src="../../static/img/sub02_En.png" alt="" style="height:100%"/>                            
                        </li>
                        <li>
                            <img src="../../static/img/sub01_En.png" alt="" style="height:100%"/>                            
                        </li>                        
						<li>
                            <img src="../../static/img/sub03_En.png" alt="" style="height:100%"/>                            
                        </li>
						<li>
                            <img src="../../static/img/sub04_En.png" alt="" style="height:100%"/>                            
                        </li>
						<li>
                            <img src="../../static/img/sub05_En.png" alt="" style="height:100%"/>                            
                        </li>
                    </ul>
                </div>
                </section>
            </div>
        </div>
        <!-- END SLIDER -->	
		<!-- 切换语言 -->		
		<div class="lanage" onclick="setLanage(this)">
			<img src="../../static/img/yysz.png"/>
			<div>
				<a href="/index">中文</a><br/>
				<a href="/index_En">English</a>
			</div>
		</div>
<!--**************************************************left***********************************************-->	
		<div style="width:100%;float:left;_margin-top:-90px;">
			<div class="left">
				<ul class="Tab">
					<li class="active" onmouseover="change_div(this,'gsjj')"><a href="#">Services</a></li>
					<li onmouseover="change_div(this,'fzln')" style=""><a href="#">Concept</a></li>
					<!-- <li onclick="change_div(this,'ryzs')"><a href="#">荣誉证书</a></li>
					<li onclick="change_div(this,'zjtd')"><a href="#">专家团队</a></li> -->
					<li onmouseover="change_div(this,'lxfs')" style="border-right:1px solid #dddddd;"><a href="#">Contact</a></li>
				</ul>
				<div class="tab" id="gsjj">
					Information<br/>
					Technical Support<br/>
					Platform
				</div>
				<div class="tab" style="display:none;" id="fzln"> 
					Create a leading international financial professional consultancy<br/>
					Together to create elite team of consultants<br/>
					Maximum to meet customer demand
				</div>
				<div class="tab" style="display:none;" id="lxfs">
					Address：Room 801,Building 3,No.7,Guiqing Road,Xuhui District,Shanghai  <br/>
					Postcode：200035<br/>
					Phone：021-54485390 <br/>
					Fax： 021-54485391<br/>
					E-mail：qk_liuwx@163.com<br/>
				</div>
			<!--**************************************************新闻动态***********************************************************************-->
				<div style="width:100%;margin-top:40px;border-top:3px dotted #dddddd;margin-bottom:40px;">
					<span style="background:white;position:absolute;margin-top:-15px;font-weight:bold;font-size:20px;color:#666666;">News</span>
				</div>					
				<div id="ifocus">
					<div id="ifocus_pic">
						<div id="ifocus_piclist">
							<ul>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											I Division in November 2014 signed a long-term strategic partnership agreement with MasterCard, under the agreement: the two sides work together to promote and dry Kang MasterCard credit card business and Internet banking business and technical landing in mainland China.
										</div>
									</div>										
									<div style="margin-top:-15px;margin-left:25px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">The company signed a cooperation agreement with MasterCard</b>
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											 2013,CardPay(Shanghai) ranked first in the United States with the world of professional credit consulting company PTC (PROFIT TECHNOLOGIES COMPANY) reached a strategic cooperation agreement.
										</div>
									</div>										
									<div style="margin-top:-15px;margin-left:25px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">Company reached an agreement with the United States PTC</b>
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											<b style="color:#0488cd;">March 2014</b><br/>Xiamen agricultural firms consulting services credit card operations<br/><b style="color:#0488cd;">February 2014</b><br/>Funing agricultural business consulting firm microfinance services<br/>	
										 	
										</div>
									</div>	
									<div style="margin-top:-15px;margin-left:30px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">Companies doing business with other agricultural businesses</b>
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											<b style="color:#0488cd;">November 2013</b><br/>Changshu Rural Commercial Credit Risk Management Consulting Project<br/><b style="color:#0488cd;">September 2013</b><br/>Xinghua agricultural micro-credit business consulting firm Service<br/>
										</div>
									</div>	
									<div style="margin-top:-15px;margin-left:30px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">Companies doing business with other agricultural businesses</b>
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											<b style="color:#0488cd;">September 2012</b><br/>Southern bank credit card operations consulting projects<br/><b style="color:#0488cd;">March 2012</b><br/>Huaxia Bank, Shanghai Branch Account Manager training<br/>
										</div>
									</div>	
									<div style="margin-top:-15px;margin-left:30px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">Companies doing business with other agricultural businesses</b>
									</div>
								</li>
							</ul>
						</div>
						
					</div>
					<div id="ifocus_btn" style="display:none;">
						<ul>
							<li class="current"></li>
							<li class="normal"></li>
							<li class="normal"></li>
							<li class="normal"></li>
						</ul>
					</div>
				</div>
			</div>
		<!--**************************************************title***********************************************-->		
			<div class="title">
				<h2>Partner</h2>
				<span class="place">CardPay(Shanghai) > <font style="color:#0488cd">Partner</font></span>
			</div>
			<div class="right" id="hzhb">
				<table width="100%" class="datatable">
					<thead>
						<tr>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								<a href="#" onclick="show('wsd')">MasterCard</a>
							</td>	
							<td class="text-right"></td>						
						</tr>
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								<a href="#" onclick="show('ptc')">Profit Technologies Corporation (PTC)</a>
							</td>	
							<td class="text-right"></td>
						</tr>								
					</tbody>
				</table>
				<div class="showPage">
					<span>Page: 1/1</span>
					<span class="pageNum" style="margin-left:480px;">First</span>					
					<span class="pageNum">Previous</span>	
					<span class="pageNum">1</span>
					<span class="pageNum">Next</span>	
					<span class="pageNum">Last</span>				
				</div>
			</div>	
			<!--**************************************************万事达公司***********************************************-->		
			<div class="right" id="wsd" style="display:none">
				<div class="jtxx">
					<h1 class="H1">MasterCard</h1>
					<div class="xx">						
						<p><span class="secondStep">MasterCard</span>(NYSE ticker symbol: MA) was founded in 1966, with global headquarters in New York, the eastern United States. As a leading global payments company, MasterCard is committed to providing global consumers a more convenient and more efficient financial payment environment. Through the payments industry to pay for the franchisor, processor and advisor, MasterCard provides links leading global business global financial institutions, governments, businesses, merchants and cardholders. With its MasterCard®, Maestro®, Cirrus® brand, and as the core products of credit cards, debit cards and prepaid cards, as well as innovative versatility of the platform, such as MasterCard PayPass ™ and MasterCard inControl ™, MasterCard continues to promote global business, to more than 210 countries and territories consumers, governments and businesses to provide services.</p>
						<p>US financial institutions in the late 1950s to the early 1960s created a system of internationally accepted credit card, then popular in the world. 1966, part of the banks that an organization called Bank Card Association (Interbank Card Association), the 1969 Bank Card Association purchased the franchise under the MasterCharge unified credit card issuer name and style design of each row. Then ten years, will be renamed MasterCharge formerly MasterCard.</p>
						<p>MasterCard entered China in 1988, becoming the first company to enter China's international payments, the major domestic commercial banks are members of MasterCard. Twenty years ago, MasterCard International in helping China's bank card industry from the start to the development have played an indelible role. Most Chinese member banks are using MasterCard credit card brand. MasterCard is also the first global network of international organizations operating in China, the country has created a lot of foreign exchange earnings, creating a variety of business opportunities and profits for the member banks and the majority of merchants.</p>
					</div>	
				</div>
				<img src="../../static/img/back.png" onclick="show('hzhb')" style="cursor:pointer;float:right;"/>
			</div>	
			<!--**************************************************PTC 公司***********************************************-->		
			<div class="right" id="ptc" style="display:none">
				<div class="jtxx">
					<h1 class="H1">Profit Technologies Corporation (PTC)</h1>
					<div class="xx">
						<p class="step">Introduction</p>
						<p>Profit Technologies Corporation (PTC) is an American consulting Company established in 1973. Since 1973, many customers around the world have entrusted our company for them to develop measures to increase revenue. For these customers and their shareholders, PTC put forward a series of policies to improve the management.</p>
						<p>Headquartered in North Carolina, the company is also in the UK, Germany, Spain, Italy, Australia, and Brazil to establish a series of international branches or offices.</p>
						<p>In our 30 years of consultancy services, provide customers in many countries with the first-class management strategy. In our guidance, they get a total value of more than twelve billion dollars in revenue increased and cost savings.</p>
						<p class="step">Our customer service purposes</p>
						<p>To provide customers with improve total revenue measures of company and shareholders.</p>
						<p class="step">Our consultancy service skills</p>
						<p>The tight organization and management consultancy way for our customers to provide a variety of increase revenue and reduce costs strategy. These advanced strategies are summed up from 30 years of consulting experience. PTC consultancy services is to propose measures of increase revenue and reduce the cost as soon as possible.</p>
						<p class="step">Our customers</p>
						<p>Our costomers are all kinds of different enterprises. In our guidance, our customers have received a total of more than twelve billion dollars in revenue increased or expenses reduced. PTC will also be able to propose effective measures for your company to improve company’s profit and reduce the company’s cost.</p>
						<p class="step">Our consultants</p>
						<p>PTC's all consultants is our basic strength. The consultants have at least 20 years of consulting experience. PTC consultants can propose effective measures to increase revenues or profits in a short period. Our customers can get the best gains. PTC consultancy services superiority was marked that it does not interfere with the customer's business activities.</p>
						<p class="step">Company Website</p>
						<p>English：<a href="http://www.profit-tech.com/">www.profit-tech.com</a></p>
						<p>China：<a href="http://www.profit-tech.cn/">www.profit-tech.cn</a></p>
					</div>
				</div>
				<img src="../../static/img/back.png" onclick="show('hzhb')" style="cursor:pointer;float:right;"/>
			</div>	
		</div>
			
		<div class="back-to-top">
			<img src="../../static/img/back-to-top.png"/>
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot" style="width:100%;float:left;">		
			<img src="../../static/img/images/qk_12.png" style="width:100%"/>
			<img src="../../static/img/images/qk_15.png"/>
			<span>Copyright(C)2011-2014 CardPay(Shanghai) Finance Consulting Co.,Ltd.</span><br/>
			<span>Shanghai ICP for 13043724</span>
		</div>	
	</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.dataTables_En.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
</body>
</html>
