<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务股份有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/main_En.css" rel="stylesheet">
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<style type="text/css">
	
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	
	</script>
</head>
<body>
<div class="main">
<!--*****************************导航*****************************************-->
	<div class="topNav">
		<img src="../../static/img/logo.png" class="logo" onclick="window.location.href='/index_EN' "/>
		<ul>
			<li><a href="/gyqk_EN">About Us</a></li>					
			<li class="active"><a href="/qkly_EN">Services</a></li>		
			<li><a href="/qkjz_EN">Group</a></li>	
			<li><a href="/qkxw_EN">News</a></li>	
			<li><a href="/lxwm_EN">Contact Us</a></li>	
			<li><a href="/jrqk_EN">Join Us</a></li>									
		</ul>
	</div>	
<!--*****************************banner*****************************************-->	
	
	<div class="banner banner_En"></div>
	<div class="Tab" id="100">
		<div class="title">
			<img src="../../static/img/title.png" class="left"/><h3>SERVICES</h3>
			<h4>QIANKANG</h4><img src="../../static/img/title.png" class="right"/>
		</div>
		<div class="gsyw dh" id="gsyw1" onclick="$('.Tab').hide();$('#101').show();">
			<img src="../../static/img/yw1.jpg"/>
			<p>The internet supplier in<br/>personal credit risk control</p>
		</div>
		<div class="gsyw dh" id="gsyw2" onclick="$('.Tab').hide();$('#102').show();">
			<img src="../../static/img/yw2.jpg"/>
			<p>The internet banking<br/>operation</p>
		</div>
		<div class="gsyw dh" id="gsyw3" onclick="$('.Tab').hide();$('#103').show();">
			<img src="../../static/img/yw3.jpg"/>
			<p>The personal credit business<br/>consulting operations</p>
		</div>
	</div>
	<div class="Tab" id="101" style="display:none;">
		<div class="title">
			<img src="../../static/img/title.png" class="left"/><h3>SERVICES</h3>
			<h4>QIANKANG </h4><img src="../../static/img/title.png" class="right"/>
		</div> 
		<!--*****************************线上个人信贷风险控制服务商*****************************************-->	
		<div class="AboutUs qkly">
			<div><font>P</font>
			<h3>The internet supplier in</h3>
			<h4>ersonal credit risk control</h4>
			<span></span>
			<p>Based on the deep data mining and analysis in the bank and cloud data, to achieve the comprehensive risk control with personal credit screening and assessment, post-loan monitoring in the whole life cycle.</p></div>			
		</div>
		<div class="qktd qkdsj fzlc" id="qkly1">
			<p><img src="../../static/img/20.jpg"/>
			<img src="../../static/img/21.jpg"/>
			<img src="../../static/img/23.jpg" style="margin-right:0;"/></p>			
		</div>	
		<button class="back" onclick="$('.Tab').hide();$('#100').show();">BACk</button>
	</div>
	<div class="Tab" id="102" style="display:none;">
		<div class="title">
			<img src="../../static/img/title.png" class="left"/><h3>SERVICES</h3>
			<h4>QIANKANG</h4><img src="../../static/img/title.png" class="right"/>
		</div>
		<!--*****************************互联网银行运营*****************************************-->	
		<div class="AboutUs qkly" id="qkly2">
			<div><font>B</font>
			<h3>The internet</h3>
			<h4>anking operation</h4>
			<span></span>
			<p>Qiankang Jinfu is a provider of data-based network credit solutions and online risk management models. It also commits to strategic, business and technical, product design and business operation consultation in direct banking. Based on its mature technology platform for banks, it could be a comprehensive direct banking with the risk management for the full-service life cycle. The company gathered many senior professionals in the Internet financial industry. They utilize the professional content, activity and product marketing in online and offline channels to gain customers. They use the resources from their strategic partners( such as Suning consumption finance, the public banks and some large internet platforms) to produce continuous professional services in the internet credit and risk control system.</p></div>
		</div>
		<div class="qktd qkdsj fzlc" id="img22">
			<p><img src="../../static/img/18.jpg"/>
			<img src="../../static/img/19.jpg"/>
			<img src="../../static/img/22.jpg" style="margin-right:0;"/></p>			
		</div>	
			
		<button class="back" onclick="$('.Tab').hide();$('#100').show();">BACK</button>
		
	</div>

	<div class="Tab" id="103" style="display:none;">
		<div class="title">
			<img src="../../static/img/title.png" class="left"/><h3>SERVICES</h3>
			<h4>QIANKANG </h4><img src="../../static/img/title.png" class="right"/>
		</div>
		<!--*****************************个人信贷业务咨询运营*****************************************-->	
		<div class="AboutUs qkly" id="qkly3">
			<div><font>C</font>
			<h3>The personal credit business</h3>
			<h4>onsulting operations</h4></div>
			<span></span>
			<p>1. micro-credit<br/>Qiankang finance’s micro-credit consultation is based on researching the IPC micro-credit application technology. And we put advanced data systems into practice to break the traditional consulting, and cover product design, customer identification, risk control and the full-service management in micro-credit business.<br/>
			Its financial consulting and operation model can help banks to effectively improve the core competitiveness and sustainable development capacity. In the meanwhile, they could accelerate the development of micro-credit business, and improve the operation efficiency by cultivating a high quality team. It is possible to gain profits in micro-credit business for banks in the short time with Qiankang professional consulting.
			</p>
		</div>
		<div class="qktd qkdsj fzlc" id="img22">
			<p><img src="../../static/img/sc38.jpg"/>
			<img src="../../static/img/sc39.jpg"/>
			<img src="../../static/img/sc40.jpg" style="margin-right:0;"/></p>			
		</div>	
		<!--*****************************个人信贷业务咨询运营*****************************************-->	
		<div class="AboutUs qkly dh" id="qkly4" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;">			
			<div><font>C</font>
			<h3>The personal credit business</h3>
			<h4>onsulting operations</h4></div>
			<span></span>
			<p>2, credit card<br/>Qiankang finance serves customers with a full range of credit card business and operational consulting services by following the seven modules of credit card in the full-life cycle, designing products based on specific shopping scenes, considering the traditional high-yield business and relying on modern information technology system. The specific services include credit card business development strategy consulting, credit card center construction and management consulting, credit card business integrated risk management consulting, credit card innovation product design consulting, credit card management capabilities and marketing capacity building, credit card business operation consulting and so on.
			</p>
		</div>
		<div class="qktd qkdsj fzlc dh" id="img33" style="filter:alpha(opacity=0);opacity:0;">
			<p><img src="../../static/img/11.jpg"/>
			<img src="../../static/img/15.jpg"/>
			<img src="../../static/img/17.jpg" style="margin-right:0;"/></p>			
		</div>	
		<button class="back" onclick="$('.Tab').hide();$('#100').show();">BACK</button>
			
	</div>
	<div class="side">
		<ul>
			<li><a href="/qkly" ><div class="sidebox"><img src="../../static/img/side_icon02.png">CHINESE</div></a></li>
			<li id="QQ"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1103924915&amp;site=qq&amp;menu=yes" target="_blank" ><div class="sidebox"><img src="../../static/img/side_icon04.png">QQ</div></a></li>
			<li style="border:none;"><a href="javascript:goTop();" class="sidetop"><img src="../../static/img/side_icon05.png"></a></li>
		</ul>
	</div>
<!--*****************************foot*****************************************-->
	<div class="foot">
		<span>Copyright(C)2011-2014 Qiankang(Shanghai) Finance Consulting Co.,Ltd.</span><br/>
		<span>Shanghai ICP for 13043724</span>
	</div>
</div>	
	
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script><!-- 动画渐变背景插件-->
	
	
	
	<script type="text/javascript">
		$(document).ready(function(){  
			$(window).scroll(function(){
				var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)	
				if($("#103").css("display")!="none"){
					if(srollPos>"550"){//公司简介
						$("#qkly4").animate({left:'0',opacity:'1'},1000);
					}
					if(srollPos>"1050"){//公司简介
						$("#img33").animate({opacity:'1'},1000);
					}
				}
			});
			if($(window).width()<"1100"){//屏幕小于1100不展示动画
				$(".dh").css("opacity","1");
				$(".dh").css("filter","alpha(opacity=100)");
				$(".dh").css("left","0");
				$(".dh").css("right","0");
			}
			$(".side ul li").hover(function(){
				$(this).find(".sidebox").stop().animate({"width":"124px"},200).css({"opacity":"1","filter":"Alpha(opacity=100)","background":"#ae1c1c"})	
			},function(){
				$(this).find(".sidebox").stop().animate({"width":"54px"},200).css({"opacity":"0.8","filter":"Alpha(opacity=80)","background":"#000"})	
			});
		});
		//回到顶部
		function goTop(){
			$('html,body').animate({'scrollTop':0},600);
		}
		function bennerDH(){//banner动画
			$('#bannerDh1').animate({right:'0'},1200);
			$('#bannerDh2').animate({left:'0'},1200);
			$('#bannerDh3').animate({right:'0'},1200);
			$('#bannerDh4').animate({left:'0'},1200);			
		}
	</script>
</body>
</html>
