<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务股份有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link rel="SHORTCUT ICON" href="../3.ico"/>
	
	
	<!-- The styles -->
	<!-- 地图 -->
	<script type="text/javascript" src="../../static/js/bdMap.js"></script>
	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/imagehover.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">	
		
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
<div class="main">
	<!--**************************************************top***********************************************-->
	<div class="logo" style="position:fixed;z-index:10000;">	
		<a href="/index"><img src="../../static/img/logo.png"/></a>
		<ul class="newnav" style="margin-left:20px;z-index:10000;">
			<li class="active"><a href="/qkly">乾康领域</a></li>
			<li><a href="/qkhb">乾康伙伴</a></li>
			<li><a href="/qkjz">乾康家族</a></li>
			<li><a href="/jrqk">加入乾康</a></li>	
			<li><a href="/gyqk">关于乾康</a></li>
			<li><a href="/qkxw">乾康新闻</a></li>	
		</ul>
	</div>
	<!-- SLIDER -->
	<div id="outerslider">
		<div id="slidercontainer">
			<section id="slider">
			<div class="box_skitter box_skitter_large">					
				<ul >
					<li>
						<img src="../../static/img/banner4.jpg" alt="" style="height:100%"/>                            
					</li>
					<!-- <li>
						<img src="../../static/img/banner5.jpg" alt="" style="height:100%"/>                            
					</li>          
					<li>
						<img src="../../static/img/banner6.jpg" alt="" style="height:100%"/>                            
					</li> -->    
				</ul>
			</div>
			</section>
		</div>
	</div>
	<!-- END SLIDER -->		
	<div class="qkly" id="qkly" onmouseleave="resetTab()">
		<div class="span4 active" onclick="Tab(this,'101')" onmouseover="Tab3(this,'101')" id="Tab101">
			<img src="../../static/img/101_h.png"/>		
			<h1>联合信贷<br/><span>JOINT<br/>CREDIT<br/>BUSINESS</span></h1>
		</div>
		<div class="span4" onclick="Tab(this,'102')" onmouseover="Tab3(this,'102')" id="Tab102">
			<img src="../../static/img/102.png"/>	
			<h1>个人金融业务咨询运营<br/><span>PERSONAL<br/>FINANCIAL<br/>SERVICES</span></h1>
		</div>
		<div class="span4" onclick="Tab(this,'103')" onmouseover="Tab3(this,'103')" id="Tab103">
			<img src="../../static/img/103.png"/>		
			<h1>远程授信评估平台<br/><span>REMOTE<br/>CREDIT<br/>EVALUATION</span></h1>
		</div>
	</div>
	<!--**************************************************title***********************************************-->	
	<div id="101" class="Tab">	
		<div class="title">
			<h1>联合信贷</h1><h2>J</h2><h3>oint credit business</h3>
		</div>
		<div class="xfjrList zp">
			<div onclick="$('.Tab').hide();$('#zp1').show();">
				<img src="../../static/img/xfjr1.jpg"/>
				<p style="line-height:3em;">联合信贷业务是什么</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp2').show();">
				<img src="../../static/img/sc31.jpg"/>
				<p style="line-height:3em;">联合信贷解决何种困境</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp3').show();">
				<img src="../../static/img/xfjr4.jpg"/>
				<p style="line-height:3em;">乾康优势是什么</p>
			</div>
		</div>
	</div>
	<div class="Tab" id="zp1" style="display:none;">
		<div class="title">
			<h1>联合信贷业务是什么</h1><h2>J</h2><h3>oint credit business</h3>
		</div>
		<div class="AboutUs" id="xx1" style="background-image:url(../../static/img/sc34.jpg);">
			<h1 style="margin-top:0px;">Joint Credit Business</h1>
			<h2>联合信贷业务是什么</h2>
			<span></span>
			<font>
				联合信贷是中小银行小额信用贷款的发展方向，通过将电商金融平台资金与数据接入乾康的联合信贷系统，与银行信贷系统紧密连接，解决了银行授信体系与外部金融平台嫁接的难题。
			</font>
		</div>
		<div id="dh7" class="dh" style="position:relative;right:-100%;">			
			<div class="AboutUs xfjr xw" id="xfjrbj" style="text-align:center;">
				<img src="../../static/img/lhxd1.png"/>
			</div>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>	
	<div class="Tab" id="zp2" style="display:none;">
		<div class="title">
			<h1>联合信贷解决何种困境</h1><h2>S</h2><h3>ove dilemma </h3>
		</div>
		<div class="AboutUs xfjr">
			<img src="../../static/img/11.jpg" id="img1"/>
			<h1 class="tip">银行困境</h1>
			<p>
				1、传统小额信用贷款人力成本重、单位产出低、利润难以覆盖。<br/>
				2、由于中小银行科技力量薄弱，对单家银行来说，系统的研发成本高。<br/>
				3、小额贷获客难度高，风险高。<br/>
				4、中小银行存贷比畸形。<br/>
			</p>
			<h1 class="tip">消金公司困境</h1>
			<p>
				1、解决了电商集团在全国范围内将消费金融业务落地的问题。<br/>
				2、为消费金融公司引入了银行低成本资金，提高了资金杠杆，分散了贷款风险。
			</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	
	<div class="Tab" id="zp3" style="display:none;">
		<div class="title">
			<h1>乾康优势是什么</h1><h2>A</h2><h3>dvantage </h3>
		</div>
		<div class="AboutUs xfjr">
			<img src="../../static/img/3.jpg" id="img2"/>
			<h1 class="tip">乾康优势</h1>
			<p>
				1、	我司拥有大量的中小银行客户，并驻场运营信贷业务，2/3项目开展2年以上业绩优异，深入银行核心层面。<br/>
				2、	我司与某电商集团消费金融公司多领域战略合作，共同研发消费金融反欺诈模型、转化获客模型，并在信贷平台中充分应用。<br/>
				3、	乾康的联合信贷平台提供了双方都认可的前置大数据风控系统，解决了银行风控体系与外部金融平台嫁接的难题。 <br/>
				
			</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div id="102" class="Tab" style="display:none;">
		<div class="title">
			<h1>个人信贷业务咨询运营</h1><h2>P</h2><h3>ersonal financial services</h3>
		</div>
		<div class="AboutUs xfjr ywzxyy">	
			<img src="../../static/img/sc8.jpg" class="imgright"/>	
			<h1>一、微小贷款业务咨询、运营</h1>
			<p>乾康公司的微小贷款咨询运营业务是基于IPC微贷应用技术，总结多家银行小微贷业务运营中的先进实战经验，在此基础上，经过深入研究、总结提炼，形成独具本土特色的，涵盖客户识别、风险控制、全流程管理的乾康小微贷款业务体系。<br/>乾康公司创新了客户经理分层管理体系、客户网络化维护模式、以及高效的绩效评估考核办法、责任清晰奖惩准确的责任管理体系。<br/><br/><br/></p>
		</div>
		<div class="AboutUs xfjr ywzxyy dh" id="dh21" style="position:relative;right:-100%;">	
			<img src="../../static/img/sc9.jpg" class="imgleft" />
			<h1>二、信用卡业务咨询、运营</h1>
			<p>乾康金融提供全方位的信用卡业务咨询、运营。信用卡业务发展战略咨询；信用卡中心管理架构、业务体系咨询；信用卡业务产品创新设计咨询；信用卡业务综合风险管理策略咨询，完善的风险防控体系；信用卡中心管理能力和营销能力建设；信用卡业务运营，咨询的基础上进一步进行实施咨询成果，与银行共享收益。
		</p>
		</div>
		<div class="AboutUs xfjr ywzxyy dh" id="dh22" style="position:relative;left:-100%;">	
			<img src="../../static/img/sc10.jpg" class="imgright" />
			<h1>三、个人金融业务管理和营销能力培养</h1>
			<p>乾康(上海)提高金融业务核心竞争力及可持续发展能力，保证个人金融业务的全面开展及顺利进行，培养一支具有独立开展业务、有效控制风险、深入开拓市场、出色完成业绩的高素质核心队伍。</p>
		</div>
	</div>
	<div id="103" class="Tab" style="display:none;">
		<div class="title">
			<h1>远程授信评估平台</h1><h2>R</h2><h3>emote credit evaluation</h3>
		</div>
		<div class="AboutUs" id="sxpt" style="background-image:url(../../static/img/sc5.jpg);">	
			<h2 style="margin-top:30px;">《乾康金融远程授信平台》</h2>
			<span></span>
			<font style="width:37.5%">
				《乾康金融远程授信平台》提供给了授信专家在线进行授信评估的远程授信平台，有效整合授信专家资源，精准防控授信风险。按照风险特性匹配专项授信专家，灵活的授信评估和审核审批模式，实现对授信专家的业务能力和风险控制管理。
			</font>			
		</div>
		<div class="AboutUs qywh dh" id="dh33" style="background-image:url(../../static/img/sc2.jpg);position:relative;right:-100%;">
			<h1>授信评估模型</h1>
			<h2>Credit Evaluation Model</h2>
			<span></span>
			<font>
				乾康金融《授信评估模型》基于对个人金融业务的信用授信策略，以评估主体的还款能力、企业经营状况、所有者（经营者）道德品质、所有者（经营者）生活状态等多维度为基点，线下和先上数据相结合，以独特的算法建模，同时引入大数据，数据挖掘和分析，对评估主体进行精准资信评估。

			</font>
		</div>
	</div>		
	
	<!-- 切换语言 -->		
	<div class="lanage" onclick="setLanage(this)">						
		<img src="../../static/img/yy.png" id="yySmall" onmouseover="showYY()"/>	
		<ul id="yyBig" onmouseleave="hideYY()">
			<li><a href="/index"><img src="../../static/img/Ch.png"/>中文</a></li>
			<li><a href="/index_EN"><img src="../../static/img/En.png"/>ENGLISH</a></li>
		</ul>
	</div>	
	<div class="back-to-top">
		<img src="../../static/img/back-to-top.png"/>
	</div>
<!--**************************************************foot***********************************************-->
		<div class="dialog">
			<div class="background">				
				<form class="dialog-box">
					<p><img class="close" src="../../static/img/close.jpg" onclick="$('.dialog').hide();"/></p>
					<img id="bigImg"/>
				</form>
			</div><!--透明背景-->
		</div><!--对话框-->
	<div class="foot">
		<span>Copyright(C)2011-2014 乾康（上海）金融信息服务股份有限公司</span><br/>
		<span>沪ICP备13043724号</span>
	</div>
</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".cgal").mouseover(function(){
				$(this).find(".zz").show();
			});
			$(".cgal").mouseout(function(){
				$(this).find(".zz").hide();
			});
			
			if($(window).width()<"800"){
				$(".box_skitter").html("<ul>"+
											"<li>"+
												"<img src='../../static/img/banner11.jpg'/>"+                        
											"</li>"+
											
										"</ul>");
				
				$(".dh").css("opacity","1");
				$(".dh").css("filter","alpha(opacity=100)");
				
				$(".dh").css("left","0");
				$(".dh").css("right","0");
			}
			else{
				$(window).scroll(function(){
					var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)	
					if($("#zp1").css("display")!="none"){
						if(srollPos>"300"){
							$("#dh7").animate({right:"0"},"slow");
						}
						else{
							$("#dh7").css("right","-100%")
							
						}
					}					
					if($("#ywly").css("display")!="none"){
						if(srollPos>"1200"){
							$("#ywly4").animate({right:"0"},"slow");
						}				
						else{
							$("#ywly4").css("right","-120%");
							if(srollPos>"800"){
								$("#ywly3").animate({left:"0"},"slow");
							}
							else{
								$("#ywly3").css("left","-120%");
								if(srollPos>"500"){
									$("#ywly2").animate({right:"0"},"slow");
								}
								else{
									$("#ywly2").css("right","-120%")
								}
							}
						}
					}
					if($("#glspx").css("display")!="none"){
						if(srollPos>"1600"){
							$("#gls3").animate({opacity:"1"},"slow");
						}	
						else{
							$("#gls3").css("filter","alpha(opacity=0)");
							$("#gls3").css("opacity","0");
							if(srollPos>"1150"){
								$("#gls2").animate({opacity:"1"},"slow");
							}	
							else{
								$("#gls2").css("filter","alpha(opacity=0)");
								$("#gls2").css("opacity","0");
								if(srollPos>"600"){
									$("#gls1").animate({opacity:"1"},"slow");
								}	
								else{
									$("#gls1").css("filter","alpha(opacity=0)");
									$("#gls1").css("opacity","0");
								}							
							}	
						}
					}
					if($("#102").css("display")!="none"){
						if(srollPos>"600"){
							$("#dh22").animate({left:"0"},"slow");
						}
						else{
							$("#dh22").css("left","-100%");
							if(srollPos>"300"){
								$("#dh21").animate({right:"0"},"slow");
							}
							else{
								$("#dh21").css("right","-100%")
							}
						}
					}
					
					
					if($("#zp4").css("display")!="none"){
						if(srollPos>"2400"){
							$("#dh16").animate({right:"0"},"slow");
						}
						else{
							$("#dh16").css("right","-100%")
							if(srollPos>"2100"){
								$("#dh15").animate({left:"0"},"slow");
							}
							else{
								$("#dh15").css("left","-100%");
								if(srollPos>"1800"){
									$("#dh14").animate({right:"0"},"slow");
								}
								else{
									$("#dh14").css("right","-100%")
									if(srollPos>"1400"){
										$("#dh13").animate({left:"0"},"slow");
									}	
									else{
										$("#dh13").css("left","-100%");
										if(srollPos>"1000"){
											$("#dh12").animate({right:"0"},"slow");
										}				
										else{
											$("#dh12").css("right","-100%")
											if(srollPos>"600"){
												$("#dh11").animate({left:"0"},"slow");
											}
											else{
												$("#dh11").css("left","-100%");
												if(srollPos>"400"){
													$("#dh10").animate({right:"0"},"slow");
												}
												else{
													$("#dh10").css("right","-100%")
												}
											}
										}
									}
								}
							}
						}
					}
					if($("#103").css("display")!="none"){
						if(srollPos>"500"){
							$("#dh33").animate({right:"0"},"slow");
						}
						else{
							$("#dh33").css("right","-100%")
						}
					}				
				});
			}
		});	
		function dialog(obj){
			var src=$(obj).find(".smallImg").attr("src");			
			$("#bigImg").attr("src",src);
			$('.dialog').show();
		}
	</script>
	
</body>
</html>
