<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务股份有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	
	
	<!-- The styles -->
	<!-- 地图 -->
	<script type="text/javascript" src="../../static/js/bdMap.js"></script>
	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/imagehover.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">	
		
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
<div class="main">
	<!--**************************************************top***********************************************-->
	<div class="logo" style="position:fixed;z-index:10000;">	
		<a href="/index"><img src="../../static/img/logo.png"/></a>
		<ul class="newnav" style="margin-left:20px;z-index:10000;">
			<li class="active"><a href="/qkly">乾康领域</a></li>
			<li><a href="/qkhb">乾康伙伴</a></li>
			<li><a href="/qkjz">乾康家族</a></li>
			<li><a href="/jrqk">加入乾康</a></li>	
			<li><a href="/gyqk">关于乾康</a></li>
		</ul>
	</div>
	<!-- SLIDER -->
	<div id="outerslider">
		<div id="slidercontainer">
			<section id="slider">
			<div class="box_skitter box_skitter_large">					
				<ul >
					<li>
						<img src="../../static/img/banner4.jpg" alt="" style="height:100%"/>                            
					</li>
					<li>
						<img src="../../static/img/banner5.jpg" alt="" style="height:100%"/>                            
					</li>          
					<li>
						<img src="../../static/img/banner6.jpg" alt="" style="height:100%"/>                            
					</li>    
				</ul>
			</div>
			</section>
		</div>
	</div>
	<!-- END SLIDER -->		
	<div class="qkly" id="qkly" onmouseleave="resetTab()">
		<div class="span4 active" onclick="Tab(this,'101')" onmouseover="Tab3(this,'101')" id="Tab101">
			<img src="../../static/img/101_h.png"/>		
			<h1>互联网消费金融<br/><span>INTERNET<br/>CONSUMER<br/>FINANCE</span></h1>
		</div>
		<div class="span4" onclick="Tab(this,'102')" onmouseover="Tab3(this,'102')" id="Tab102">
			<img src="../../static/img/102.png"/>	
			<h1>个人金融业务咨询运营<br/><span>PERSONAL<br/>FINANCIAL<br/>SERVICES</span></h1>
		</div>
		<div class="span4" onclick="Tab(this,'103')" onmouseover="Tab3(this,'103')" id="Tab103">
			<img src="../../static/img/103.png"/>		
			<h1>远程授信评估平台<br/><span>REMOTE<br/>CREDIT<br/>EVALUATION</span></h1>
		</div>
	</div>
	<!--**************************************************title***********************************************-->	
	<div id="101" class="Tab">	
		<div class="title">
			<h1>互联网消费金融</h1><h2>I</h2><h3>nternet consumer finance</h3>
		</div>
		<div class="xfjrList zp">
			<div onclick="$('.Tab').hide();$('#zp3').show();">
				<img src="../../static/img/sc30.jpg"/>
				<p style="line-height:3em;">消费金融简介</p>
			</div>
			<div onclick="$('.Tab').hide();$('#ywly').show();">
				<img src="../../static/img/xfjr2.jpg"/>
				<p style="line-height:3em;">消费金融业务领域</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp1').show();">
				<img src="../../static/img/sc4.png"/>
				<p style="line-height:1.5em;">中国互联网银行研究院消费金融研究中心成立</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp4').show();">
				<img  src="../../static/img/sc31.jpg"/>
				<p style="line-height:3em;">互联网消费金融管理师</p>
			</div>
			<div onclick="$('.Tab').hide();$('#glspx').show();">
				<img src="../../static/img/xfjr1.jpg"/>
				<p style="line-height:3em;">消费金融管理师培训</p>
			</div>
			<div>
				<img src="../../static/img/xfjr3.jpg"/>
				<p style="line-height:3em;">消费金融平台运营</p>
			</div>
			<div>
				<img src="../../static/img/xfjr4.jpg"/>
				<p style="line-height:3em;">消费金融软件开发</p>
			</div>
		</div>
	</div><div class="Tab" id="zp1" style="display:none;">
		<div class="title">
			<h1>中国互联网银行研究院消费金融研究中心成立</h1><h2>S</h2><h3>et up</h3>
		</div>
		<div class="AboutUs" id="zxjj" style="background-image:url(../../static/img/sc32.jpg);">
			<h1>Consumer Finance Research Center</h1>
			<h2>消费金融研究中心简介</h2>
			<span></span>
			<font>中国互联网银行研究院消费金融研究中心是以提升银行等传统金融企业竞争力为重点，以支持国家经济增速为目标，开展对行业的研究、咨询、整合、培训、发展规划及相关活动的监测咨询机构。隶属中国互联网银行研究院。</font>
		</div>
		<div class="AboutUs qywh yjzxcl" id="dh1" style="background-image:url(../../static/img/sc33.jpg);position:relative;right:-100%;">
			<h1>Consumer Finance Research Center Build</h1>
			<h2>消费金融研究中心成立</h2>
			<span></span>
			<font class="zxcl">2015年1月，由中国电子商务协会主办的2015中国互联网银行高峰论坛暨中国互联网研究院授牌仪式在北京国家会议中心隆重举行，中国互联网银行研究院消费金融研究中心在此背景下应运而生。中国互联网银行研究院消费金融研究中心坚守金融业诚信、审慎、稳健、盈利的经营本质，为推进中国居民能够受惠于普惠金融而培养相应的优秀人才做出应有的贡献。
			<br/>2016年3月16日，中国互联网银行研究院消费金融研究中心批复成立，任命周滨为研究中心主任委员，任命贺磊、刘学军为研究中心副主任，并由周滨全面负责研究中心相关工作。
			</font>
		</div>
		<div id="dh2" style="position:relative;left:-100%;">
			<div class="title">
				<h1>研究中心授牌</h1><h2>A</h2><h3>pproval authorization</h3>
			</div>
			<div class="AboutUs xfjr" style="text-align:center;">
				<img src="../../static/img/qkjf2.png" class="img2"/>
			</div>
		</div>
		<div id="dh3" style="filter:alpha(opacity=0);opacity:0;width:100%">
			<div class="title">
				<h1>开展职业技能培训</h1><h2>V</h2><h3>ocational skills training</h3>
			</div>
			<div class="AboutUs xfjr">
				<p>随着互联网银行行业迅速发展，行业规模不断增长，整个行业对人才的需求愈加强烈，但目前从业人员良莠不齐，一定程度上影响了市场环境。
				<br/>为全面提升行业从业人员整体素质，规范行业市场环境，推动行业健康可持续发展，应党中央及国务院号召，中国互联网银行研究院消费金融研究中心（以下简称“中心”）批复成立，以规范消费金融业务的操作标准为宗旨，协助银行进入消费金融蓝海行业，培养消费金融人才，应党中央及国务院号召，中心设立并开展“互联网消费金融管理师”职业技能培训认证项目。
				</p>
				<img src="../../static/img/5.jpg" class="img3"/>
				<img src="../../static/img/6.jpg" class="img3"/>
				<img src="../../static/img/7.jpg" class="img3"/>
			</div>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="zp3" style="display:none;">
		<div class="title">
			<h1>消费金融简介</h1><h2>C</h2><h3>onsumer finance profile</h3>
		</div>
		<div class="AboutUs" id="xx1" style="background-image:url(../../static/img/sc34.jpg);">
			<h1 style="margin-top:0px;">Consumer Finance</h1>
			<h2>什么是消费金融</h2>
			<span></span>
			<font>
				消费金融是指消费金融公司向借款人发放以消费（不包括购买房屋和汽车）为目的的贷款。具有单笔授信额度小、审批速度快、无需抵押担保、服务方式灵活、贷款期限短等优势。
				<br/>消费金融一方面能有效激发居民的消费需求，推动消费市场健康快速发展，二是消费金融能够帮助居民实现便利消费，催生新型消费市场及业态。

			</font>
		</div>
		<div id="dh7" style="position:relative;right:-100%;">
			<div class="title">
				<h1>消费金融国内背景</h1><h2>B</h2><h3>ackground</h3>
			</div>
			<div class="AboutUs xfjr" id="xfjrbj">
				<p>目前，中国消费性贷款余额占总贷款余额只有20%左右，与欧美发达国家50%比仍有很大差距，从贷款明细来看，在13年到14年银行的个人贷款中，消费信贷比例也在房贷和车贷之后，排第三位。</p>
				<p>中国互联网消费金融目前处于市场启动阶段，随着互联网银行行业的整体发展，居民观念的进一步升级，以及对互联网消费金融模式的进一步认可，互联网消费金融市场在未来三年，将继续保持爆发式的增长势头。2014年互联网消费金融市场交易规模达到96.9亿人民币，环比增长112.5%，预计到2017年市场交易规模将突破1000亿人民币。</p>
					
				<p>我国互联网消费金融公司发展经历了三个阶段：</p>
				<p><strong>1、第一阶段试点期 2010年—2013年</strong></p>
				<p>有北银消费金融公司，中银消费金融公司，锦城消费金融公司和捷信消费金融公司。分别在北京，上海，成都，天津展开试点</p>
				<p><strong>2、第二阶段扩张期 2013年—2015年</strong></p>
				<p>新增试点城市包括：沈阳，南京，杭州，合肥，泉州，武汉，广州，重庆，西安，青岛</p>
				<p><strong>3、第三阶段全面开放期 2015年至今</strong></p>
				<p>一方面将试点城市扩展到全国，另一方面将审批权下放到各省级部门</p>
				<p>位于青岛的海尔消费金融公司，位于武汉的湖北消费金融公司，位于南京的苏宁消费金融公司，位于重庆的马上消费金融公司，位于广州的中邮消费金融公司，杭州的杭银消费金融公司，合肥的徽银消费金融公司，山西的晋商消费金融公司，辽宁的盛银消费金融公司等等，消费金融公司的成立使金融行业体系更加健全，对消费金融的发展具有积极作用。</p>
				<img src="../../static/img/8.jpg" class="img3"/>
				<img src="../../static/img/9.jpg" class="img3"/>
				<img src="../../static/img/10.jpg" class="img3"/>
			</div>
		</div>
		<div id="dh8" style="position:relative;left:-100%;">
			<div class="title" id="xfjrzy">
				<h1>消费金融作用</h1><h2>E</h2><h3>ffect</h3>
			</div>
			<div class="AboutUs xfjr" id="jrjgzy"><img src="../../static/img/11.jpg" style="float:right;width:24em;height:15.5em;margin-left:1em;"/>
				<p><strong>对金融机构作用</strong></p>
				<p>1、优化资产结构；2、促进利润增长；3、完善金融服务体系。</p>
				<p><strong>对消费者作用</strong></p>
				<p>1、满足正常消费需求；2、促进消费升级换代；3、增强个人信用意识。</p>
				<p><strong>对经济转型作用</strong></p>
				<p>1、扩大内需，拉动消费；2、转变经济发展方式；3、优化社会信用环境。</p>
				<p> 在贯彻落实国家“扩大内需、促进经济结构转型升级”方针的过程中，消费金融将成为经济转型和普惠金融的助推器，对于拉动经济发展和推动结构转型具有重大意义。</p>
				<p>消费金融在提高消费者生活水平、支持经济增长等方面发挥着积极的推动作用，这一金融服务方式目前在成熟市场和新兴市场均已得到广泛使用。</p>
			</div>
		</div>
		<div id="dh9" style="filter:alpha(opacity=0);opacity:0;width:100%">
			<div class="title">
				<h1>当前国内的消费金融市场</h1><h2>M</h2><h3>arket</h3>
			</div>
			<div class="xfjrList zp">
				<div>
					<img src="../../static/img/12.jpg">
					<p style="line-height:1.5em;">大学生消费分期市场</p>
				</div>
				<div>
					<img src="../../static/img/13.jpg">
					<p style="line-height:1.5em;">蓝领消费分期市场</p>
				</div>
				<div>
					<img src="../../static/img/14.jpg">
					<p style="line-height:1.5em;">租房消费分期市场</p>
				</div>
				<div>
					<img src="../../static/img/15.jpg">
					<p style="line-height:1.5em;">旅行消费分期市场</p>
				</div>
				<div>
					<img src="../../static/img/16.jpg">
					<p style="line-height:1.5em;">装修消费分期市场</p>
				</div>
				<div>
					<img src="../../static/img/17.jpg">
					<p style="line-height:1.5em;">教育消费分期市场</p>
				</div>
			</div>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>	
	<div class="Tab" id="zp4" style="display:none;">
		<div class="title">
			<h1>互联网消费金融管理师 课程</h1><h2>B</h2><h3>ank project assistant</h3>
		</div>
		<div class="AboutUs xfjr">
			<img src="../../static/img/18.jpg" id="img1"/>
			<h1 class="tip">一、课程背景</h1>
			<p>2016年互联网银行人才吸引力指数持续走高，人才吸引力位居榜首，多个行业都是人才净流入状况，相关统计数据显示，未来数年中国互联网银行人才缺口将高达300多万，而消费金融人才则属于缺口中的缺口，未来十几年内，国内消费金融人才缺口将持续攀升。<br/>
			2016年3月16日，中国互联网银行研究院批复成立“中国互联网银行研究院消费金融研究中心（以下简称“中心”），以规范消费金融业务的操作标准为宗旨，协助银行进入消费金融蓝海行业，培养消费金融人才，应党中央及国务院号召，中心设立并开展“互联网消费金融管理师”职业技能培训认证项目。</p>
		</div>
		<div class="AboutUs xfjr" id="dh10" style="position:relative;right:-100%;">	
			<img src="../../static/img/19.jpg" id="img2" />
			<h1 class="tip">二、机构成立</h1>
			<p>2015年1月，由中国电子商务协会主办的2015中国互联网银行高峰论坛暨中国互联网研究院授牌仪式在北京国家会议中心隆重举行，中国互联网银行研究院消费金融研究中心在此背景下应运而生。中国互联网银行研究院消费金融研究中心坚守金融业诚信、审慎、稳健、盈利的经营本质，为推进中国居民能够受惠于普惠金融而培养相应的优秀人才做出应有的贡献。</p>
			<p>2016年3月16日，中国互联网银行研究院消费金融研究中心批复成立。</p>
		</div>
		<div class="AboutUs xfjr" id="dh11" style="position:relative;left:-100%;">	
			<img src="../../static/img/20.jpg" id="img3" />
			<h1 class="tip">三、机构简介</h1>			
			<p>中国互联网银行研究院消费金融研究中心是以提升银行等传统金融企业竞争力为重点，以支持国家经济增速为目标，开展对行业的研究、咨询、整合、培训、发展规划及相关活动的监测咨询机构。隶属中国互联网银行研究院。</p>
			
			<h1 class="tip">四、课程简介</h1>
			<p>《互联网消费金融管理师》系列课程分为高级班与中级班，按学时、授课渠道和内容分成不同的培训产品，同时，中心拟开立网络培训班。</p>
			<p>高级班课程内容包含：《消费金融概况》、《消费金融市场营销》、《消费金融业务与运营》、《消费金融风控与反欺诈》等；
			中级班课程有内容包含：《消费金融基础篇》、《消费金融营销篇》、《消费金融风控篇》、《消费金融合规篇》等。</p>
		</div>
		<div class="AboutUs xfjr" id="dh12" style="position:relative;right:-100%;">		
			<img src="../../static/img/21.jpg"  id="img4"/>
			<h1 class="tip">五、课程大纲（高级班）</h1>
			<p>（一）基础课程<br/>
			1.消费金融基础；2.消费金融的发展历史；3.国内消费金融经营实体介绍；4.消费金融的业务模式；5.几家典型的消费金融实体介绍<br/>
			（二）业务课程<br/>
			1.商业银行开展消费金融的意义；2.消费金融的业务模式选择；3.消费金融事业部/公司的组织架构；4.消费金融事业部/公司的部门角色；5.消费金融信贷工厂模式介绍；6.消费金融营销体系建设；7.消费金融产品的配置与创新；8.消费金融会计核算体系；9.消费金融的资产管理与催收；10.消费金融组织人员的培养、考核<br/>
			（三）风控课程<br/>
			1.消费金融业务的风控理念，其与公司业务、小微业务风控的差异；2.消费金融的风控文化在全流程信贷工厂的实现；3.风控部门的人员配置与分工；4.风控部门的核心流程（线上模式、线下模式）；5.风控模型的选择与优化；6.风控部门的绩效考核；7.消费金融资产的保全与催收</p>
			
		</div>
		<div class="AboutUs xfjr" id="dh13" style="position:relative;left:-100%;">	
			<img src="../../static/img/22.jpg"  id="img5" />
			<h1 class="tip">六、课程大纲（中级班）</h1>
			<p style="line-height:18px;">（一）基础篇</p>
			<p style="line-height:18px;">1.消费金融概述，消费金融定义、国内消费发展历史、趋势；2.消费金融参与机构、组织架构与角色分工；3.消费额金融业务模式（线上模式、线下模式、线上线下结合模式）；4.消费金融业务流程 （营销--审批-放款—催收，对流程做讲解）；5.消费金融产品（消费金融产品设置、计息方式、还款方式等相关计算等）；6.消费金融风控与反欺诈（消费金融业务如何做风控，如何反欺诈）；7.消费金融资产管理与催收；8.客户经理在消费金融业务中的地位及作用</p>
			<p style="line-height:18px;">（二）营销篇</p>
			<p style="line-height:18px;">1.市场营销对消费金融的意义与价值、消费金融营销的特点；2.消费金融营销对客户经理的要求；3.营销学基础；4.消费行为学、消费心理学基础；5.消费金融客户群体分析与营销策略；6.消费金融营销技能实操讲解与培训；7.礼仪、着装、言谈；8.说服技巧；9.产品推荐与解决方案；10.实操训练</p>
			<p style="line-height:18px;">（三）风控篇</p>
			<p style="line-height:18px;">1.风控及反欺诈对消费金融的意义与价值、消费金融风控及反欺诈的特点；2.消费金融风控及反欺诈营销对客户经理的要求；针对消费金融风控的特点说明客户经理在地推营销、调查方面的能力、知识要求；3.金融风险管理基础；4.消费金融风控及反欺诈在全流程的落地实现；在获客、审批、资产催收等环节的相关处理介绍；5.消费金融风控及反欺诈技能实操讲解与培训</p>
			<p style="line-height:18px;">（四）合规篇</p>
			<p style="line-height:18px;">1.国内消费金融监管发展历史；2.国内消费金融监管法律介绍；3.与消费金融相关的监管法规介绍；4.客户经理如何合规开展工作</p>
		</div>
		<div class="AboutUs xfjr" id="dh14" style="position:relative;right:-100%;">		
			<img src="../../static/img/23.jpg"  id="img6"/>
			<h1 class="tip">七、课程优势</h1>
			<p>实用性强，干货多 </p>
			<p>与传统的金融业务培训不同，本培训课程除了消费金融理论教学外，会将重点放在消费金融的实操与经验方面，培训教师很多来自国内一流的商业银行、消费金融公司，具备丰富的工作经验，除了传授消费金融理念，更多讲授消费金融相关核心环节如业务拓展，风控反欺诈，信息科技等等具体实操经验，学员可以在短时间内迅速成长为消费金融领域的实用骨干，在激烈的人才市场脱颖而出。</p>
			<p>品牌效应与价值提升</p>
			<p>作为耕耘国内金融服务市场多年的乾康金融与国家工信部消费金融研究院联合推出消费金融系列课程，合格学员将被颁发国家工信部认证的相关能力证书，这对广大学员是极好的价值提升标志和能力证明。</p>
		</div>
		<div class="AboutUs xfjr" id="dh15" style="position:relative;left:-100%;">		
			<img src="../../static/img/24.jpg" style="float:right;margin-left:20px;"/>	
			<h1 class="tip">八、师资说明</h1>
			<p>培训师资目前均来自学界、实务界相关领域的讲师、专家、律师以及风控资深分析师，名师荟萃，代表了互联网银行培训的专业水平，可以很好地保证培训的学员既能学到扎实的分析理论知识，又能具备较强的解决实际问题的能力，保证学员能胜任互联网消费金融工作的要求。</p>		
		</div>
		<div class="AboutUs xfjr" id="dh16" style="position:relative;right:-100%;">	
			<img src="../../static/img/qkjf5.png" style="float:left;margin-right:20px;margin-top:40px;"/>	
			<h1 class="tip">九、证书说明</h1>
			<p>“消费金融管理师”，是指在商业银行、消费金融公司、互联网银行公司等金融机构，从事消费金融行业的业务、风控、管理的专业人员的统称。
				<br/>《互联网消费金融管理师》证书是持证人执行互联网银行行业消费金融业务技能证明。该证书面向中国互联网银行从业人员、传统金融领域从业人员及有志进入该行业社会人士。
			<br/>《互联网消费金融管理师》证书由中国互联网银行研究院下设消费金融研究中心考核认证，中国互联网银行研究院认证颁发，工信部核发，盖工业和信息化部信息中心章。参加培训并考核通过者发证，持证者可胜任消费金融相关工作的市场营销、后台运营、风险控制、贷款审批、产品经理等岗位。
			</p>
			<p style="margin-top:20px;">了解证书具体信息，请扫描二维码</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="ywly" style="display:none;">
		<div class="title">
			<h1>消费金融业务领域</h1><h2>B</h2><h3>usiness field</h3>
		</div>
		<div class="AboutUs xfjr" id="xfjrywly">
			<div id="ywly1">
				<h1 class="tip">一、消费金融业务领域</h1>
				<div class="message">
					<p id="ms1"><font>1、咨询</font>面向金融机构提供消费金融为主题的系列咨询服务，包括战略咨询、业务咨询与技术咨询</p>
					<p id="ms2"><font>2、运营</font>乾康金服愿与金融机构共同成立消费金融组织，共同进行业务运营与技术运营，共担风险，共同成长</p>
					<p id="ms3" style="z-index:100"><font>3、培训</font>面向金融机构提供消费从业者培训，涵盖消费金融专业人员，包括客户经理、风控人员、资产催收人员等</p>
					<p id="ms4"><font>4、实施</font>面向金融机构提供消费金融应用系统的实施，乾康金服成熟的系统产品包括：渠道接入、客户营销、风控与反欺诈、资产催收等</p>
				</div>	
			</div>
			<div style="position:relative;right:-120%;" id="ywly2">
				<h1 class="tip" style="margin-top:80px;">二、消费金融事务</h1>
				<p>乾康金服与工信部中国互联网银行研究院深度合作，在消费金融领域深耕细作，目前正在合作开办消费金融从业者培训课程。</p>
				<img src="../../static/img/xfjr1.png" class="img3"/>
				<img src="../../static/img/xfjr2.png" class="img3"/>
				<img src="../../static/img/xfjr3.png" class="img3"/>				
			</div>
			<div style="position:relative;left:-120%;" id="ywly3">
				<h1 class="tip">三、消费金融获客渠道举例</h1>
				<p style="width:50%;display:inline-block;">1、北京华信电子企业集团	</p><p style="width:50%;display:inline-block;">2、乐家购物	</p>
				<img src="../../static/img/xfjr4.png" class="img2"/>
				<img src="../../static/img/xfjr5.png" class="img2"/>
				<h1 class="tip">四、客户导流渠道</h1>
				<p>1、网上商城&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、实体商圈&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、微信商圈</p>
			</div>
			<div style="position:relative;right:-120%;" id="ywly4">
				<h1 class="tip">五、消费金融系统</h1>
				<p>1、全流程风险控制</p><p>客户信息管理（进件）------综合风险管理------授信平台------渠道平台管理（打通消费金融生态链）</p><br/><br/>
				
				<img src="../../static/img/xfjr6.png" style="width:40%;margin-right:1.5%;float:right;margin-top:1em;"/>
				<p>2、授信平台</p>
				<p><b>优势：</b></p>
				<p>全方位数据：客户经理现场调查征信数据，大数据挖掘</p>
				<p>精湛的数据：交叉检验数据准确性 ，特有的算法逻辑挖掘数据，关联性心理学、行为心理学导入</p>
				<p>时效性：在线授信评估按照风险等级制定评估策略</p>
				<p>准确性：实时更新经济态势指数模型定制区域化授信专家在线指导</p><br/><br/>
				<p>3、大数据-原始数据收集和预处理</p>
				<p>原始数据：公积金、水电煤、新闻报刊、博客微博、通讯信息、互联网+</p>
				<p>预处理：数据去重---数据降噪---智能分词</p>
			</div>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="glspx" style="display:none;">
		<div class="title">
			<h1>消费金融管理师培训</h1><h2>M</h2><h3>anager training</h3>
		</div>
		<div class="AboutUs qywh" id="qkkh" style="background-image:url(../../static/img/sc6.jpg);padding-bottom:120px;margin-bottom:30px;">		
			<h2>消费金融管理师培训背景</h2>	
			<span></span>
			<font> 在贯彻落实国家“扩大内需、促进经济结构转型升级”方针的过程中，消费金融将成为经济转型和普惠金融的助推器，对于拉动经济发展和推动结构转型具有重大意义。
			2015年1月31日，由中国电子商务协会主办的中国互联网银行研究院成立并揭牌，以促进我国互联网银行的健康发展为宗旨，进行与互联网银行相关业务的调查和研究，为政府部门制定相关法律法规和政策提供参考建议，为国家经济社会发展服务。2016年3月16日，中国互联网银行研究院批准乾康金服(北京)信息技术有限公司成立“中国互联网银行研究院消费金融研究中心”，以规范消费金融业务的操作标准为宗旨，协助银行进入消费金融蓝海行业，培养消费金融人才，设立“消费金融管理师”职业培训。
			</font>
		</div>	
		<div id="zgzs" style="filter:alpha(opacity=0);opacity:0;width:100%;">
			<div class="title">
				<h1>职业资格证书</h1><h2>V</h2><h3>ocational certificate</h3>
			</div>
			<div class="AboutUs xfjr">
				<div class="jrgls" onclick="dialog(this);">
					<figure class="imghvr-zoom-in">
						<img src="../../static/img/jrgls1.jpg" class="smallImg">
						<figcaption>
							<img src="../../static/img/zz.png" class="zz"/>
						</figcaption><a href="javascript:;"></a>
					</figure>
				</div>
				<div class="jrgls" onclick="dialog(this);">
					<figure class="imghvr-zoom-in"><img src="../../static/img/jrgls2.jpg"  class="smallImg">
						<figcaption>
							<img src="../../static/img/zz.png" class="zz"/>
						</figcaption><a href="javascript:;"></a>
					</figure>
				</div>
				<div class="jrgls" onclick="dialog(this);">
					<figure class="imghvr-zoom-in"><img src="../../static/img/jrgls3.jpg"  class="smallImg">
						<figcaption>
							<img src="../../static/img/zz.png" class="zz"/>
						</figcaption><a href="javascript:;"></a>
					</figure>
				</div>
				<div class="jrgls" onclick="dialog(this);">
					<figure class="imghvr-zoom-in"><img src="../../static/img/jrgls4.jpg"  class="smallImg">
						<figcaption>
							<img src="../../static/img/zz.png" class="zz"/>
						</figcaption><a href="javascript:;"></a>
					</figure>
				</div>
				<div class="jrgls" onclick="dialog(this);">
					<figure class="imghvr-zoom-in"><img src="../../static/img/jrgls5.jpg"  class="smallImg">
						<figcaption>
							<img src="../../static/img/zz.png" class="zz"/>
						</figcaption><a href="javascript:;"></a>
					</figure>
				</div>
				<div class="jrgls" onclick="dialog(this);">
					<figure class="imghvr-zoom-in"><img src="../../static/img/jrgls6.jpg" class="smallImg">
						<figcaption>
							<img src="../../static/img/zz.png" class="zz"/>
						</figcaption><a href="javascript:;"></a>
					</figure>
				</div>
			</div>	

		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div id="102" class="Tab" style="display:none;">
		<div class="title">
			<h1>个人金融业务咨询运营</h1><h2>P</h2><h3>ersonal financial services</h3>
		</div>
		<div class="AboutUs xfjr ywzxyy">	
			<img src="../../static/img/sc8.jpg" class="imgright"/>	
			<h1 style="color:#1c57a8;">一、微小贷款业务咨询、运营</h1>
			<p>乾康公司的微小贷款咨询运营业务是基于IPC微贷应用技术，总结多家银行小微贷业务运营中的先进实战经验，在此基础上，经过深入研究、总结提炼，形成独具本土特色的，涵盖客户识别、风险控制、全流程管理的乾康小微贷款业务体系。<br/>乾康公司创新了客户经理分层管理体系、客户网络化维护模式、以及高效的绩效评估考核办法、责任清晰奖惩准确的责任管理体系。<br/><br/><br/></p>
		</div>
		<div class="AboutUs xfjr ywzxyy" id="dh21" style="position:relative;right:-100%;">	
			<img src="../../static/img/sc9.jpg" class="imgleft" />
			<h1 style="color:#1c57a8;">二、信用卡业务咨询、运营</h1>
			<p>乾康金融提供全方位的信用卡业务咨询、运营。信用卡业务发展战略咨询；信用卡中心管理架构、业务体系咨询；信用卡业务产品创新设计咨询；信用卡业务综合风险管理策略咨询，完善的风险防控体系；信用卡中心管理能力和营销能力建设；信用卡业务运营，咨询的基础上进一步进行实施咨询成果，与银行共享收益。
		</p>
		</div>
		<div class="AboutUs xfjr ywzxyy" id="dh22" style="position:relative;left:-100%;">	
			<img src="../../static/img/sc10.jpg" class="imgright" />
			<h1 style="color:#1c57a8;">三、个人金融业务管理和营销能力培养</h1>
			<p>乾康(上海)提高金融业务核心竞争力及可持续发展能力，保证个人金融业务的全面开展及顺利进行，培养一支具有独立开展业务、有效控制风险、深入开拓市场、出色完成业绩的高素质核心队伍。</p>
		</div>
	</div>
	<div id="103" class="Tab" style="display:none;">
		<div class="title">
			<h1>远程授信评估平台</h1><h2>R</h2><h3>emote credit evaluation</h3>
		</div>
		<div class="AboutUs" id="sxpt" style="background-image:url(../../static/img/sc5.jpg);">	
			<h2 style="margin-top:50px;">《乾康金融远程授信平台》</h2>
			<span></span>
			<font style="width:37.5%">
				《乾康金融远程授信平台》提供给了授信专家在线进行授信评估的远程授信平台，有效整合授信专家资源，精准防控授信风险。按照风险特性匹配专项授信专家，灵活的授信评估和审核审批模式，实现对授信专家的业务能力和风险控制管理。
			</font>			
		</div>
		<div class="AboutUs qywh" id="dh33" style="background-image:url(../../static/img/sc2.jpg);position:relative;right:-100%;">
			<h1>授信评估模型</h1>
			<h2>Credit Evaluation Model</h2>
			<span></span>
			<font>
				乾康金融《授信评估模型》基于对个人金融业务的信用授信策略，以评估主体的还款能力、企业经营状况、所有者（经营者）道德品质、所有者（经营者）生活状态等多维度为基点，线下和先上数据相结合，以独特的算法建模，同时引入大数据，数据挖掘和分析，对评估主体进行精准资信评估。

			</font>
		</div>
	</div>		
	
	<!-- 切换语言 -->		
	<div class="lanage" onclick="setLanage(this)">						
		<img src="../../static/img/yy.png" id="yySmall" onmouseover="showYY()"/>	
		<ul id="yyBig" onmouseleave="hideYY()">
			<li><a href="/index"><img src="../../static/img/Ch.png"/>中文</a></li>
			<li><a href="/index_EN"><img src="../../static/img/En.png"/>ENGLISH</a></li>
		</ul>
	</div>	
	<div class="back-to-top">
		<img src="../../static/img/back-to-top.png"/>
	</div>
<!--**************************************************foot***********************************************-->
		<div class="dialog">
			<div class="background">				
				<form class="dialog-box">
					<p><img class="close" src="../../static/img/close.jpg" onclick="$('.dialog').hide();"/></p>
					<img id="bigImg"/>
				</form>
			</div><!--透明背景-->
		</div><!--对话框-->
	<div class="foot">
		<br/>
		<span>Copyright(C)2011-2014 乾康（上海）金融信息服务股份有限公司</span><br/>
		<span>沪ICP备13043724号</span>
	</div>
</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".cgal").mouseover(function(){
				$(this).find(".zz").show();
			});
			$(".cgal").mouseout(function(){
				$(this).find(".zz").hide();
			});
			$(window).scroll(function(){
				var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)			
				if($("#ywly").css("display")!="none"){
					if(srollPos>"1200"){
						$("#ywly4").animate({right:"0"},"slow");
					}				
					else{
						$("#ywly4").css("right","-120%");
						if(srollPos>"800"){
							$("#ywly3").animate({left:"0"},"slow");
						}
						else{
							$("#ywly3").css("left","-120%");
							if(srollPos>"500"){
								$("#ywly2").animate({right:"0"},"slow");
							}
							else{
								$("#ywly2").css("right","-120%")
							}
						}
					}
				}
				if($("#glspx").css("display")!="none"){
					if(srollPos>"600"){
						$("#zgzs").animate({opacity:"1"},"slow");
					}	
					else{
						$("#zgzs").css("filter","alpha(opacity=0)");
						$("#zgzs").css("opacity","0");
					}	
				}
				if($("#102").css("display")!="none"){
					if(srollPos>"600"){
						$("#dh22").animate({left:"0"},"slow");
					}
					else{
						$("#dh22").css("left","-100%");
						if(srollPos>"300"){
							$("#dh21").animate({right:"0"},"slow");
						}
						else{
							$("#dh21").css("right","-100%")
						}
					}
				}
				if($("#zp1").css("display")!="none"){
					if(srollPos>"1100"){						
						$("#dh3").animate({opacity:"1"},"slow");
					}				
					else{
						$("#dh3").css("filter","alpha(opacity=0)");
						$("#dh3").css("opacity","0");
						if(srollPos>"700"){
							$("#dh2").animate({left:"0"},"slow");
						}
						else{
							$("#dh2").css("left","-100%");
							if(srollPos>"500"){
								$("#dh1").animate({right:"0"},"slow");
							}
							else{
								$("#dh1").css("right","-100%")
							}
						}
					}
				}
				if($("#zp3").css("display")!="none"){
					if(srollPos>"1500"){						
						$("#dh9").animate({opacity:"1"},"slow");
					}				
					else{
						$("#dh9").css("filter","alpha(opacity=0)");
						$("#dh9").css("opacity","0");
						if(srollPos>"800"){
							$("#dh8").animate({left:"0"},"slow");
						}
						else{
							$("#dh8").css("left","-100%");
							if(srollPos>"300"){
								$("#dh7").animate({right:"0"},"slow");
							}
							else{
								$("#dh7").css("right","-100%")
							}
						}
					}
				}
				if($("#zp4").css("display")!="none"){
					if(srollPos>"2400"){
						$("#dh16").animate({right:"0"},"slow");
					}
					else{
						$("#dh16").css("right","-100%")
						if(srollPos>"2100"){
							$("#dh15").animate({left:"0"},"slow");
						}
						else{
							$("#dh15").css("left","-100%");
							if(srollPos>"1800"){
								$("#dh14").animate({right:"0"},"slow");
							}
							else{
								$("#dh14").css("right","-100%")
								if(srollPos>"1400"){
									$("#dh13").animate({left:"0"},"slow");
								}	
								else{
									$("#dh13").css("left","-100%");
									if(srollPos>"1000"){
										$("#dh12").animate({right:"0"},"slow");
									}				
									else{
										$("#dh12").css("right","-100%")
										if(srollPos>"600"){
											$("#dh11").animate({left:"0"},"slow");
										}
										else{
											$("#dh11").css("left","-100%");
											if(srollPos>"400"){
												$("#dh10").animate({right:"0"},"slow");
											}
											else{
												$("#dh10").css("right","-100%")
											}
										}
									}
								}
							}
						}
					}
				}
				if($("#103").css("display")!="none"){
					if(srollPos>"500"){
						$("#dh33").animate({right:"0"},"slow");
					}
					else{
						$("#dh33").css("right","-100%")
					}
				}				
			});
			if($(window).width()<"800"){
				$(".box_skitter").html("<ul>"+
											"<li>"+
												"<img src='../../static/img/banner11.jpg'/>"+                        
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner12.jpg' /> "+                           
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner13.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/hzhb11.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/page14.jpg'/>"+
											"</li>"+
										"</ul>");
			}
		});	
		function dialog(obj){
			var src=$(obj).find(".smallImg").attr("src");			
			$("#bigImg").attr("src",src);
			$('.dialog').show();
		}
	</script>
	
</body>
</html>
