<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<!-- 地图 -->
	<script type="text/javascript" src="../../static/js/bdMap.js"></script>
	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">			
		
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
<div class="main">
	<!--**************************************************top***********************************************-->
	<div class="logo" style="position:fixed;z-index:10000;">	
		<a href="../index_EN.html"><img src="../../static/img/logo.png"/></a>
		<ul class="newnav" style="margin-left:20px;z-index:10000;">
			<li><a href="../qkly/qkly_EN.html">Areas</a></li>
			<li><a href="../qkhb/qkhb_EN.html">Partner</a></li>
			<li><a href="../qkjz/qkjz_EN.html">Family</a></li>
			<li><a href="../jrqk/jrqk_EN.html">Join Us</a></li>	
			<li class="active"><a href="gyqk_EN.html">About Us</a></li>
		</ul>
	</div>
	<!-- SLIDER -->
	<div id="outerslider">
		<div id="slidercontainer">
			<section id="slider">
			<div class="box_skitter box_skitter_large">					
				<ul >
					<li>
						<img src="../../static/img/banner4_EN.jpg" alt="" style="height:100%"/>                            
					</li>
					<li>
						<img src="../../static/img/banner5_EN.jpg" alt="" style="height:100%"/>                            
					</li>          
					<li>
						<img src="../../static/img/banner6_EN.jpg" alt="" style="height:100%"/>                            
					</li>    
				</ul>
			</div>
			</section>
		</div>
	</div>
	<!-- END SLIDER -->	

	<!--**************************************************title***********************************************-->		
	<div class="title">
		<h1>CardPay</h1><h2>A</h2><h3>bout us</h3>
	</div>
	<div class="AboutUs" id="dh1" style="position:relative;left:-100%;">
		<h1>Company Profile</h1>
		<h2>CardPay Financial Group</h2>
		<span></span>
		<font>
			Dry kang financial group, focus on the financial sector, is a professional management consulting and operational implementation services. Main business of the group is for Banks and other financial institutions to provide personal financial business consulting and operation, help to realize bank Internet financial platform construction, build financial OTO business mode service platform.
		</font>
	</div>
	<div class="AboutUs qywh" id="dh2" style="position:relative;right:-100%;">
		<h1>CardPay</h1>
		<h2>Company culture</h2>
		<span></span>
		<font>
			CardPay company over the years committed to financial consulting field, so the accumulated a solid professional strength and project experience. We will help Banks: enhancing the management and profit increase, realize on the premise of risk control, long-lasting profit!<br/>
			
		</font>
	</div>
	<div id="cggs" style="width:100%;filter:alpha(opacity=0);opacity:0;">
		<div class="title">
			<h1>Success</h1><h2>S</h2><h3>tories</h3>
		</div>
		<div class="Success">
			<div class="leaf">
				<img src="../../static/img/jnnsh.png" id="1"/>
				<img src="../../static/img/tynsh.png" id="2"/><br/>
				<img src="../../static/img/hxyh.jpg" id="3"/>
				<img src="../../static/img/jnyh.jpg" id="4"/>
				<img src="../../static/img/csnsh.jpg" id="5"/>		
				<img src="../../static/img/wxnsh.jpg" id="6"/>	<br/>
				<img src="../../static/img/xhyh.jpg" id="7"/>
				<img src="../../static/img/jynsh.jpg" id="8"/>
				<img src="../../static/img/jr.jpg" id="9"/>
				<img src="../../static/img/jy.jpg" id="10"/>
				<img src="../../static/img/xmnsh.png" id="11" />	
			</div>	
			<div class="xx" style="margin-top:-250px"> 
				<h1>Success Stories</h1>
				<h2>CardPay Financial Group</h2>
				<p>CardPay company consultants are from domestic Banks, world a us-funded enterprise senior management personnel, financial experience, financial management consulting experience, Dr Financial professional MBA or above education background, all has the international famous universities education background and work experience of international financial institutions or consultancy.</p>
				<img src="../../static/img/sc1.jpg" style="margin-top:0;"/>	
			</div>
			<img src="../../static/img/tree.png" class="tree"/>	
		</div>
	</div>	
	<!-- 切换语言 -->		
	<div class="lanage" onclick="setLanage(this)">						
		<img src="../../static/img/yy.png" id="yySmall" onmouseover="showYY()"/>	
		<ul id="yyBig" onmouseleave="hideYY()">
			<li><a href="../index.html"><img src="../../static/img/Ch.png"/>中文</a></li>
			<li><a href="../index_EN.html"><img src="../../static/img/En.png"/>ENGLISH</a></li>
		</ul>
	</div>	
		
	<div class="back-to-top">
		<img src="../../static/img/back-to-top.png"/>
	</div>
<!--**************************************************foot***********************************************-->
	<div class="foot">
		<br/>
		<span>Copyright(C)2011-2014 CardPay(Shanghai) Finance Consulting Co.,Ltd.</span><br/>
		<span>Shanghai ICP for 13043724</span>
	</div>
</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){    
			$("#dh1").animate({left:"0"},"slow");
			$(window).scroll(function(){
				var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)				
				if(srollPos>"500"){
					$("#dh2").animate({right:"0"},"slow");
				}
				if(srollPos>"900"){
					$("#cggs").animate({opacity:"1"},"1000");
				}
			});
			//树动画
			var i=1
			setInterval(function(){				
				$('.leaf').find('img').css('filter','none');
				$('.leaf').find('img').css('-webkit-filter','grayscale(0%)');
				$('#'+i).css('filter','gray');
				$('#'+i).css('-webkit-filter','grayscale(100%)');
				if(i<11)
					i++
				else
					i=1
			},1000);  
		});
		
	</script>
	
</body>
</html>
