<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务股份有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link rel="SHORTCUT ICON" href="../3.ico"/>
	<!-- 地图 -->
	<script type="text/javascript" src="../../static/js/bdMap.js"></script>
	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">			
		
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
<div class="main">
	<!--**************************************************top***********************************************-->
	<div class="logo" style="position:fixed;z-index:10000;">	
		<a href="/index"><img src="../../static/img/logo.png"/></a>
		<ul class="newnav" style="margin-left:20px;z-index:10000;">
			<li><a href="/qkly">乾康领域</a></li>
			<li><a href="/qkhb">乾康伙伴</a></li>
			<li><a href="/qkjz">乾康家族</a></li>
			<li><a href="/jrqk">加入乾康</a></li>	
			<li class="active"><a href="/gyqk">关于乾康</a></li>
		</ul>
	</div>
	<!-- SLIDER -->
	<div id="outerslider">
		<div id="slidercontainer">
			<section id="slider">
			<div class="box_skitter box_skitter_large">					
				<ul >
					<li>
						<img src="../../static/img/banner4.jpg" alt="" style="height:100%"/>                            
					</li>
					<li>
						<img src="../../static/img/banner5.jpg" alt="" style="height:100%"/>                            
					</li>          
					<li>
						<img src="../../static/img/banner6.jpg" alt="" style="height:100%"/>                            
					</li>    
				</ul>
			</div>
			</section>
		</div>
	</div>
	<!-- END SLIDER -->	

	<!--**************************************************title***********************************************-->		
	<div class="title">
		<h1>关于乾康</h1><h2>A</h2><h3>bout us</h3>
	</div>
	<div class="AboutUs dh" id="dh1" style="position:relative;left:-100%;">
		<h1>Company Profile</h1>
		<h2>乾康金融集团</h2>
		<span></span>
		<font>
			乾康金融集团是一家专注于金融领域专业管理咨询以及运营实施的服务机构。 集团主营业务是为银行等金融机构提供个人金融业务咨询及运营，助力实现银行互联网银行平台建设，打造金融 OTO 商业模式服务平台。<br/>
			乾康公司高层智囊云集，创始人及决策层领导集多年金融管理咨询经验、前瞻性的理念、大数据云计算的技术于一体，披荆斩棘的为行业开拓领航，打造了一支国际化和本土化相结合的咨询团队。
		</font>
	</div>
	<div class="AboutUs qywh dh" id="dh2" style="position:relative;right:-100%;">
		<h1>企业文化</h1>
		<h2>CardPay Company culture</h2>
		<span id="qywh"></span>
		<font>
			乾康公司多年来始终致力于金融咨询领域，所以积累了雄厚的专业实力和项目经验。我们将助力银行：管理提升和利润提高，实现在风险可控的前提下，长期持久盈利！<br/>
			乾康态度：专业、高效、敬业、合作、诚信、激情<br/>
		</font>
	</div>
	<div id="cggs" class="dh" style="width:100%;filter:alpha(opacity=0);opacity:0;">
		<div class="title">
			<h1>成功故事</h1><h2>S</h2><h3>uccess stories</h3>
		</div>
		<div class="Success">
			<div class="leaf">
				<img src="../../static/img/jnnsh.png" id="1"/>
				<img src="../../static/img/tynsh.png" id="2"/><br/>
				<img src="../../static/img/hxyh.jpg" id="3"/>
				<img src="../../static/img/jnyh.jpg" id="4"/>
				<img src="../../static/img/csnsh.jpg" id="5"/>		
				<img src="../../static/img/wxnsh.jpg" id="6"/>	<br/>
				<img src="../../static/img/xhyh.jpg" id="7"/>
				<img src="../../static/img/jynsh.jpg" id="8"/>
				<img src="../../static/img/jr.jpg" id="9"/>
				<img src="../../static/img/jy.jpg" id="10"/>
				<img src="../../static/img/xmnsh.png" id="11" />		
			</div>	
			<div class="xx"> 
				<h1>Success Stories</h1>
				<h2>乾康金融集团成功案例</h2>
				<p>乾康公司咨询顾问均来自国内各银行、世界五百强企业高级管理人员，具备金融从业经历、金融管理咨询经验、金融专业MBA或博士以上教育背景，全部拥有国际名校教育背景以及国际金融机构或咨询机构的工作经历。</p>
				<img src="../../static/img/sc1.jpg"/>	
			</div>
			<img src="../../static/img/tree.png" class="tree"/>	
		</div>
	</div>	
	<!-- 切换语言 -->		
	<div class="lanage" onclick="setLanage(this)">						
		<img src="../../static/img/yy.png" id="yySmall" onmouseover="showYY()"/>	
		<ul id="yyBig" onmouseleave="hideYY()">
			<li><a href="/index"><img src="../../static/img/Ch.png"/>中文</a></li>
			<li><a href="/index_EN"><img src="../../static/img/En.png"/>ENGLISH</a></li>
		</ul>
	</div>	
		
	<div class="back-to-top">
		<img src="../../static/img/back-to-top.png"/>
	</div>
<!--**************************************************foot***********************************************-->
	<div class="foot">
		<span>Copyright(C)2011-2014 乾康（上海）金融信息服务股份有限公司</span><br/>
		<span>沪ICP备13043724号</span>
	</div>
</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){  
			$("#dh1").animate({left:"0"},"slow");
			
			//树动画
			var i=1
			setInterval(function(){
				$('.leaf').find('img').css('filter','none');
				$('.leaf').find('img').css('-webkit-filter','grayscale(0%)');
				$('#'+i).css('filter','gray');
				$('#'+i).css('-webkit-filter','grayscale(100%)');
				if(i<11)
					i++
				else
					i=1
			},1000); 
			if($(window).width()<"800"){
				$(".box_skitter").html("<ul>"+
											"<li>"+
												"<img src='../../static/img/banner11.jpg'/>"+                        
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner12.jpg' /> "+                           
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner13.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/hzhb11.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/page14.jpg'/>"+
											"</li>"+
										"</ul>");
										
				$(".dh").css("opacity","1");
				$(".dh").css("filter","alpha(opacity=100)");
				
				$(".dh").css("left","0");
				$(".dh").css("right","0");
			}
			else{
				$(window).scroll(function(){
					var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)				
					if(srollPos>"300"){
						$("#dh2").animate({right:"0"},"slow");
					}
					if(srollPos>"600"){
						$("#cggs").animate({opacity:"1"},"1000");
					}
					
				});
			}
		});
		
	</script>
	
</body>
</html>
