<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Finance Consulting Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">
		.cgal{width:28%;margin-top:0;}
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo" style="position:fixed;z-index:10000;">	
			<a href="/index_En"><img src="../../static/img/images/logo.png" style="height:60px;margin-top:15px;margin-left:30px;margin-right:150px;"/></a>
			<ul class="newnav" style="margin-left:20px;z-index:10000;">
				<!-- <li><a href="/index_En">Home</a></li> -->				
				<li><a href="/jjfa_En">Business</a></li>
				<li class="active"><a href="/cgal_En">Case</a></li>
				<li><a href="/hzhb_En">Partner</a></li>
				<li><a href="/yhnx_En">Training</a></li>
				<li><a href="/jrzx_En">Financial</a></li>				
				<li><a href="/ygfc_En">Employee</a></li>
				<li><a href="/gsjj_En">About Us</a></li>
				<li><a href="/zpxx_En">Recruit</a></li>
			</ul>
		</div>
		<!-- SLIDER -->
		<div id="outerslider" style="margin-top:90px;_margin-top:0;">
        	<div id="slidercontainer">
            	<section id="slider">
                <div class="box_skitter box_skitter_large">					
                    <ul >
						<li>
                            <img src="../../static/img/sub02_En.png" alt="" style="height:100%"/>                            
                        </li>
                        <li>
                            <img src="../../static/img/sub01_En.png" alt="" style="height:100%"/>                            
                        </li>                        
						<li>
                            <img src="../../static/img/sub03_En.png" alt="" style="height:100%"/>                            
                        </li>
						<li>
                            <img src="../../static/img/sub04_En.png" alt="" style="height:100%"/>                            
                        </li>
						<li>
                            <img src="../../static/img/sub05_En.png" alt="" style="height:100%"/>                            
                        </li>
                    </ul>
                </div>
                </section>
            </div>
        </div>
        <!-- END SLIDER -->	
		<!-- 切换语言 -->		
		<div class="lanage" onclick="setLanage(this)">
			<img src="../../static/img/yysz.png"/>
			<div>
				<a href="/index">中文</a><br/>
				<a href="/index_En">English</a>
			</div>
		</div>
	<!--**************************************************left***********************************************-->	
		<div style="width:100%;float:left;_margin-top:-90px;">
			<div class="left">
				<ul class="Tab">
					<li class="active" onmouseover="change_div(this,'gsjj')"><a href="#">Services</a></li>
					<li onmouseover="change_div(this,'fzln')" style=""><a href="#">Concept</a></li>
					<!-- <li onclick="change_div(this,'ryzs')"><a href="#">荣誉证书</a></li>
					<li onclick="change_div(this,'zjtd')"><a href="#">专家团队</a></li> -->
					<li onmouseover="change_div(this,'lxfs')" style="border-right:1px solid #dddddd;"><a href="#">Contact</a></li>
				</ul>
				<div class="tab" id="gsjj">
					Information<br/>
					Technical Support<br/>
					Platform
				</div>
				<div class="tab" style="display:none;" id="fzln"> 
					Create a leading international financial professional consultancy<br/>
					Together to create elite team of consultants<br/>
					Maximum to meet customer demand
				</div>
				<div class="tab" style="display:none;" id="lxfs">
					Address：Room 801,Building 3,No.7,Guiqing Road,Xuhui District,Shanghai  <br/>
					Postcode：200035<br/>
					Phone：021-54485390 <br/>
					Fax： 021-54485391<br/>
					E-mail：qk_liuwx@163.com<br/>
				</div>
			<!--**************************************************员工风采***********************************************************************-->
				<div style="width:100%;margin-top:40px;border-top:3px dotted #dddddd;margin-bottom:40px;">
					<span style="background:white;position:absolute;margin-top:-15px;font-weight:bold;font-size:20px;color:#666666;">Employee</span>
				</div>					
				<div id="ifocus">
					<div id="ifocus_pic">
						<div id="ifocus_piclist">
							<ul>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											创建领先国际的金融专业咨询机构1
											合力打造精英顾问团队
											最大限度满足客户需求创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
											最大限度满足客户需求
											创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
										</div>
									</div>	
									<img src="../../static/img/head.png" style="margin-top:-15px;margin-left:20px;float:left;"/>	
									<div style="margin-top:3px;margin-left:25px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">周滨</b><br/>总经理
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											创建领先国际的金融专业咨询机构1
											合力打造精英顾问团队
											最大限度满足客户需求创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
											最大限度满足客户需求
											创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
										</div>
									</div>	
									<img src="../../static/img/head.png" style="margin-top:-15px;margin-left:20px;float:left;"/>	
									<div style="margin-top:3px;margin-left:25px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">刘学军</b><br/>副总经理
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											创建领先国际的金融专业咨询机构1
											合力打造精英顾问团队
											最大限度满足客户需求创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
											最大限度满足客户需求
											创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
										</div>
									</div>	
									<img src="../../static/img/head.png" style="margin-top:-15px;margin-left:20px;float:left;"/>	
									<div style="margin-top:3px;margin-left:25px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">马颖涵</b><br/>信用卡咨询部经理
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											创建领先国际的金融专业咨询机构1
											合力打造精英顾问团队
											最大限度满足客户需求创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
											最大限度满足客户需求
											创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
										</div>
									</div>	
									<img src="../../static/img/head.png" style="margin-top:-15px;margin-left:20px;float:left;"/>	
									<div style="margin-top:3px;margin-left:25px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">赵军扬</b><br/>客户经理
									</div>
								</li>
							</ul>
						</div>
						
					</div>
					<div id="ifocus_btn" style="display:none;">
						<ul>
							<li class="current"></li>
							<li class="normal"></li>
							<li class="normal"></li>
							<li class="normal"></li>
						</ul>
					</div>
				</div>
			</div>
		<!--**************************************************title***********************************************-->		
			<div class="title">
				<h2>Case</h2>
				<span class="place">CardPay(Shanghai) > <font style="color:#0488cd">Case</font></span>
			</div>
		<!--**************************************************right***********************************************-->	
			<div class="right" style="_margin-left:50px;">				
				<div class="cgal" id="image1" >
					<img src="../../static/img/hxyh.png" style="width:100%"/>
				</div>
				<div class="cgal" id="image2" >
					<img src="../../static/img/jnyh.png" style="width:100%"/>
				</div>
				<div class="cgal" id="image3" >
					<img src="../../static/img/xhyh.png" style="width:100%"/>
				</div>
				<div class="cgal" id="image4" style="margin-top:20px;">
					<img src="../../static/img/jr.png" style="width:100%"/>
				</div>
				<div class="cgal" id="image5" style="margin-top:20px;">
					<img src="../../static/img/jy.png" style="width:100%"/>
				</div>
				<div class="cgal" id="image6" style="margin-top:20px;">
					<img src="../../static/img/jynsh.png" style="width:100%"/>
				</div>	
				<div class="cgal" id="image7" style="margin-top:20px;">
					<img src="../../static/img/wxnsh.png" style="width:100%"/>
				</div>
			</div>
		</div>
		<div class="back-to-top">
			<img src="../../static/img/back-to-top.png"/>
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot" style="width:100%;float:left;">		
			<img src="../../static/img/images/qk_12.png" style="width:100%"/>
			<img src="../../static/img/images/qk_15.png"/>
			<span>Copyright(C)2011-2014 CardPay(Shanghai) Finance Consulting Co.,Ltd.</span><br/>
			<span>Shanghai ICP for 13043724</span>
		</div>	
	</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.dataTables_En.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
</body>
</html>
