<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Finance Consulting Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../static/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../static/css/skitter.styles.css" media="all" />
	<style type="text/css">
		#outerslider{position:relative;top:-1px;}
		#slidercontainer{position:relative; height:413px;}
		.box_skitter_large {width:100%; height:413px;}
		.box_skitter_large .label_skitter{bottom:0px;left:0px ; padding:0; background:url(../static/img/opacity-slider-text.png) repeat;font-size:12px;padding:10px 30px;color:#fff;font-family:Arial, Helvetica, sans-serif;}
		
		.qkly{width:100%;margin-top:-1px;}
		.qkly .span4{width:33.3%;}
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	
	</script>
</head>

<body onload="imgs();">
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo" style="position:fixed;z-index:10000;">	
			<a href="index_EN.html"><img src="../static/img/logo.png"/></a>
			<ul class="newnav" style="margin-left:20px;z-index:10000;">
				<li><a href="qkly/qkly_EN.html">Areas</a></li>	
				<li><a href="qkhb/qkhb_EN.html">Partner</a></li>	
				<li><a href="qkjz/qkjz_EN.html">Family</a></li>	
				<li><a href="jrqk/jrqk_EN.html">Join Us</a></li>				
				<li><a href="gyqk/gyqk_EN.html">About Us</a></li>	
			</ul>
		</div>
		
		<div id="outerslider">
        	<div id="slidercontainer">
            	<section id="slider">
                <div class="box_skitter box_skitter_large">					
                    <ul>
                        <li>
                            <img src="../static/img/banner1_EN.jpg" alt="" style="width:100%"/>                            
                        </li>
						<li>
                            <img src="../static/img/banner2_EN.jpg" alt="" style="width:100%"/>                            
                        </li>
                        <li>
                            <img src="../static/img/banner3_EN.jpg" alt="" style="width:100%"/>
                        </li>
                        <li>
                            <img src="../static/img/hzhb1_EN.jpg" alt="" style="height:100%"/>
                        </li>
                        <li>
                            <img src="../static/img/page4_EN.jpg" alt="" style="height:100%"/>
                        </li>
                    </ul>
                </div>
                </section>
            </div>
        </div>
        <!-- END SLIDER -->
		
		<!--**************************************************content***********************************************-->
		<div class="qkly">
			<div class="span4" onmouseover="Hover(this,'../static/img/101')" onmouseout="Normal(this,'../static/img/101')"  onclick="window.location.href='qkly/qkly.html'">
				<img src="../static/img/101.png"/>		
				<h1>INTERNET CONSUMER<br/><span>FINANCE</span></h1>
			</div>
			<div class="span4" onmouseover="Hover(this,'../static/img/102')" onmouseout="Normal(this,'../static/img/102')"  onclick="window.location.href='qkly/qkly.html'">
				<img src="../static/img/102.png"/>	
				<h1>PERSONAL FINANCIAL <br/><span>SERVICES</span></h1>
			</div>
			<div class="span4" onmouseover="Hover(this,'../static/img/103')" onmouseout="Normal(this,'../static/img/103')"  onclick="window.location.href='qkly/qkly.html'">
				<img src="../static/img/103.png"/>			
				<h1>REMOTE CREDIT<br/><span>EVALUATION</span></h1>
			</div>
		</div>
		<div class="qkjt">
			<h1><img src="../static/img/title1.png"/>CARDPAY<img src="../static/img/title2.png"/></h1>
			<h2>ABOUT US</h2>
			<p>CardPay Financial Group is a focus on the financial sector as well as professional management consulting services operator implementation. Group's main business is to provide personal financial services consulting and operations of banks and other financial institutions, banking and financial help to achieve the construction of the Internet platform to create business models OTO financial services platform.</p>
			<a href="gyqk/gyqk.html" class="button">MORE</a>
		</div>
		<div class="qkkh" id="qkkh" style="filter:alpha(opacity=0);opacity:0;">
			<h1>GOOD SERVICE</h1>
			<h2>POWERFUL</h2>
			<div class="span6">			
				<img src="../static/img/zy.png"/>		
				<h1>Profession</h1>
				<h2>Professional services, quality assurance</h2>
			</div>
			<div class="span6">
				<img src="../static/img/gx.png"/>	
				<h1>Efficient</h1>
				<h2>Experienced, fast and efficient</h2>
			</div>
			<div class="span6">			
				<img src="../static/img/jyy.png"/>		
				<h1>Dedicated</h1>
				<h2>Dedication, <br/>improve self</h2>
			</div>
			<div class="span6">			
				<img src="../static/img/hz.png"/>		
				<h1>Cooperation</h1>
				<h2>Teamwork, promote development</h2>
			</div>
			<div class="span6">			
				<img src="../static/img/cx.png"/>		
				<h1>Integrity</h1>
				<h2>Honest and trustworthy, safe and reliable</h2>
			</div>
			<div class="span6" style="margin-right:0;">				
				<img src="../static/img/jq.png"/>	
				<h1>Enthusiasm</h1>
				<h2>Full of enthusiasm, and positive</h2>
			</div>
		</div>
		<div class="qkjt qkjz" id="qkjz" style="filter:alpha(opacity=0);opacity:0;">	
			<h1><img src="../static/img/title1.png"/>FAMILY<img src="../static/img/title2.png"/></h1>
			<h2 style="color: #9abefc;margin-top:-85px;">SUBSIDIARY</h2>
			<div class="zgs">
				<img src="../static/img/sc10.jpg"/>
				<span>
					<img src="../static/img/LOGO1.png" style="width:100px;height:60px;"/><h2>CardPay Finance Consulting Co.,Ltd.</h2>
				<a href="qkjz/qkjz.html">MORE</a></span>
			</div><div class="zgs" style="position:relative;top:-57px;">
				<span><img src="../static/img/LOGO2.png" style="width:60px;height:60px;"/><h2>CardPay Info Tech Co.,Ltd.</h2>
				<a href="qkjz/qkjz.html">MORE</a></span>
				<img src="../static/img/sc20.jpg"/>
			</div><div class="zgs">
				<img src="../static/img/sc21.png"/>
				<span><img src="../static/img/LOGO3.png" style="width:60px;height:60px;"/><h2 style="line-height:30px;padding:5px 0">QianKangJinFu(Beijing) Information Technology Co.,Ltd</h2>
				<a href="qkjz/qkjz.html">MORE</a></span>
			</div>
		</div>
		<div class="qkkh cggs" id="cggs" style="filter:alpha(opacity=0);opacity:0;">
			<h1>SUCCESS CASE</h1>
			<h2>SUCCESS STORIES</h2>
			<p>Dry Kang consultants are from domestic banks, Fortune 500 company executives, with finance industry experience, financial consulting experience in management, finance MBA or PhD in higher education background, all with international elite educational background as well as international financial institutions or work experience advisory bodies, and some well-known banks have had close cooperation.</p>
			
			<span class="prev" onclick="$('.cgimg').animate({marginLeft:'60px'},'slow')"></span>
			<span class="next" onclick="$('.cgimg').animate({marginLeft:'-573px'},'slow')"></span>	
			<div class="cgimg"> 					
				<img src="../static/img/jnnsh.png" id="1"/>
				<img src="../static/img/tynsh.png" id="2"/>
				<img src="../static/img/hxyh.jpg" id="3"/>
				<img src="../static/img/jnyh.jpg" id="4"/>
				<img src="../static/img/csnsh.jpg" id="5"/>		
				<img src="../static/img/wxnsh.jpg" id="6"/>	
				<img src="../static/img/xhyh.jpg" id="7"/>
				<img src="../static/img/jynsh.jpg" id="8"/>
				<img src="../static/img/jr.jpg" id="9"/>
				<img src="../static/img/jy.jpg" id="10"/>
				<img src="../static/img/xmnsh.png" id="11" />	
			</div>				
		</div>
		
		<div class="qkjt qkhb" id="qkhb" style="width:100%;margin-left:0;filter:alpha(opacity=0);opacity:0;">	
			<h1><img src="../static/img/title1.png"/>PANTNER<img src="../static/img/title2.png"/></h1>
			<h2>COOPERATION</h2>
			<div class="parner lcLeft">
				<img src="../static/img/hzhb1.png" onclick="window.open('http://www.profitinsight.com/')"/>
				<p>PTC&nbsp;&nbsp;&nbsp;&nbsp;</p>
			</div><div class="parner lcCenter">
				<img src="../static/img/hzhb3.png" onclick="window.open('http://www.rcbda.cn/')"/>
				<p>Rural Commercial</p>
			</div><div class="parner lcCenter">
				<img src="../static/img/hzhb2.png" onclick="window.open('http://www.mastercard.com.cn')"/>
				<p>MasterCard</p>
			</div><div class="parner lcRight">
				<img src="../static/img/hzhb4.png" onclick="window.open('http://www.xhjr.net')"/>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;XINHUA</p>
			</div><br/>	
			<div class="parner lcL">
				<span>Reached a strategic cooperation agreement with PTC<br/>
				<font>2013</font></span>
			</div><div class="parner lcC">
				<span>China has become the only company that agricultural businesses Union observers<br/>
				<font>2013</font></span>
			</div><div class="parner lcC">
				<span>MasterCard <br/>(Asia-Pacific)<br/> Strategic Partner<br/>
				<font>2014</font></span>
			</div><div class="parner lcC">
				<span>Signed a agreement with China Rural Commercial Alliance<br/>
				<font>2015</font></span>
			</div><div class="parner lcR">
				<span>Signed a strategic cooperation agreement with Xinhua Financial Holding<br/>
				<font>2015</font></span>
			</div>
		</div>
	<!--**************************************************foot***********************************************-->
		<!-- 切换语言 -->		
		<div class="lanage" onclick="setLanage(this)">						
			<img src="../static/img/yy.png" id="yySmall" onmouseover="showYY()"/>	
			<ul id="yyBig" onmouseleave="hideYY()">
				<li><a href="index.html"><img src="../static/img/Ch.png"/>中文</a></li>
				<li><a href="index_EN.html"><img src="../static/img/En.png"/>ENGLISH</a></li>
			</ul>
		</div>
		<div class="back-to-top">
			<img src="../static/img/back-to-top.png"/>
		</div>
		<div class="foot">
			<div class="xx">
				<p style="line-height:40px;font-size:15px;">CardPay(Shanghai) Finance Consulting Co.,Ltd.</p>				
				<p>Address：Room 801,Building 3,No.7,Guiqing Road,Xuhui District,Shanghai </p>		
				<p>Pone： 021-54485390 </p>
				<p>Fax： 021-54485391</p>
				<p>E-mail：liuxj@qkjr.com.cn</p>
				<ul>
					<li>Related Links:</li>
					<li><a href="">Personal Finance</a></li>
					<li><a href="">Consumer Finance</a></li>
					<li><a href="">Supply Chain Finance</a></li>
					<li><a href="">Funds Management</a></li>
				</ul>
				<img src="../static/img/2wm.png" />
				<font>— WeChat —</font>
			</div><br/>
			<span>Copyright(C)2011-2014 CardPay(Shanghai) Finance Consulting Co.,Ltd.</span><br/>
			<span>Shanghai ICP for 13043724</span>
		</div>		
	</div>
	<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){                            //主体元素
			$(window).scroll(function(){
				var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)				
				if(srollPos>"500"){
					$("#qkkh").animate({opacity:"1"},"slow");
				}
				if(srollPos>"950"){
					$("#qkjz").animate({opacity:"1"},"slow");
				}
				if(srollPos>"1350"){
					$("#cggs").animate({opacity:"1"},"slow");
				}
				if(srollPos>"1800"){
					$("#qkhb").animate({opacity:"1"},"slow");
				}
			});
		});
		
	</script>
</body>
</html>
