<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务股份有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link href="../static/css/index.css" rel="stylesheet">
	<link href="../static/css/main_En.css" rel="stylesheet">
	<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
	<style type="text/css">
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	
	</script>
</head>
<body>
<div class="main">
<!--*****************************导航*****************************************-->
	<div class="topNav">
		<img src="../static/img/logo.png" class="logo"/>
		<ul>
			<li><a href="/gyqk_EN">About Us</a></li>					
			<li><a href="/qkly_EN">Field</a></li>		
			<li><a href="/qkjz_EN">Family</a></li>	
			<li><a href="/qkxw_EN">News</a></li>	
			<li><a href="/lxwm_EN">Contact Us</a></li>	
			<li><a href="/jrqk_EN">Join Us</a></li>				
		</ul>
	</div>	
<!--*****************************banner*****************************************-->	
	<div class="banner">
		<h1 id="bannerDh1" style="position:relative;right:-100%;">Technology, Finance, Simple</h1>
		<h2 id="bannerDh2" style="position:relative;left:-100%;">Make financial simpler!</h2>
		<p id="bannerDh3" style="position:relative;right:-100%;"><img src="../static/img/logo1.png"/></p>
		<!-- <div id="bannerDh4" style="position:relative;left:-100%;" onclick="window.location.href='lxwm/lxwm.html'">联系我们</div> -->
	</div>
<!--*****************************公司简介*****************************************-->	
	<div class="gsjj dh" id="gsjj" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;" onclick="window.location.href='gyqk/gyqk_En.html'">
		<div><font>C</font>
		<h3>About Us</h3>
		<h4>ompany Profile</h4></div>
		<p>Qiankang finance focus on the operation and management of personal credit business and risk control, with strong professional strength, rich experience in the project and a strong scientific and technological support, the formation of an efficient personal...... </p>
	</div>
<!--*****************************公司业务*****************************************-->		
	<div class="gsyw dh" id="gsyw1" style="position:relative;right:-100%;filter:alpha(opacity=0);opacity:0;" onclick="window.location.href='/qkly_EN'">
		<img src="../static/img/yw1.jpg"/>
		<p>Online personal credit<br/>risk control</p>
	</div>
	<div class="gsyw dh" id="gsyw2" style="position:relative;right:-100%;filter:alpha(opacity=0);opacity:0;" onclick="window.location.href='/qkly_EN'">
		<img src="../static/img/yw2.jpg"/>
		<p>Internet banking<br/>operations</p>
	</div>
	<div class="gsyw dh" id="gsyw3" style="position:relative;right:-100%;filter:alpha(opacity=0);opacity:0;" onclick="window.location.href='/qkly_EN'">
		<img src="../static/img/yw3.jpg"/>
		<p>Personal credit business consulting...</p>
	</div>
<!--*****************************公司理念*****************************************-->
	<div class="qyln">		
		<div class="dh" id="gsln" style="filter:alpha(opacity=0);opacity:0;" onclick="window.location.href='gyqk/gyqk_En.html'">
			<div class="span6">			
				<img src="../static/img/zy.png"/>		
				<h1>Profession</h1>
				<h2>Professional services, quality assurance</h2>
			</div>
			<div class="span6">
				<img src="../static/img/gx.png"/>	
				<h1>Efficient</h1>
				<h2>Experienced, fast and efficient</h2>
			</div>
			<div class="span6">			
				<img src="../static/img/jy.png"/>		
				<h1>Dedicated</h1>
				<h2>Dedication, improve self</h2>
			</div>
			<div class="span6">			
				<img src="../static/img/hz.png"/>		
				<h1>Cooperation</h1>
				<h2>Teamwork, promote development</h2>
			</div>
			<div class="span6">			
				<img src="../static/img/cx.png"/>		
				<h1>Integrity</h1>
				<h2>Honest and trustworthy safe and reliable</h2>
			</div>
			<div class="span6">				
				<img src="../static/img/jq.png"/>	
				<h1>Enthusiasm</h1>
				<h2>Full of enthusiasm,and positive</h2>
			</div>
		</div>
	</div>
<!--*****************************乾康家族*****************************************-->
	<div class="qkjz" id="qkjz" onclick="window.location.href='/qkjz_EN'">
		<div id="qkjz1">
			<img class="dh" src="../static/img/qkjz11.png" id="img1" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;"/>
			<p class="dh" id="p1" style="position:relative;right:-100%;filter:alpha(opacity=0);opacity:0;">Qiankang Finance</p>
		</div>
		<div>
			<img class="dh" src="../static/img/qkjz12.png" id="img2" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;"/>
			<p class="dh" id="p2" style="position:relative;right:-100%;filter:alpha(opacity=0);opacity:0;">Qiankang Info Tech</p>
		</div>
		<div>
			<img class="dh" src="../static/img/qkjz13.png" id="img3" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;"/>
			<p class="dh" id="p3" style="position:relative;right:-100%;filter:alpha(opacity=0);opacity:0;">QianKang JinFu</p>
		</div>
	</div>
<!--*****************************周总寄语*****************************************-->
	<div class="zzjy">
		<div class="left dh" id="zzjy1" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;">
			<img src="../static/img/zc.jpg"/>
		</div>
		<div class="gsjj right dh" id="zzjy2" style="position:relative;right:-100%;filter:alpha(opacity=0);opacity:0;">
			<div><font>M</font>
			<h3>Speech</h3>
			<h4>essage From Mr Zhou</h4></div>
			<p>To all employees:</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Qiankang's vision is to make our contribution to the construction and development of harmonious society and the trust between people.</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In the process of rapid socio-economic development, because of the asymmetry of information and the existence of dishonesty in some social business activities, the transaction cost is increased, and the good virtues of the traditional tradition of the Chinese nation are shocked. And we use data technology and the financial industry for the full understanding of the inherent logic of many financial institutions to provide efficient technical credit assessment, through our efforts to make financial simpler.</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The development of the company can not be separated from the joint efforts of qiankang people in the development process, we uphold the spirit of professional craftsmen, for the ideal willing to pay hard work. At the same time hope that the platform can be more for the ideal, ambition, a high sense of social responsibility to provide young people to achieve their ideal and goals of life opportunities.</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In the development of the road on the dry, we hope that the company is in the industry with a high reputation of the company, for the establishment of the integrity of the community to contribute our strength!</p>
		
			<p style="text-align:right;">Qiankang Finance&nbsp;&nbsp;&nbsp;&nbsp;</p>
			<p style="text-align:right;">Chairman of the board:Zhou Bin&nbsp;&nbsp;&nbsp;&nbsp;</p>
		</div>
	</div>

<!--*****************************乾康伙伴*****************************************-->
	<div class="qkhb" onclick="window.location.href='gyqk/gyqk_En.html'">
		<div class="title">
			<p class="top">------Partner</p>
			<p>Cooperation-------</p>
		</div><br/>
		<div class="dh" id="hzhb1" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;">
			<img src="../static/img/hzhb1.png"/>
			<p>PTC</p>
		</div>
		<div class="dh" id="hzhb2" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;">
			<img src="../static/img/hzhb2.png"/>
			<p>MasterCard</p>
		</div>
		<div class="dh" id="hzhb3" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;">
			<img src="../static/img/hzhb3.png"/>
			<p>Agricultural</p>
		</div>
		<div class="dh" id="hzhb4" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;">
			<img src="../static/img/hzhb4.png"/>
			<p>XINHUA</p>
		</div>
		<div class="dh" id="hzhb5" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;">
			<img src="../static/img/hzhb5.png"/>
			<p>SUNING</p>
		</div>
		<div id="scrollobj1"> 	
			<img src="../static/img/jnnsh.png"/>
			<img src="../static/img/tynsh.png"/>
			<img src="../static/img/hxyh.jpg"/>
			<img src="../static/img/jnyh.jpg"/>
			<img src="../static/img/csnsh.jpg"/>		
			<img src="../static/img/wxnsh.jpg"/>	
			<img src="../static/img/xhyh.jpg"/>
			<img src="../static/img/jynsh.jpg"/>
			<img src="../static/img/jy.jpg"/>
			<img src="../static/img/xmnsh.png"/>	
		</div>	
	</div>
<!--*****************************乾康新闻*****************************************-->
	<div class="qkxw">
		<div class="gsjj left dh" id="qkxw1" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;" onclick="window.location.href='/qkxw_EN'">
			<div><font>N</font>
			<h3>Qiankang</h3>
			<h4>ews</h4></div>
			<p class="news">
				<span class="date">
					<font>30</font>
					<span>2017-06</span>
				</span>
				<span class="content">
					<span class="title">Attended the Shanghai Financial...</span>
					<span>June 29 to 30, the 11th Shanghai Financial Services Fair and Shanghai ......</span>
				</span>
			</p>
			<p class="news">
				<span class="date">
					<font>20</font>
					<span>2017-06</span>
				</span>
				<span class="content">
					<span class="title">Qiankang won the "2017 Shanghai...</span>
					<span>(Shanghai) Financial Information Service Co., Ltd. was awarded the title of .......</span>
				</span>
			</p>
			<p class="news">
				<span class="date">
					<font>14</font>
					<span>2017-06</span>
				</span>
				<span class="content">
					<span class="title">Win in innovation, wins in science...</span>
					<span>International Innovation Entrepreneurship Competition by the Ministry of Science and......</span>
				</span>
			</p>
			<p class="news">
				<span class="date">
					<font>24</font>
					<span>2017-05</span>
				</span>
				<span class="content">
					<span class="title">Age and race, qiankang ahead</span>
					<span>In order to help employees understand the development of the company, business scope......</span>
				</span>
			</p>			
			<p class="news">
				<span class="date">
					<font>25</font>
					<span>2017-04</span>
				</span>
				<span class="content">
					<span class="title">Gan Kang embrace Tencent, to achieve...</span>
					<span> Recently, dry and financial chief Zhou Zhou, Jiangsu, a farmer firm, by Tencent to pay......</span>
				</span>
			</p>
			<p class="news">
				<span class="date">
					<font>14</font>
					<span>2017-04</span>
				</span>
				<span class="content">
					<span class="title">Deposit promotion! Shandong a farm...</span>
					<span> April 8, 2017, dry and dry Shandong, a farm business trip to carry out the "2017 second......</span>
				</span>
			</p>
			<p class="news">
				<span class="date">
					<font>14</font>
					<span>2017-04</span>
				</span>
				<span class="content">
					<span class="title">Qiangkang,make financial simpler!</span>
					<span> Why is this slogan? In the current society, the general public is quite complicated for......</span>
				</span>
			</p>
			<p class="news">
				<span class="date">
					<font>13</font>
					<span>2017-04</span>
				</span>
				<span class="content">
					<span class="title">Economic Daily said: bank restructuring...</span>
					<span>Take the initiative to embrace the trend of financial technology is the trend, the......</span>
				</span>
			</p>
		</div>
		
<!-- <div class="right dh" id="qkxw2" style="position:relative;right:-100%;filter:alpha(opacity=0);opacity:0;">
			<img src="../static/img/zzjy.jpg"/>
		</div> -->
	</div>
	<!--*****************************专利资质*****************************************-->
	<div class="qkxw" id="zlzz" onclick="window.location.href='gyqk/gyqk_En.html'">
		<div class="gsjj left" >
			<div><font>P</font>
			<h3 style="color:#fff">Qiankang</h3>
			<h4>atent qualification</h4></div>	
			<div class="dh" id="scrollobj" style="filter:alpha(opacity=0);opacity:0;"> 	
				<img src="../static/img/zz/1.jpg"/>
				<img src="../static/img/zz/2.jpg"/>
				<img src="../static/img/zz/3.jpg"/>
				<img src="../static/img/zz/4.jpg"/>
				<img src="../static/img/zz/5.jpg"/>
			</div>	
		</div>
	</div>
	<div class="side">
		<ul>
			<li><a href="/index" ><div class="sidebox"><img src="../static/img/side_icon02.png">CHINESE</div></a></li>
			<li id="QQ"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1103924915&amp;site=qq&amp;menu=yes" target="_blank" ><div class="sidebox"><img src="../static/img/side_icon04.png">QQ</div></a></li>
			<li style="border:none;"><a href="javascript:goTop();" class="sidetop"><img src="../static/img/side_icon05.png"></a></li>
		</ul>
	</div>
<!--*****************************foot*****************************************-->
	<div class="foot">
		<div class="xx">
			<p style="line-height:2em;font-size:15px;">Qiankang(Shanghai) Finance Consulting Co.,Ltd.</p>				
			<p>Address：Room 801,Building 3,No.7,Guiqing Road,Xuhui District,Shanghai</p>		
			<p>Phone： 021-54485390</p>
			<p>Fax： 021-54485391</p>
			<p>E-mail：liuxj@qkjr.com.cn</p>
			<!--<ul>
				<li>相关链接：</li>
				<li><a href="">个人金融业务管理平台</a></li>
				<li><a href="">消费金融业务平台</a></li>
				<li><a href="">供应链金融业务平台</a></li>
				<li><a href="">资金管理平台</a></li>
			</ul>-->
			<p class="awm"><img src="../static/img/2wm2.png" /><img src="../static/img/2wm.png" /></p>
			<font>- WeChat -</font><font class="normal">- Weibo-</font>
		</div><br/>
		<span>Copyright(C)2011-2014 Qiankang(Shanghai) Finance Consulting Co.,Ltd.</span><br/>
		<span>Shanghai ICP for 13043724</span>
	</div>	
	

</div>	
	
	<script type="text/javascript" src="../static/js/jquery.animate-colors-min.js"></script><!-- 动画渐变背景插件-->
	
	
	
	<script type="text/javascript">
		$(document).ready(function(){  
			//加载地图
			//ShowMap("map",{city:'上海市',addr:'上海市徐汇区桂箐路7号3号楼801室',title:'乾康（上海）金融信息服务股份有限公司',lawfirm:'',tel:'021-54485390',mapx:'',pic:'../static/img/logo2.png',ismove:'0',piobj:'nxp'});
	
			setTimeout("bennerDH()",500);//banner动画
			$("#bannerDh4").mouseover(function(){//banner按钮动画
				$("#bannerDh4").animate({backgroundColor:"rgba(255,255,255,1)"},200);
				$("#bannerDh4").animate({color:"rgb(0,0,0)"},200);
			});
			$("#bannerDh4").mouseout(function(){//banner按钮动画
				$("#bannerDh4").animate({backgroundColor:"rgba(255,255,255,0)"},200);
				$("#bannerDh4").animate({color:"rgb(255,255,255)"},200);
			});
			$(window).scroll(function(){
				var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)	
				if(srollPos!="0"){//导航透明度
					$(".topNav").css("opacity","0.8");
					$(".topNav").css("filter","alpha(opacity=80)");
				}
				else{				
					$(".topNav").css("opacity","1");
					$(".topNav").css("filter","alpha(opacity=100)");
				}
				if(srollPos>"50"){//公司简介、公司业务
					$("#gsjj").animate({left:"0",opacity:'1'},1000);
					$('#gsyw1').animate({right:'0',opacity:'1'},1100);
					$('#gsyw2').animate({right:'0',opacity:'1'},1300);
					$('#gsyw3').animate({right:'0',opacity:'1'},1500);
				}
				if(srollPos>"400"){//公司理念
					$("#gsln").animate({opacity:"1"},"slow");
				}
				if(srollPos>"900"){//乾康家族
					$('#img1').animate({left:'0',opacity:'1'},1200);		
					$('#img2').animate({left:'0',opacity:'1'},1000);		
					$('#img3').animate({left:'0',opacity:'1'},800);	
					$('#p1').animate({right:'0',opacity:'1'},800);		
					$('#p2').animate({right:'0',opacity:'1'},1000);		
					$('#p3').animate({right:'0',opacity:'1'},1200);	
				}
				if(srollPos>"1150"){//周总寄语
					$('#zzjy1').animate({left:'0',opacity:'1'},1000);		
					$('#zzjy2').animate({right:'0',opacity:'1'},1000);		
				}
				if(srollPos>"1800"){//合作伙伴
					$('#hzhb1').animate({left:'0',opacity:'1'},1400);		
					$('#hzhb2').animate({left:'0',opacity:'1'},1200);
					$('#hzhb3').animate({left:'0',opacity:'1'},1000);	
					$('#hzhb4').animate({left:'0',opacity:'1'},800);		
					$('#hzhb5').animate({left:'0',opacity:'1'},600);
				}
				if(srollPos>"2200"){//乾康新闻				
					$('#qkxw1').animate({left:'0',opacity:'1'},1000);	
					$('#qkxw2').animate({right:'0',opacity:'1'},1000);	
				}
				if(srollPos>"2700"){//专利资质				
					$('#scrollobj').animate({opacity:'1'},1000);	
				}
				if ($(this).scrollTop() > 200) {// 滚动窗口来判断按钮显示或隐藏
					$('.side').fadeIn(100);
					} else {
					$('.side').fadeOut(100);
				}
			});
			if($(window).width()<"1100"){//屏幕小于1100不展示动画
				$(".dh").css("opacity","1");
				$(".dh").css("filter","alpha(opacity=100)");
				$(".dh").css("left","0");
				$(".dh").css("right","0");
			}
			$(".side ul li").hover(function(){
				$(this).find(".sidebox").stop().animate({"width":"124px"},200).css({"opacity":"1","filter":"Alpha(opacity=100)","background":"#ae1c1c"})	
			},function(){
				$(this).find(".sidebox").stop().animate({"width":"54px"},200).css({"opacity":"0.8","filter":"Alpha(opacity=80)","background":"#000"})	
			});
			
			setInterval(function(){
				var obj=document.getElementById('scrollobj1')
				var text="<img src='../static/img/jnnsh.png'/> "+
							"<img src='../static/img/tynsh.png'/> "+
							"<img src='../static/img/hxyh.jpg'/> "+
							"<img src='../static/img/jnyh.jpg'/> "+
							"<img src='../static/img/csnsh.jpg'/> "+	
							"<img src='../static/img/wxnsh.jpg'/> "+	
							"<img src='../static/img/xhyh.jpg'/> "+
							"<img src='../static/img/jynsh.jpg'/> "+
							"<img src='../static/img/jy.jpg'/> "+
							"<img src='../static/img/xmnsh.png'/> "				
				//obj.innerHTML += text;
				obj.scrollLeft++; 
				//当滚动条到达右边顶端时 
				if (obj.scrollWidth-obj.scrollLeft <=1200) { 
					obj.innerHTML += text; 
				} 
				
			},20); 
		});
		//回到顶部
		function goTop(){
			$('html,body').animate({'scrollTop':0},600);
		}
		function bennerDH(){//banner动画
			$('#bannerDh1').animate({right:'0'},1200);
			$('#bannerDh2').animate({left:'0'},1200);
			$('#bannerDh3').animate({right:'0'},1200);
			$('#bannerDh4').animate({left:'0'},1200);			
		}
	</script>
</body>
</html>
