<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务股份有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

</head>

<body style="background:url(../static/img/wh.jpg) no-repeat;">	
	<img src="../static/img/wh2.png"/ style="display:block;margin:0 auto;margin-top:100px;">
</body>
</html>
