
*{font-size:14px;font-family:微软雅黑;margin:0;padding:0;color:#666666}
html{overflow-y:scroll;overflow-x:hidden;} 
body{background:white;overflow-x:hidden;}
a{text-decoration:none;color:#000000;}
img{border:none;}
.main{background:white;width:1350px;margin:0 auto;overflow:hidden;}
.logo{width:1350px;height:70px;background: #101928;top:0;}
.logo img{float:left;height:60px;margin-top:5px;margin-left:30px;}

.newnav{list-style:none;z-index:10000;position:absolute;right:0;}
.newnav li{float:left;width:150px;height:70px;text-align:center;cursor:pointer;}
.newnav li a{color:#bcbcbc;display:inline-block;width:100%;line-height:70px;font-size:15px;}
.newnav .active{background: url(../img/newnavActive.png) no-repeat;background-size:100% 100%}
.newnav .active a{color:#fff;font-size:15px;}
.newnav li:hover{background: url(../img/newnavHover.png) repeat-x;background-size:100% 100%}
.newnav li:hover a{color:#fff;}


.content{width:100%;min-height:320px;}
.left{display:inline;float:left;width:20%;margin-left:8%;margin-top:40px;}
.left .Tab{width:100%;border-radius:5px;}
.left .Tab li{list-style:none;border-left:1px solid #dddddd;border-bottom:1px solid #dddddd;border-top:3px solid #666666;background:#fafafa;float:left;width:32.7%;text-align:center;}
.left .Tab li a{line-height:40px;color:#666666;font-size:16px;}
.left .Tab .active{border-top:3px solid #0488cd;background:white;border-bottom:none;}
.left .Tab .active a{}

.right1{width:260px;height:257px;display:inline;float:left;background: #ffffff url(../img/images/qk_07.png) no-repeat;}
.right1 ul{margin-top:65px;margin-left:52px;}
.right1 ul li{list-style-type:square;list-style-image:url("../img/list-style.png");}
.right1 ul li a{line-height:22px;font-size:13px;color:#999999;}

.foot{text-align:center;width:100%;}
.foot span{font-size:14px;color:#a3a3a3;position:relative;top:-10px;line-height:20px;}

.right{display:inline;float:left;width:60%;margin:20px 6% 0 4%;_margin-left:35px;}

.place{float:right;margin-right:3%;font-weight:normal;line-height:40px;_margin-top:-80px;}
.pull-right{color:#b1afaf;text-align:right;}
.pull-right a{color:#b1afaf;}
.pull-right a:hover{text-decoration:underline;}
.content{font-size:16px;line-height:25px;color:#666666;}
.fengge{width:100%;border-top:2px solid #e5e5e5;margin-top:5px;}
.text-right{text-align:right;}
.bordered td{border-bottom:1px dashed #dbdbdb;height:35px;}
.bordered td a{color:#666666;}
.showPage{margin-top:10px;margin-bottom:10px;}
.pageNum{border:1px solid #dcd9d4;padding:5px;background:#eeeeee;}
.sPageButton{background:#dcd9d4;border:none;padding:5px;cursor:pointer;margin-right:5px;position:relative;top:-5px;left:550px;}
.sPageButtonActive{border:1px solid #dcd9d4;padding:4px;cursor:pointer;background:#eeeeee;margin-right:5px;position:relative;top:-5px;left:550px;}
input[type=button],input[type=reset]{background:#dcd9d4;border:none;padding:5px;cursor:pointer;}
input[type=text]{border:1px solid #dcd9d4;padding:5px;background:#fbfbfb;width:410px;}
input{_width:410px;_padding:5px;_background:#fbfbfb;_border:1px solid #dcd9d4;}
textarea{width:420px;height:150px;background:#fbfbfb;border:1px solid #dcd9d4;}
.opinion{margin-top:10px;}
.opinion tr{height:35px;}

.H1{color:#2a677b;font-size:20px;width:100%;text-align:center;margin:10px 0;}
.step{font-weight:bold;color:#184554;}
.secondStep{font-weight:bold;}
.jtxx{width:100%;margin-top:10px;}
.jtxx table{width:100%;background:#f0f0f0;border:1px solid #dddddd;}
.jtxx table td{font-size:20px;font-weight:bold;border:1px solid #dddddd;background:white;height:60px;}
.zz{color:#5d5d5d;padding:5px 0;border:1px solid #e8e8e8;background:#f7f7f7;width:100%;text-align:center;}
.xx{margin-top:15px;}
.xx p{line-height:25px;}


.back-to-top{position:fixed;right:15px;bottom:6em;display:none;cursor:pointer;_position:absolute;}

.secondList{margin-top:-4px;position:fixed;}
.secondList li{width:175px;height:40px;line-height:40px;float:none;background: #252c34;color:white;list-style:none;border-bottom:1px solid #414f5a;cursor:pointer;}
.secondList li a{line-height:40px;}
.secondList li:hover{background:#2f3843}
.span3{display:inline-block;float:left;width:29%;margin:15px;margin-top:60px;border:1px solid #dddddd;background:#fafafa;border-bottom:3px solid #0488cd;border-radius:5px;}
.box{display:bolck;float:left;margin-top:40px;height:380px;border:1px solid #dddddd;border-left:none;border-right:none;background:#fafafa;border-radius:5px;}
.box4{width:348px;height:348px;margin-top:30px;margin-left:-4px;border:1px solid #e1e1e1;float:left;border-radius:5px;margin-left:30px;margin-left:8%;}
.box4 .span2{width:45.5%;_width:150px;height:45.5%;float:left;text-align:center;background:#e1e1e1;}
.box4 .span2 img{width:50%}
.box4 .active{background:#0488cd;}
/* 滚动图片 */
#ifocus_pic { display:inline; position:relative; float:left; width:273px; height:350px; overflow:hidden;}
#ifocus_piclist { position:relative; }
#ifocus_piclist li { width:273px; height:350px; overflow:hidden; }
.ygfc{background:url(../../static/img/ygfc.png) no-repeat;width:273px;height:270px;padding-top:20px;line-height:25px;}
.ygfcContent{width:80%;margin:0 auto;font-size:16px;color:#727272;}
p{color:#666666;font-size:1em;}
/* flash */
#outerslider{position:relative;top:-1px;margin-top:70px;_margin-top:0;}
#slidercontainer{position:relative; height:248px;}
.box_skitter_large {width:1350px; height:248px;}
.box_skitter_large .label_skitter{bottom:0px;left:0px ; padding:0; background:url(../static/img/opacity-slider-text.png) repeat;font-size:12px;padding:10px 30px;color:#fff;font-family:Arial, Helvetica, sans-serif;}

/*语言*/
.lanage{position:fixed;float:left;z-index;10000;left:0px;bottom:0px;cursor:pointer;}
.lanage img{position:relative;display:block;}
.lanage li{line-height:40px;padding-left:10px;}
.lanage a img{width:40px;display:inline-block;vertical-align:middle;margin-right:10px;}
#yyBig{margin-top:-250px;margin-left:-190px;background:url(../../static/img/yyBig.png);width:189px;height:200px;padding-top:105px;}

.tab{width:84.2%;border:1px solid #dddddd;margin-top:40px;border-top:none;padding:20px;color:#0488cd;font-size:16px;_margin-top:-1px;}		

.hzhb{width:40%;margin-top:40px;margin-right:30px;border-top:3px dotted #dddddd;display:inline-block;float:left;margin-left:7.5%;_margin-left:60px;}
.hzhb .top{background:white;position:absolute;margin-top:-15px;font-weight:bold;font-size:20px;color:#666666;}
.hzhb div{padding:20px 0;}
.hzhb div img{width:40%;border:3px dotted #e1e1e1;display:inline-block;float:left;}
.hzhb div span{display:inline-block;width:55%;float:left;margin-left:3%;font-size:16px;color:#727272;line-height:28px;}

/*首页*/
/*乾康领域*/
.qkly{width:90%;margin:0 auto;margin-top:20px;position:relative;background:#eef2f5;}
.qkly .span4{width:33%;float:left;display:inline-block;text-align:center;cursor:pointer;background:#eef2f5;margin-left:0;}
.qkly .span4 img{margin:20px;vertical-align:middle;margin-left:-10px;}
.qkly .span4 h1{display:inline-block;position:relative;top:2em;font-size:16px;line-height:35px;color:#ff9900;}
.qkly .span4 h1 span{display:inline-block;font-size:12px;line-height:15px;color:#cccccc;}
.qkly .active{background:#264b99;}
#qkly .span4 img{width:70px;vertical-align:center;margin-top:-3em;margin-bottom:10px;}
#qkly .span4 h1{top:10px;font-size:15px;line-height:30px;}
#img1{float:right;margin-left:1.25em;height:11.8em;margin-top:2em;}
#img2{float:left;margin-right:1.25em;width:25em;height:12.5em;margin-top:1em;}
#img3{float:right;margin-left:1.25em;margin-top:3.75em;}
#img4{float:left;margin-right:1.25em;margin-top:1.25em;}
#img5{float:right;margin-left:1.25em;margin-top:5em;}
#img6{float:left;margin-right:1.25em;margin-top:2.5em;}
#img7{float:right;margin-left:1.25em;}
#img8{float:left;margin-right:1.25em;margin-top:2em;}
/*乾康集团*/
.qkjt{float:left;width:70%;margin-left:15%;text-align:center;line-height:30px;}
.qkjt h1{background:#fff;line-height:4em;text-align:center;font-size:2em;color:#264b99;}
.qkjt h1 img{margin:25px;vertical-align:middle;}
.qkjt h2{color: #9abefc;font-weight:normal;margin-top:-3em;font-size:0.9em;}
.qkjt p{margin-top:1em;margin-bottom:2em;}
.qkjt .button{border:1px solid #d9d9d9;padding:10px 60px;background:#fff;color:#264b99;border-radius:60px;}
.qkjt .button:hover{border:1px solid #264b99;}
/*乾康口号*/
.qkkh{float:left;width:100%;margin-top:60px;background:#c3d6ff;text-align:center;}
.qkkh h1{text-align:center;font-size:2em;color:#1e3b78;font-weight:normal;line-height:3emx;margin-top:30px;}

.qkkh h2{display:block;text-align:center;font-size:0.9em;color:#9abefc;font-weight:normal;line-height:20px;margin-left:0;margin-bottom:1.5em;}
.qkkh .span6{width:13.5%;display:inline-block;background:#f6f6f6;margin-right:1%;margin-bottom:50px;}
.qkkh .span6 img{margin-top:20px;}
.qkkh .span6 h1{font-size:1.25em;color:#264b99;margin-top:0;}
.qkkh .span6 h2{color:#5a5a5a;margin-top:10px;margin-bottom:20px;}


/*乾康家族*/
.qkjz{width:90%;margin-left:5%;}
.qkjz p{font-size:1.5em;line-height:40px;color:#000;}
.qkjz img{vertical-align:middle;margin-top:-5px;}
.sgz{display:inline-block;background:url(../img/sgz.png) no-repeat;width:280px;line-height:46px;margin-left:-4px;text-align:left;}
.sgz span{display:block;position:relative;top:-40px;left:43px;color:#1b57a8;font-weight:bold;font-size:1.5em;}
.czlc{display:inline-block;width:280px;text-align:left;margin-left:-4px;}
.czlc font{color:#1b57a8;display:block;position:relative;top:-10px;left:145px;line-height:25px;}
.czlc .sj{color:#434343;}

.zgs{background:#eef2f5;width:33%;display:inline-block;float:left;margin-top:2em;margin-bottom:3em}
.zgs img{width:100%;height:200px;margin:0;}
.zgs span{display:inline-block;width:100%;height:180px;padding-top:20px;}
.zgs h2{color:#294167;margin:0;line-height:70px;font-size:25px;font-weight:normal;margin-top:-10px;}
.zgs a{padding:10px 40px;border:0;background:#ff9900;border-radius:20px;color:#fff;cursor:pointer;}
.gsjj{display:inline-block;width:60%;}

.yyms{display:inline-block;width:40%;margin-bottom:50px;}
.yyms span{display:inline-block;width:55%;}
.yyms span font{font-size:1em;display:block;color:#1dae9e;font-weight:bold;}
/*成功故事*/
.cggs{float:left;background:#ffe4bd;text-align:center;line-height:30px;padding:0 5% 50px 5%;margin-top:10px;}
.cggs h1{color:#ff9900;width:90%;}
.cggs h2{color:#ffa753;margin-bottom:30px;width:90%;}
.cggs p{color:#000;width:90%;font-size:0.9em;margin-bottom:30px;}
.cggs .prev{display:inline-block;width:49px;height:150px;background:#ffe4bd url(../img/prev1.png) no-repeat right center;cursor:pointer;position:relative;float:left;margin-left:-5%;padding-left:5%;}
.cggs .next{display:inline-block;width:49px;height:150px;background:#ffe4bd url(../img/next1.png) no-repeat left center;cursor:pointer;position:relative;float:right;margin-right:5%;padding-left:5%;}
.cggs .prev:hover{background:#ffe4bd url(../img/prev2.png) no-repeat right center;}
.cggs .next:hover{background:#ffe4bd url(../img/next2.png) no-repeat left center;}
.cggs .cgimg{width:2000px;float:left;margin-left:60px;margin-top:-150px;} 
.cgimg img{width:148px;height:148px;float:left;margin-right:10px;}
/*乾康伙伴*/
.qkhb{margin-bottom:50px;}
.parner{display:inline-block;}
.parner img{cursor:pointer;}
.parner p{font-weight:bold;color:#666;margin-top:-10px;}
.parner span{display:inline-block;color:#666;font-size:0.9em;margin-top:50px;line-height:20px;}
.parner font{color:#aeaeae;line-height:40px;color:#ff9900;}
.lcLeft{background:url(../img/lcLeft.png) no-repeat;width:142px;background-size:100%}
.lcCenter{background:url(../img/lcCenter.png) no-repeat;width:170px;background-size:100%}
.lcRight{background:url(../img/lcRight.png) no-repeat;width:142px;background-size:100%}
.lcL{background:url(../img/lcL.png) no-repeat;width:210px;background-size:100%}
.lcC{background:url(../img/lcC.png) no-repeat;width:210px;background-size:100%}
.lcR{background:url(../img/lcR.png) no-repeat;width:210px;background-size:100%}
/*底部*/
.foot{width:100%;float:left;text-align:center;background:#242333;padding-top:2em;}
.foot p{text-align:left;color:#909098;font-size:0.9em;}
.foot .xx{float:left;width:90%;margin-left:5%;border-bottom:1px solid #656565;margin-bottom:20px;padding-bottom:15px;}
.foot ul {}
.foot ul li{float:left;color:#909098;list-style:none;padding-right:15px;}
.foot ul li a{color:#909098;}
.foot img{display:block;float:right;width:100px;height:100px;margin-top:-120px;}
.foot .xx font{display:block;float:right;width:40%;text-align:right;margin-bottom:10px;padding-right:10px;}
.foot span{display:block;width:100%;float:left;font-size:0.9em;color:#a3a3a3;position:relative;line-height:25px;}

/*左侧导航*/
.leftNav{background:#264b99;padding:20px;}
.leftNav h1{color:#fff;font-size:20px;margin-bottom:20px;}
.list{width:100%;}
.list li{list-style:none;cursor:pointer;padding-left:75px;background:#264b99 url("../img/list.jpg") no-repeat;margin-bottom:10px;line-height:34px;color:#fff;}
.list .active{background:#264b99 url("../img/list_active.jpg") no-repeat;color:#264b99;}
/*标题*/
.title{width:90%;line-height:100px;font-size:18px;text-align:center;font-weight:bold;color:#000;float:left;margin-left:5%;margin-top:20px;margin-bottom:20px;}
.title h1{display:inline-block;font-weight:normal;font-size:25px;color:#000;position:relative;z-index:2}
.title h2{display:inline-block;width:100px;text-align:center;font-size:25px;background:url(../img/title.jpg) no-repeat center;background-size:100%;color:#000;margin-left:-20px;position:relative;z-index:1}
.title h3{display:inline-block;font-size:16px;font-weight:normal;margin-left:-20px;color:#000;position:relative;z-index:2}
/*关于乾康*/
.AboutUs{float:left;width:80%;margin-left:10%;background:url(../img/gyqk.jpg) no-repeat right top;height:350px;margin-bottom:40px;padding-bottom:40px;border-bottom:1px dashed #d9d9d9;}
.AboutUs h1{color:#000;font-size:20px;font-weight:normal;margin-top:50px;line-height:30px;}
.AboutUs h2{font-size:35px;color:#000;line-height:70px;}
.AboutUs span{display:inline-block;width:13%;border-top:2px solid #000;margin-right:1%;vertical-align:top;margin-top:1em;}
.AboutUs font{display:inline-block;width:46%;color:#000;line-height:30px;}
.AboutUs b{color:#000;}
/*企业文化*/
.qywh{background:url(../img/qywh.png) no-repeat left top;margin-top:0;height:auto;margin-bottom:0px;}
.qywh h1,.qywh h2{text-align:right;}
.qywh h1{margin-top:0;}
.qywh span{margin-left:40%;height:95px;}
.qywh font{width:45%;}
/*成功故事*/
.Success{float:left;width:100%;background:#fff;}
.Success .leaf{width:40%;margin-left:10%;text-align:center;}
.Success .leaf img{width:80px;border-radius:80px;border:1px solid #ddd;margin-right:5px;margin-top:0;filter:gray; -webkit-filter: grayscale(100%);cursor:pointer;}
/*.Success .leaf img:hover{filter:none; -webkit-filter: grayscale(0%);}*/
.tree{margin-top:-230px;margin-left:90px;}
.Success .xx{width:40%;margin-right:10%;float:right;margin-top:-200px;}
.Success .xx h1{color:#000;font-size:20px;font-weight:normal;line-height:30px;text-align:right;}
.Success .xx h2{font-size:35px;color:#000;line-height:70px;text-align:right;}
.Success .xx p{color:#000;line-height:30px;}
.Success .xx img{margin-top:40px;width:100%;}
/*消费金融*/
.xfjrList{margin:0 10%;margin-bottom:100px;float:left;width:80%;}
.xfjrList div{display:inline-block;width:29.2%;padding:0.7em;float:left;border:1px solid rgb(238, 238, 238);margin-right:1.25em;margin-bottom:1.25em;cursor:pointer;}
.xfjrList img{width:100%;height:215px;}
.xfjrList p{color:#000;text-align:center;line-height:40px;}
.xfjrList div:hover {border:1px solid #ff9900;}
.xfjrList div:hover p{color:#264b99;}

.xfjr{background:#fff;height:auto;}
.xfjr h1{margin-top:0;line-height:60px;}
.xfjr p{font-size:0.875em;line-height:25px;}
.img3{width:33%;float:left;margin-right:0.3%}
.xfjr .message{background:url(../img/xian.png) no-repeat center;height:200px;margin-top:-20px;}
.xfjr .message p{width:300px;text-align:right;color:#5a5a5a;font-size:0.875em;position:relative;}
.xfjr .message p font{display:block;width:100%;color:#1c57a8;border-top:none;font-size:1em;font-weight:bold;}
#ms1,#ms5{top:20px;}
#ms2{left:30px;top:90px;}
#ms3{left:670px;top:-210px;text-align:left;}
#ms4{left:770px;top:-150px;text-align:left;}
#ms6{left:30px;top:60px;}
#ms7{left:670px;top:-250px;text-align:left;}
#ms8{left:770px;top:-220px;text-align:left;}
.img2{width:48%;margin-top:20px;height:22em;border:1px solid #ddd;margin-right:1.5%;}

.back{width:9em;height:3em;text-align:center;display:inline-block;line-height:3em;background:#1c4587;border:none;color:#fff;margin-left:10%;margin-bottom:2em;cursor:pointer;}
.jrgls{width:16%;display:inline-block;border:1px solid #ddd;cursor:pointer;margin-top:20px;margin-bottom:20px;height:108px;}
.jrgls img{width:94%;margin:3%;height:94%;}
img.zz{width:35px;background:none;border:none;margin-left:38px;margin-top:7px;}

#xyk .tip{font-weight:bold;padding:10px 0;width:13%;display:inline-block;text-align:center;font-size:15px;line-height:25px;border-right:1px dashed #bfbfbf;border-left:5px solid #264b99}
.Pleft{width:85%;display:inline-block;padding-left:10px;margin-bottom:20px;}
#xyk .Right{border-left:1px dashed #bfbfbf;border-right:5px solid #264b99}
.Pright{padding-left:0;padding-right:10px;}
/*弹出框*/
.dialog{width:100%;height:100%;position:fixed;top:0;z-index:1000000;display:none;}
.dialog .background{position:absolute;width:100%;height:100%;background:rgba(0, 0, 0, 0.5)!important;filter:Alpha(opacity=50); background:#000;}
.dialog .dialog-box{position:relative;width:40em;background:#ffffff;border:1px solid #e5e5e5;border-radius:10px;margin:0 auto;margin-top:7%;}

.dialog-box p{text-align:right;background:#fff;text-align:right;margin:0 auto;border-radius:10px 10px 0 0;}
.dialog-box .close{display:inline;border:0;margin:0;width:37px;cursor:pointer;border-radius:10px;}
.dialog-box img{display:block;width:90%;margin:0 auto;border:15px solid #fff;border-top:0;border-radius:0 0 10px 10px;}
/*乾康家族*/
.span33{width:25%;float:left;display:inline-block;text-align:center;cursor:pointer;background:#eef2f5;margin-left:0;}
.span33 h1{line-height:20px;color:#264b99;padding:20px 0;}
.span33 font{color:#ccc;line-height:20px;}
.active h1{color:#ff9900;}
/*加入乾康*/
.zp div{width:21%;}
.zp img{height:170px;}
.leftContent{float:left;margin-left:10%;width:45%;border:1px dashed #bcbcbc;padding:5px;margin-bottom:20px;}
#map,#map2,#map3{width:100%;height:350px;}
.rightContent{float:left;margin-left:3%;width:31%;padding-top:40px;}
.rightContent h1{font-size:25px;font-weight:normal;color:#000;line-height:80px;}
.rightContent p{line-height:60px;border-bottom:1px dashed #ddd;}
.rightContent p img{vertical-align:middle;margin-right:10px;}
.jrqk{width:80%;margin-left:10%;padding-top:20px;border-top:1px dotted #818181;margin-bottom:20px;}
.jrqk img{width:33%;height:230px;}
/*乾康金服*/
.zjjs{width:50%;display:inline-block;display:none;}
.zjjs font{color:#000;font-size:30px;line-height:70px;}
.zjjs font b{color:gray;font-size:20px;font-weight:normal;}
.zjjs .tip{color:#1c57a8;font-weight:bold;}
.zjjs p{line-height:22px;}
.zjjs img{width:165px;height:165px;float:right;border-radius:165px;border:3px solid #cacaca;}
.jjtd{background:url(../img/zjtd/bj.jpg) no-repeat;width:482px;height:322px;float:right;display:inline-block;}
.jjtd img{width:96.4px;height:81px;position:relative;float:left;margin-left:96.4px;cursor:pointer;}

#gsxm{width:80%;margin-left:10%;}
#gsxm div{width:21%;}
#gsxm div img{height:160px;}

#qkkh font{width:42%;line-height:1.7em;}
.ywzxyy .imgright{float:right;margin-left:1.25em;}
.ywzxyy .imgleft{float:left;margin-right:1.25em;}
.ywzxyy p{font-size:16px;line-height:30px;}
#zxjj{height:285px;}
.yjzxcl{height:350px;}
#sxpt{height:298px;}
#qkjr{height:300px;}
#qkxx{height:280px;}
#xx1{height:262px;}
@media all and (min-width: 800px) and (max-width: 1300px){
	.main{width:100%;}
	.logo{width:100%;}
	.ywzxyy p{font-size:1em;}
 }
@media all and (max-width:800px){
	*{font-size:0.5em;}
	p{font-size:1em;}
	.main{width:100%;}
	.back{margin-left:5%;margin-top:0;}
	.logo{width:100%;height:3.5em;}	
	.logo img{height:2em;margin-top:0.7em;margin-left:0.5em;}
	.newnav{list-style:none;z-index:10000;position:absolute;right:0;}
	.newnav li{width:auto;padding:0 1em;height:3.5em;}
	.newnav li a{width:100%;line-height:3.5em;font-size:0.5em;}
	.newnav .active a{line-height:3.5em;font-size:0.5em;}
	/* flash */
	#outerslider{margin-top:3.5em;}
	#slidercontainer{height:155px;}
	.box_skitter_large {width:100%;height:155px;}
	
	/*标题*/
	.title{line-height:6.25em;font-size:1.2em;margin-top:1.5em;margin-bottom:1.5em;}
	.title h1{font-size:1.6em;margin-right:0.7em;}
	.title h2{width:5em;font-size:1.6em;margin-left:-1.5em;}
	.title h3{font-size:1em;margin-left:-1.5em;}
	/*乾康领域*/
	.qkly{width:100%;margin-top:-1px;}
	.qkly .span4 img{margin:0 auto;display:block;width:40%;margin-top:2em;}
	.qkly .span4 h1{display:block;position:relative;top:0;font-size:1em;line-height:2em;}
	.qkly .span4 h1 span{display:block;font-size:0.7em;line-height:1em;margin-bottom:2em;}
	#qkly .span4{width:33.33%}
	#qkly .span4 img{width:25%;margin-top:1.6em;display:inline-block;float:left;margin-left:2%;}
	#qkly .span4 h1{top:10px;font-size:1em;line-height:2em;}
	/*乾康集团*/
	.qkjt{width:90%;margin-left:5%;}
	.qkjt h1{line-height:5.5em;font-size:1.5em;}
	.qkjt h1 img{margin:1.5em;width:30%;}
	.qkjt h2{margin-top:-3em;}
	.qkjt p{margin-top:1.2em;margin-bottom:2em;}
	.qkjt .button{padding:0.8em 5em;border-radius:5em;}
	/*乾康口号*/
	.qkkh{margin-top:3em;text-align:center;padding-bottom:1em;}
	.qkkh h1{font-size:1.5em;line-height:2.5em;margin-top:1.5em;}
	.qkkh h2{font-size:1em;line-height:1.5em;margin-bottom:1.5em;}
	.qkkh .span6{width:30%;margin:0 0.5%;margin-bottom:1em;}
	.qkkh .span6 img{width:30%;margin-top:1.5em;}
	.qkkh .span6 h1{font-size:1.5em;}
	.qkkh .span6 h2{margin-bottom:1em;}
	/*乾康家族*/
	.qkjz{width:90%;margin-left:5%;}
	.zgs img{height:11em;}
	.zgs span{height:10em;padding-top:1em;}
	.zgs h2{line-height:1.5em;font-size:1.2em;margin:0.5em;}
	.zgs a{padding:0.5em 2em;border-radius:2.5em;}
	.gsjj{width:60%;}
	
	#gsxm{width:90%;margin-left:5%;}
	#gsxm div{width:26.5%;}
	#gsxm div img{height:9em;}
	/*成功故事*/	
	.cggs{margin-top:0;}
	.cggs h2{margin-bottom:1em;}
	.cggs p{font-size:0.875em;margin-bottom:1.5em;}
	.cggs .prev{width:3em;height:10em;}
	.cggs .next{width:3em;height:10em;}
	
	
	/*乾康伙伴*/
	.qkhb{margin-bottom:2em;width:100%;margin-left:0;}
	.parner{display:inline-block;}
	.parner p{font-weight:bold;color:#666;margin-top:-0.8em;font-size:0.3em;}
	.parner span{display:inline-block;color:#666;font-size:0.875em;margin-top:2em;line-height:1.5em;}
	.parner font{color:#aeaeae;line-height:2em;color:#ff9900;}
	.lcLeft,.lcLeft img{width:7.55em;}
	.lcCenter,.lcCenter img{width:9em;}
	.lcRight,.lcRight img{width:7.55em;}
	.lcL,.lcC,.lcR{width:20%; }
	/*底部*/
	.foot p{font-size:0.875em;}
	.foot .xx{margin-bottom:1.5em;padding-bottom:1em;}
	.foot img{width:8em;height:8em;margin-top:-10em;}
	.foot .xx font{margin-bottom:0.5em;padding-right:0.8em;margin-top:-1.5em;}
	.foot span{font-size:0.875em;line-height:1.5em;}
	/*关于乾康*/
	.AboutUs{width:90%;margin-left:5%;background-size:70% 89%;height:auto;margin-bottom:2em;padding-bottom:3em;}
	.AboutUs h1{font-size:1.5em;margin-top:0;line-height:1.8em;}
	.AboutUs h2{font-size:2em;line-height:2em;}
	.AboutUs span{width:5em;margin-right:0.5em;}
	.AboutUs font{line-height:1.8em;}
	/*企业文化*/
	.qywh{height:20em;}
	.qywh h1{margin-top:0;}
	.qywh span{margin-left:38%;margin-right:1%;}
	.qywh font{width:45%;float:right;}
	font.zxcl{line-height:1.7em;}
	/*消费金融*/
	.xfjrList{margin:0 5%;margin-bottom:5em;width:90%;}
	.xfjrList div{width:26.5%;padding:0.7em;margin:0 0.5em;margin-bottom:1.5em;}
	.xfjrList img{height:8.5em;}
	.xfjrList p{line-height:2.5em;}
	
	.xfjr{background:#fff;height:auto;}
	.xfjr h1{margin-top:3em;line-height:3.75em;}
	.xfjr p{font-size:0.875em;line-height:1.5em;}
	.img3{width:32%}
	#jrjgzy  img{margin-top:6em}
	#jrjgzy p{line-height:1.5em;}
	.ywzxyy .imgright{margin-top:1em;}
	.ywzxyy .imgleft{margin-top:2em;}
	#xfjrywly{height:auto;}
	.xfjr .message{background-size:40%;height:12.5em;margin-top:-1.5em;}
	.xfjr .message p{width:14em;font-size:0.875em;}
	.xfjr .message p font{font-size:1em;}
	
	#ms1{top:0em;left:-1em}
	#ms2{left:2em;top:4em;}
	#ms3{left:28em;top:-17em;}
	#ms4{left:30em;top:-14em;}	
	#ms5{left:-2em;top:0;}
	#ms6{left:1.875em;top:0;}
	#ms7{left:27em;top:-22em;}
	#ms8{left:29em;top:-20em;}	
	.img2{margin-top:1.5em;height:15em;margin-right:1%;}
	#ywly3,#ywly4{position:relative;top:-2em;}
	#yjzxjj{margin-top:1em;}
	
	
	/*互联网消费金融管理师*/	
	#img1,#img2{width:45%;height:15em;}
	#img3{width:45%;height:18em;}
	#img4,#img5,#img6,#img7,#img8{width:45%;margin-top:5em}
	#zp4 .AboutUs h1{margin-top:0em;}
	#dh12 p{line-height:1.2em;}
	#qkkh font{width:45%;line-height:1.5em;}
	.jrgls {height:5em}
	img.zz{display:none;}
	.ywzxyy h1{margin-top:0;}
	.ywzxyy p{font-size:1.2em;line-height:1.8em;}
	.ywzxyy img{width:22em}
	.ywzxyy .img3{width:32%;}
	#zxjj,.yjzxcl,#sxpt,#qkjr,#qkxx,#xx1{height:auto;}
	/*成功故事*/
	.Success .leaf{width:100%;margin-left:0;}
	.Success .leaf img{width:5em;border-radius:5em;margin-right:0.5em;}
	.tree{margin-top:-2em;margin-left:2%;width:100%;}
	.Success .xx{display:none;}
	#dh33 font{line-height:1.4em;}
	
	@-moz-document url-prefix() {/*火狐浏览器*/
		*{font-size:0.8rem;}
		p{font-size:1rem;}
		.logo{height:3.5rem;}	
		.logo img{height:2rem;margin-top:0.7rem;margin-left:0.5rem;}
		.newnav li{padding:0 0.7rem;height:3.5rem;}
		.newnav li a{line-height:3.5rem;font-size:0.9rem;}
		.newnav .active a{line-height:3.5rem;font-size:1rem;}
		/* flash */
		#outerslider{margin-top:3.5rem;}
		
		/*标题*/
		.title{line-height:6.25rem;font-size:1.2rem;margin-top:1.5rem;margin-bottom:1.5rem;}
		.title h1{font-size:1.2rem;margin-right:0.7rem;}
		.title h2{width:5rem;font-size:1.6rem;margin-left:-1.5rem;}
		.title h3{font-size:1rem;margin-left:-1rem;}
		/*乾康领域*/
		.qkly .span4 img{margin-top:1.5rem;}
		.qkly .span4 h1{font-size:0.9rem;line-height:2rem;}
		.qkly .span4 h1 span{font-size:0.8rem;line-height:1rem;margin-bottom:1.5rem;}
		#qkly .span4 img{margin-top:1.6rem;}
		#qkly .span4 h1{font-size:0.85rem;line-height:2rem;}
		/*乾康集团*/
		.qkjt h1{line-height:5.5rem;font-size:1.2rem;}
		.qkjt h1 img{margin:1.5rem;}
		.qkjt h2{margin-top:-2.8rem;}
		.qkjt p{margin-top:1.1rem;margin-bottom:2rem;}
		.qkjt .button{font-size:1rem;padding:0.8rem 5rem;border-radius:5rem;}
		/*乾康口号*/
		.qkkh{margin-top:3rem;padding-bottom:1rem;}
		.qkkh h1{font-size:1.5rem;line-height:2.5rem;margin-top:1.5rem;}
		.qkkh h2{font-size:1rem;line-height:1.5rem;margin-bottom:1.5rem;}
		.qkkh .span6{margin-bottom:1rem;}
		.qkkh .span6 img{wmargin-top:1.5rem;}
		.qkkh .span6 h1{font-size:1.5rem;}
		.qkkh .span6 h2{margin-bottom:1rem;}
		/*乾康家族*/
		.zgs img{height:11rem;}
		.zgs span{height:10rem;padding-top:1rem;}
		.zgs h2{line-height:1.5rem;font-size:1.2rem;margin:0.5rem;}
		.zgs a{padding:0.5rem 2rem;border-radius:2.5rem;font-size:0.9rem;}
		
		#gsxm div img{height:9rem;}
		/*成功故事*/	
		.cggs h2{margin-bottom:1rem;}
		.cggs p{font-size:0.9rem;margin-bottom:1.5rem;}
		.cggs .prev{width:3rem;height:10rem;}
		.cggs .next{width:3rem;height:10rem;}
		
		
		/*乾康伙伴*/
		.qkhb{margin-bottom:2rem;}
		.parner p{margin-top:-0.8rem;font-size:0.8rem;}
		.parner span{font-size:0.875rem;margin-top:2rem;line-height:1.5rem;}
		.parner font{line-height:2rem;}
		.lcLeft,.lcLeft img{width:7.55rem;}
		.lcCenter,.lcCenter img{width:9rem;}
		.lcRight,.lcRight img{width:7.55rem;}
		/*底部*/
		.foot p{font-size:0.875rem;}
		.foot .xx{margin-bottom:1.5rem;padding-bottom:1rem;}
		.foot img{width:8rem;height:8rem;margin-top:-10rem;}
		.foot .xx font{margin-bottom:0.5rem;padding-right:0.8rem;margin-top:-1.5rem;}
		.foot span{font-size:0.875rem;line-height:1.5rem;}
		/*关于乾康*/
		.AboutUs{margin-bottom:2rem;padding-bottom:3rem;}
		.AboutUs h1{font-size:1.2rem;margin-top:0;line-height:1.8rem;}
		.AboutUs h2{font-size:1.4rem;line-height:2rem;}
		.AboutUs span{width:5rem;margin-right:0.5rem;}
		.AboutUs font{line-height:1.6rem;font-size:0.9rem;}
		/*企业文化*/
		.qywh{height:20rem;}
		.qywh h1{margin-top:0;}
		.qywh span{margin-left:38%;margin-right:1%;}
		.qywh font{width:45%;float:right;}
		font.zxcl{line-height:1.7rem;}
		/*消费金融*/
		.xfjrList{margin-bottom:5rem;}
		.xfjrList div{padding:0.5rem;margin:0 0.5rem;margin-bottom:1.5rem;}
		.xfjrList img{height:8.5rem;}
		.xfjrList p{line-height:2.5rem;font-size:0.9rem;}
		
		
		.xfjr h1{margin-top:3rem;line-height:3.75rem;}
		.xfjr p{font-size:0.9rem;line-height:1.5rem;}
		
		.ywzxyy .imgright{margin-top:4.5rem;}
		.ywzxyy .imgleft{margin-top:2rem;}
		#jrjgzy  img{margin-top:6rem}
		#jrjgzy p{line-height:1.5rem;}
		
		
		.xfjr .message{height:12.5rem;margin-top:-1.5rem;}
		.xfjr .message p{width:14rem;font-size:0.875rem;}
		.xfjr .message p font{font-size:1rem;}
		
		#ms1{top:1rem;left:-2rem}
		#ms2{left:1rem;top:3rem;}
		#ms3{left:24rem;top:-13rem;}
		#ms4{left:27rem;top:-10rem;}	
		#ms5{left:-2rem;top:0;}
		#ms6{left:1.875rem;top:0;}
		#ms7{left:27rem;top:-22rem;}
		#ms8{left:29rem;top:-20rem;}	
		.img2{margin-top:1.5rem;height:15rem;}
		#ywly3,#ywly4{top:-2rem;}
		#yjzxjj{margin-top:1rem;}
		
		
		/*互联网消费金融管理师*/	
		#img1,#img2{height:15rem;}
		#img3{height:18rem;}
		#img4,#img5,#img6,#img7,#img8{margin-top:5rem}
		#zp4 .AboutUs h1{margin-top:0rem;}
		#dh12 p{line-height:1.2rem;}
		#qkkh font{line-height:1.5rem;}
		.jrgls {height:5rem}
		.ywzxyy p{font-size:1.2rem;line-height:1.8rem;}
		.ywzxyy img{width:22rem}
		/*成功故事*/
		.Success .leaf img{width:5rem;border-radius:5rem;margin-right:0.5rem;}
		.tree{margin-top:-2rem;}
		#dh33 font{line-height:2rem;}
		.span33 h1{font-size:1rem;}
	}
 }
