*{margin: 0px;padding: 0px;font-size: 14px;font-family: "Microsoft YaHei";}
body {background: white;overflow-x: hidden;}
.main {width: 100%;max-width: 1370px;margin: 0px auto;overflow-x: hidden;}


	/*导航*/
	.topNav{width:100%;max-width:1370px;height:60px;background:#101928;top:0;position:fixed;z-index:100;}
	.logo{height: 50px;margin: 5px;float: left;cursor: pointer;}
	.topNav ul{float:right;}
	.topNav ul li{float:left;list-style:none;}
	.topNav ul li a{display: inline-block;color: rgb(188, 188, 188);text-decoration: none;font-size: 15px;width: 140px;line-height: 60px;text-align: center;}
	.topNav ul li a:hover{background:url(../img/newnavHover.png) repeat-x bottom;}
	.topNav .active a{background:url(../img/newnavActive.png) bottom center;}
	.topNav .active a:hover{background:url(../img/newnavActive.png) bottom center;}
	/*banner*/
	.banner {margin-top: 60px;background: url(../img/banner3.jpg) 50% 50% no-repeat rgb(0, 0, 0);margin-bottom: 20px;width: 100%;height:400px;max-width: 1370px;}
	
	
/**************************gyqk*************************************/
	/*标题*/
	.title {text-align:center;margin-bottom:20px;}
	.title img{position:relative;}
	.title img.left{top:25px;left:-122px;}
	.title img.right{top:-20px;left:135px;}
	.title h3{font-size:25px;color:rgb(34,64,114);padding-right:50px;}
	.title h4{font-size:12px;padding-left:50px;}
	/*公司简介*/
	.AboutUs{float:left;width:80%;margin-left:10%;background:url(../img/gsjj.png) no-repeat center;height:350px;}
	.AboutUs font {color: #b7b7b7;font-size: 80px;padding-top: 10px;margin-left:13%;}
	.AboutUs h3 {margin-left:18%;margin-top: -100px;font-size: 30px;line-height: 40px;padding-top: 15px;}
	.AboutUs h4 {margin-left:18%;margin-bottom: 15px;color: rgb(187, 187, 187);font-size: 20px;}
	.AboutUs span{display:inline-block;width:13%;margin-left:13%;margin-left:13%;border-top:2px solid #000;margin-right:1%;vertical-align:top;margin-top:1em;}
	.AboutUs p{display:inline-block;width:46%;color:#000;line-height:30px;}
	.AboutUs b{color:#000;}
	/*企业理念*/
	.qyln{float:left;background:#ebebeb url("../img/qyln.jpg") no-repeat;background-size:cover;width:100%;height:430px;}
	.qyln .title1{width:270px;margin:0 auto;margin-top:20px;margin-bottom: 20px;}
	.qyln font {color: #b7b7b7;font-size: 80px;padding-top: 10px;}
	.qyln h3 {margin-left:55px;color:#fff;margin-top: -100px;font-size: 30px;line-height: 40px;padding-top: 15px;}
	.qyln h4 {margin-left:55px;margin-bottom: 15px;color: rgb(187, 187, 187);font-size: 20px;}
	.qyln div.span6{width:32%;display:inline-block;margin-left:0;margin-right:1%;text-align:center;}
	.qyln div.span6 img{display: block;float: none;margin:0 auto;height:auto;}
	.qyln div.span6 h1{font-size:20px;color:#fff;margin-top:0;line-height:30px;}
	.qyln div.span6 h2{font-size:14px;color:#fff;line-height:20px;margin-bottom:20px;font-weight:normal;}
	/*专利资质*/
	.qktd{float:left;width:80%;margin-left:10%;margin-top: 20px;}
	.qktd .title1{width:250px;margin:0 auto;margin-bottom: 20px;}
	.qktd font {color: #b7b7b7;font-size: 80px;padding-top: 10px;}
	.qktd h1 {margin-left:52px;margin-top: -100px;font-size: 30px;line-height: 40px;padding-top: 15px;}
	.qktd h2 {margin-left:52px;margin-bottom: 15px;color: rgb(187, 187, 187);font-size: 20px;}
	.qktd .span5{width:49.5%;margin-right: 0.5%;float:left;margin-bottom: 2%;}
	.qktd .span5 img{width:35%;float:left;}
	.qktd .span5 h3{float:left;width:60%;margin-left: 5%;font-size:20px;font-weight:normal;color:#323232;}
	.qktd .span5 h4{float:left;width:60%;margin-left: 5%;font-size:14px;font-weight:normal;line-height:22px;color:#323232;margin-bottom:10px;}
	.qktd .span5 p{float:left;width:55%;margin-left: 5%;color:#666666;font-size: 12px;line-height:20px;}
	
	
	#zlzz div#scrollobj{width:100%;margin-left:0%;white-space:nowrap;overflow:hidden;margin-top:30px;} 
	#scrollobj img{width:19%;height:auto;margin-right:0.6%;margin-top:10px;margin-bottom:30px;}
	/*乾康大事记*/
	.qkdsj{float:left;background:#ebebeb;width:100%;margin-left: 0;padding-top: 20px;padding-bottom: 40px;}
	.qkdsj .title1{width:290px;margin-bottom: 30px;}
	.qkdsj h1,.qkdsj h2{margin-left:65px;}
	.qkdsj img{width:70%;margin-left:15%;margin-top: 10px;}
	/*乾康伙伴*/
	.qkhb{float:left;width:100%;margin-left: 0;text-align: center;padding-bottom:30px;}
	.qkhb .title1{width:240px;margin-bottom: 30px;text-align: left;}
	.qkhb h1,.qkhb h2{margin-left:65px;}
	.parner{display:inline-block;}
	.parner img{cursor:pointer;margin-left: -20px;margin-top: 12px;}
	.parner img.img2{margin-left: 0px;}
	.parner img.img3{margin-left: 3px;}
	.parner img.img4{margin-left: 25px;}
	.parner p{font-weight:bold;color:#666;margin-top:10px;margin-bottom: 20px;}
	.lcLeft{background:url(../img/lcLeft.png) no-repeat;width:142px;background-size:100%}
	.lcCenter{background:url(../img/lcCenter.png) no-repeat;width:170px;background-size:100%}
	.lcRight{background:url(../img/lcRight.png) no-repeat;width:142px;background-size:100%}
	.lcL{background:url(../img/lcL.png) no-repeat;width:210px;background-size:100%}
	.lcC{background:url(../img/lcC.png) no-repeat;width:210px;background-size:100%}
	.lcR{background:url(../img/lcR.png) no-repeat;width:210px;background-size:100%}
	

/**************************qkly*************************************/
	/*公司业务*/
	.gsyw {float: left;width: 26%;background: rgb(235, 235, 235);margin-right: 1%;cursor: pointer;margin-bottom: 30px;}
	.gsyw img {width: 100%;margin-bottom: 10px;}
	.gsyw p {color: rgb(7, 112, 193);text-align: center;font-size: 16px;line-height: 35px;}
	.gsyw p font{font-size: 16px;line-height: 35px;}
	.gsyw p.zbt {color: rgb(90, 90, 90);padding-bottom: 20px;font-size: 14px;line-height: 22px;}
	#gsyw1{margin-left:10%;}
	/*线上个人信贷风险控制服务商*/
	.qkly{height:200px;}
	.qkly h3,.qkly h4{margin-left:19%;}
	#qkly1{margin-bottom:30px;padding-bottom:0;}
	#qkly1 p img,#img22 p img,#img33 p img{width:32.5%;margin-right:1%;margin-bottom:30px;}
	/*互联网银行运营*/
	#qkly2{margin-top:0;height:365px;}
	#qkly2 h3,#qkly2 h4{margin-left:165px;}
	#img22{padding-bottom:0;margin-bottom:30px;}
	/*个人信贷业务咨询运营*/	
	#qkly3{margin-top:0;height:390px;}
	#qkly3 h3,#qkly3 h4{margin-left:190px;}
	#qkly4{margin-top:0;height:300px;}
	#qkly4 h3,#qkly4 h4{margin-left:190px;}
	#img33{padding-bottom:0;margin-bottom:30px;}
/**************************qkjz*************************************/
	/*乾康家族*/
	.qkjz{margin-left: 10%;width:80%;}
	.qkjz div{float: left;width:32%;margin-right:2%;background: #f3f3f3;margin-bottom: 50px;}
	.qkjz div img{width:100%;}
	.qkjz div p{color: #0758b3;font-size:18px;text-align: center;margin-top:10px;}
	.qkjz div p.jj{color:#aaaaaa;font-size:14px;padding:0 20px;}
	.qkjz div span{cursor:pointer;display: block;width:90px;font-size:12px;background:#0758b3;color: #fff;text-align:center;margin:0 auto;line-height:40px;border-radius: 5px;position: relative;top:20px;}
	.qkjz div span:hover{background:#093464;}
	

	.qkjr{height:300px;}
	.qkxx{height:230px;}
	.qkjf{height:300px;}
	/*经营模式*/
	.jyms{margin-bottom:-40px;}
	.jyms h1,.jyms h2{margin-left: 50px;}
	.jyms p{width:80%;margin:0 10%;float:left;line-height:30px;}
	.jyms p img{width:33%;margin-right: 0.5%;float:left;margin-left: 0;margin-bottom: 30px;}
	.jyms p.tip{font-size:18px;line-height: 30px;}
	.jyms p.fc{border-bottom: 1px dashed #d1d1d1;margin-bottom: 20px;}
	/*软件著作权*/
	.rjzzq{width:100%;margin-left: 0;background: rgb(235, 235, 235);}
	.rjzzq .title1{width:250px;}
	.rjzzq h1,.rjzzq h2{margin-left: 55px;}
	.rjzzq .qkxw div{cursor: default;border-color:#d1d1d1;}
	.rjzzq .qkxw div:hover{border:1px solid #d1d1d1;}
	.rjzzq .qkxw div:hover p{color:#000;}
	/*发展历程*/
	.fzlc h1,.fzlc h2{margin-left: 60px;}
	.fzlc p{width:80%;margin-left: 10%;line-height:30px;}
	.fzlc p img{width:49.5%;margin-right: 1%;float:left;margin-left: 0;margin-bottom: 50px;height:230px;margin-top: :20px;}
	/*业务介绍*/
	.ywjs{background:#fff;}
	.ywjs h1,.ywjs h2{margin-left: 50px;}
/**************************qkxw*************************************/
	/*乾康新闻*/
	.qkxw {float: left;width: 80%;margin-left:10%;margin-bottom: 40px;}
	
	.qkxw div{display:inline-block;width:22%;padding:8px;float:left;border:1px solid rgb(238, 238, 238);margin-right:1.2%;margin-bottom:1.25em;cursor:pointer;}
	.qkxw img{width:100%;height:170px;}
	.qkxw p{color:#000;text-align:center;line-height:40px;}
	.qkxw div:hover {border:1px solid #ff9900;}
	.qkxw div:hover p{color:#264b99;}
	/*新闻内容*/
	.title2 {width: 90%;line-height: 100px;font-size: 18px;text-align: center;font-weight: bold;color: #000;float: left;margin-left: 5%;margin-top: 20px;}
	.title2 h1{font-weight: normal;font-size: 25px;}
	.title2 .time{color:gray;margin-top:-70px;font-weight:normal;font-size:13px;}
	
	.xw p{width:80%;margin-left:10%;font-size:14px;color:#000;line-height:25px;}	
	.xw img{display:block;margin:0 auto;margin-top:10px;width:590px;}
	.xw p.tz{color:gray;font-size:14px;text-align:center;margin-bottom:20px;}
	.back{width:9em;height:3em;margin-top:50px;text-align:center;display:block;clear:both;line-height:3em;background:#1c4587;border:none;color:#fff;margin-left:10%;margin-bottom:2em;cursor:pointer;}
	.xw ul {padding-left: 50px;float:left;width:80%;margin-left:10%;}
	.xw .xwtitle{color:rgb(95, 156, 239);font-size:16px;font-weight: bold;}

	#zjs{float:left;width:100%;color: rgb(143, 121, 71);text-align:center;margin-top:-100px;font-size:30px;}
	#hjtd{color: rgb(143, 121, 71);text-align:center;}
	#xw7 h2{display:block;width:auto;background:none;margin-left:0;margin-top:-70px;font-weight:normal;}


/**************************lxwm*************************************/
	.tel{width:100%;float:left;margin-bottom: 40px;}
	#map{width:100%;height:550px;float:left;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;margin-bottom:20px;}
	.lxwm{width:100%;float:left;}
	.lxwm h1{color:gray;line-height:40px;font-size:20px;font-weight: normal;text-align: center;}
	.lxwm p{color:gray;line-height:20px;text-align: center;}


	/* side */
	.side{position:fixed;width:54px;right:0;bottom:50px;z-index:100;display:none;}
	.side ul li{width:54px;height:54px;float:left;position:relative;border-bottom:1px solid #444;list-style:none;}
	.side ul li .sidebox{position:absolute;width:54px;height:54px;top:0;right:0;transition:all 0.3s;background:#000;opacity:0.8;filter:Alpha(opacity=80);color:#fff;font:14px/54px "微软雅黑";overflow:hidden;}
	.side ul li .sidetop{width:54px;height:54px;line-height:54px;display:inline-block;background:#000;opacity:0.8;filter:Alpha(opacity=80);transition:all 0.3s;}
	.side ul li .sidetop:hover{background:#ae1c1c;opacity:1;filter:Alpha(opacity=100);}
	.side ul li img{float:left;border:none;}
	/*底部*/
	.foot{width:100%;float:left;text-align:center;background:#242333;padding-top:10px;}
	.foot p{text-align:left;color:#909098;font-size:0.9em;}
	.foot .xx{float:left;width:90%;margin-left:5%;border-bottom:1px solid #656565;margin-bottom:20px;padding-bottom:15px;}
	.foot ul li{float:left;color:#909098;list-style:none;padding-right:15px;}
	.foot ul li a{color:#909098;}
	.foot .awm{text-align:right;margin-top:-120px;}
	.foot img{width:100px;height:100px;margin-left:10px;}
	.foot .xx font{display:inline-block;float:right;width:100px;text-align:center;margin-bottom:10px;margin-left:10px;color:#666;}
	.foot span{display:block;width:100%;float:left;font-size:0.9em;color:#a3a3a3;position:relative;line-height:25px;}

/**************************jrqk*************************************/
	.jrqkTab{width:80%;float:left;margin:0 10%;margin-top:20px;position:relative;background:#eef2f5;}
	.jrqkTab .span4{width:33%;float:left;display:inline-block;text-align:center;cursor:pointer;background:#eef2f5;margin-left:0;}
	.jrqkTab .span4 img{margin:20px;vertical-align:middle;margin-left:-10px;}
	.jrqkTab .span4 h1{display:inline-block;position:relative;top:2em;font-size:16px;line-height:35px;color:#ff9900;}
	.jrqkTab .span4 h1 span{display:inline-block;font-size:12px;line-height:15px;color:#cccccc;}
	.jrqkTab .active{background:#264b99;}
	.span33{width:25%;float:left;display:inline-block;text-align:center;cursor:pointer;background:#eef2f5;margin-left:0;}
	.span33 h1{line-height:20px;color:#264b99;padding:20px 0;}
	.span33 font{color:#ccc;line-height:20px;}
	.active h1{color:#ff9900;}
	
	.zpxx{width:80%;margin:0 auto;}	
	.zpxx h1{line-height: 60px;font-size:20px;font-weight:normal;}
	.zpxx p{line-height: 25px;}






@media all and (min-width: 1100px) and (max-width: 1300px){
/**************************gyqk*************************************/
	*{font-size:13px;}
	/*公司简介*/
	.AboutUs{width:90%;margin-left:5%;}
	.AboutUs p{width:44%;}
	/*公司理念*/
	.qyln div.span6{width:31.5%;}
	/*企业团队*/
	.qktd{width:80%;margin-left:10%;}
	.qktd .span5 img{width:37%;}
	.qktd .span5 h3{margin-left: 3%;font-size:18px;}
	.qktd .span5 h4{margin-left: 3%;font-size:13px;fine-height:20px;margin-bottom:8px;}
	.qktd .span5 p{margin-left: 3%;font-size:10px;line-height:18px;}
	/*乾康大事记*/
	.qkdsj{width:100%;margin-left: 0;padding-top: 20px;padding-bottom: 40px;}
	.qkdsj img{width:80%;margin-left:10%;margin-top: 10px;}
/**************************qkly*************************************/
	/*公司业务*/
	.gsyw {width: 29%;margin-right: 1.5%;}
	#gsyw1{margin-left:5%;}
/**************************qkjz*************************************/
	/*乾康家族*/
	.qkjz{margin-left: 10%;width:80%;}
	/*经营模式*/
	.jyms p{width:80%;margin-left:10%;}
	.back{margin-top:30px;margin-left:10%;}
	/*软件著作权*/
	.rjzzq{width:100%;margin-left:0;}
	/*发展历程*/
	.fzlc p{width:80%;margin-left: 10%;}
	.fzlc p img{width:49.5%;margin-right: 1%;float:left;margin-left: 0;margin-bottom: 50px;height:230px;margin-top: :20px;}
/**************************qkxw*************************************/	
	/*乾康新闻*/
	.qkxw div{width:21.5%;margin-right:1%;}
	.qkxw img{height:140px;}
	/*新闻内容*/	
	.xw p{width:80%;margin-left:10%;}	

 }
 @media all and (max-width:1100px){
	*{font-size:10px;}
	/*导航*/
	.topNav {height: 35px;}
	.logo {height: 25px;margin: 5px;} 
	.topNav ul li a {font-size: 10px;width: 45px;line-height: 35px;} 
	/*banner*/ 
	.banner {margin-top: 35px;background-image: url(../img/banner4.jpg);margin-bottom: 10px;height: 200px;} 
	.banner h1 {padding-top: 50px;font-size: 10px;} 
	.banner h2 {font-size: 24px;line-height: 50px;letter-spacing: 2px;}
	.banner p img {height: 18px;margin-top: 5px;}
	.banner div {margin-top: 20px;width: 100px;height: 25px;line-height: 25px;font-size: 10px;}
/**************************gyqk*************************************/
	/*标题*/
	.title {margin-bottom:0px;}
	.title img.left{top:20px;left:-105px;}
	.title img.right{top:-16px;left:120px;}
	.title h3{font-size:18px;}
	.title h4{font-size:10px;}
	/*公司简介*/
	.AboutUs{width:90%;margin-left:5%;background-size:90% 100%;height:auto;padding-bottom:10px;margin-bottom:20px;padding-top: 20px;}
	.AboutUs font {font-size: 30px;margin-left: 0;}
	.AboutUs h3 {margin-left:23px;margin-top: -45px;font-size: 14px;line-height: 12px;}
	.AboutUs h4 {margin-left:23px;font-size: 12px;line-height:12px;}
	.AboutUs span{margin-left: 0;width:8%;border-top:2px solid #000;margin-right:1%;vertical-align:top;margin-top:-5px;}
	.AboutUs p{line-height:20px;width:81%;margin:0 10%;margin-top:-25px;}
	/*企业理念*/
	.qyln{width:100%;height:270px;}
	.qyln img{width:27%;height:220px;margin-left:5%;}
	.qyln div{margin:0 5%;margin-top:10px;}
	.qyln .title1{width:165px;}
	.qyln font {font-size: 30px;}
	.qyln h3 {margin-left:23px;margin-top: -45px;font-size: 15px;line-height: 12px;}
	.qyln h4 {margin-left:23px;font-size: 12px;line-height: 12px;}
	
	.qyln div.span6{width:31%;margin-top:0;}
	.qyln div.span6 img{width:40px;}
	.qyln div.span6 h1{font-size:12px;line-height:20px;}
	.qyln div.span6 h2{font-size:8px;line-height:15px;}
	/*企业团队*/
	.qktd{width:90%;margin-left:5%;margin-top: 10px;}
	.qktd .title1{width:150px;margin-bottom:10px;}
	.qktd font {color: #b7b7b7;font-size: 30px;}
	.qktd h1 {margin-left:20px;margin-top:-45px;font-size:15px;line-height:12px;}
	.qktd h2 {margin-left:20px;margin-bottom:15px;font-size:12px;line-height:12px;}
	.qktd .span5{width:100%;margin:0;margin-bottom: 2%;}
	.qktd .span5 img{width:30%;}
	.qktd .span5 h3{width:50%;margin-left: 3%;font-size:15px;line-height:18px;}
	.qktd .span5 h4{width:50%;margin-left: 3%;font-size:12px;line-height:18px;margin-bottom:0px;}
	.qktd .span5 p{width:65%;margin-left: 3%;font-size: 9px;line-height:12px;}
	/*专利资质*/
	#zlzz div#scrollobj{width:100%;margin-left:0%;white-space:nowrap;overflow:hidden;margin-top:30px;} 
	#scrollobj img{width:18.5%;height:auto;margin-right:0.6%;margin-top:10px;margin-bottom:30px;}
	/*乾康大事记*/
	.qkdsj{width:100%;margin-left: 0;padding-top:10px;padding-bottom: 20px;}
	.qkdsj .title1{width:170px;margin-bottom: 10px;}
	.qkdsj h1,.qkdsj h2{margin-left:25px;}
	.qkdsj img{width:95%;margin-left:2.5%;margin-top:0px;}
	/*乾康伙伴*/
	.qkhb{padding-bottom:20px;}
	.qkhb .title1{width:140px;margin-bottom: 10px;}
	.qkhb h1,.qkhb h2{margin-left:25px;}

	.parner p{margin-top:5px;font-size:5px;margin-bottom:-15px;margin-top:10px;}
	.lcLeft,.lcLeft img{width:51px;}
	.lcCenter,.lcCenter img{width:62px;}
	.lcRight,.lcRight img{width:51px;}
	.parner img{width:30px;margin-left: -9px;margin-top:6px;}
	.parner img.img2{margin-left: 0px;}
	.parner img.img3{margin-left: 0px;}
	.parner img.img4{margin-left: 10px;}
/**************************gyly*************************************/
	/*公司业务*/
	#gsyw1 {margin-left: 5%;}
	.gsyw {width: 29%;margin-right: 1.5%;}
	.gsyw img {width: 100%;margin-bottom: 5px;}
	.gsyw p {font-size: 12px;line-height: 20px;}
	.gsyw p font {display: block;font-size: 12px;line-height: 18px;}
	.gsyw p.zbt {padding-bottom: 10px;font-size: 8px;line-height: 12px;}
	/*线上个人信贷风险控制服务商*/
	.qkly{height:auto;padding-bottom:10px;margin-bottom:0px;}
	.qkly h3,.qkly h4{margin-left:25px;}
	/*互联网银行运营*/
	#qkly2{height:auto;padding-bottom:10px;}
	#qkly2 h3,#qkly2 h4{margin-left:15px;}
	/*个人信贷业务咨询运营*/	
	#qkly3{height:auto;padding-bottom:10px;}
	#qkly3 h3,#qkly3 h4{margin-left:23px;}
	#qkly4{height:auto;padding-bottom:10px;}
	#qkly4 h3,#qkly4 h4{margin-left:23px;}
/**************************qkjz*************************************/
	/*乾康家族*/
	.qkjz{margin-left: 5%;width:90%;}
	.qkjz div{margin-bottom: 30px;}
	.qkjz div p{font-size:12px;line-height:20px;margin-top:5px;}
	.qkjz div p.jj{font-size:8px;padding:0 5px;line-height:12px;}
	.qkjz div span{width:60px;font-size:10px;line-height:25px;top:12.5px;}
	

	.qkjr{height:auto;padding-bottom:10px;margin-bottom: 0px;}
	.qkxx{height:auto;padding-bottom:10px;margin-bottom: 0px;}
	.qkjf{height:auto;padding-bottom:10px;margin-bottom: 0px;}
	/*经营模式*/
	.jyms{margin-bottom:-40px;}
	.jyms .title1{width:120px;}
	.jyms h1,.jyms h2{margin-left:23px;}
	.jyms p{width:90%;margin-left: 5%;line-height:20px;}
	.jyms p img{margin-bottom: 20px;}
	.jyms p.tip{font-size:14px;line-height: 20px;}
	/*软件著作权*/
	.rjzzq{width:100%;margin-left:0;padding-top:20px;margin-bottom:-20px;}
	.rjzzq .title1{width:140px;}
	.rjzzq h1,.rjzzq h2{margin-left: 23px;}
	
	/*发展历程*/
	.fzlc .title1{width:140px;}
	.fzlc h1,.fzlc h2{margin-left: 25px;}
	.fzlc p{width:90%;margin-left: 5%;line-height:20px;}
	.fzlc p img{margin-bottom:0;height:80px;margin-top:10px;}
	/*业务介绍*/
	.ywjs .title1{width:160px;}
	.ywjs h1,.ywjs h2{margin-left: 23px;}
	.ywjs{background:#fff;}

/**************************qkxw*************************************/
	/*乾康新闻*/
	.qkxw {width: 90%;margin-left:5%;margin-bottom: 20px;}
	.qkxw img{height:60px;}
	.qkxw div{width:26%;margin-right: 1%;margin-bottom: 1%;}
	.qkxw div p{font-size:8px;line-height:10px;}
	.qkxw div p font{display:block;font-size:8px;}
	/*新闻内容*/
	.title2 {width: 90%;line-height: 30px;font-size: 18px;margin-top: 0px;}
	.title2 h1{font-size: 15px;}
	.title2 .time{margin-top:-10px;font-size:10px;}
	
	.xw p{width:90%;margin-left:5%;font-size:10px;line-height:20px;}	
	.xw img{margin-top:8px;width:85%;}
	.xw p.tz{font-size:8px;margin-bottom:10px;}
	.xw ul {padding-left: 30px;}
	.xw .xwtitle{font-size:11px;}

	#zjs{margin-top:-40px;font-size:20px;}
	#xw7 h2{margin-top:-10px;}
/**************************lxwm*************************************/
	.tel{margin-bottom: 40px;}
	#map{width: 100%;height:400px;}

/**************************jrqk*************************************/
	.jrqkTab{width:90%;margin:0 5%;}
	.span33 h1{line-height:15px;padding:8px 0;}

	.zpxx{width:90%;margin:0 5%;}	
	.zpxx h1{line-height: 30px;font-size:15px;}
	.zpxx p{line-height: 20px;}

	.back{margin-left:5%;margin-bottom: 40px;}
	/*side*/
	#QQ{display:none;}
	/*底部*/
	.foot{padding-top:0;}
	.foot p{font-size:10px;margin-top:5px;}
	.foot .xx{margin-bottom:15px;padding-bottom:10px;}

	.foot .awm{margin-top:-80px;margin-right:15px;}
	.foot img{width:70px;height:70px;margin-left:5px;}
	.foot .xx font{margin-bottom:9px;width:80px;margin-left:5px;margin-right:15px;}
	.foot .xx font.normal{margin-right:0px;}
	.foot span{font-size:8px;line-height:20px;top:0;}
 }