.banner_En{background:url(../img/banner5_EN.jpg)}
/******index_En******/
	.banner h2{font-size:55px;}
	#gsjj div{margin-top:-40px;}
	.gsyw p{line-height:20px;margin-bottom:20px;}
/******gyqk_En******/
	.AboutUs{height:auto;padding-bottom:30px;}
	.qkdsj h1, .qkdsj h2 { margin-left: 75px;}
	.qkhb h1, .qkhb h2 {margin-left: 55px;}
/******gyly_En******/
	#qkly2 h3, #qkly2 h4 { margin-left: 190px;}
	#qkly2,#qkly3,#qkly4 {height:auto;padding-bottom:30px;}
/******gyjz_En******/	
	.jyms h1, .jyms h2 {margin-left: 50px;}
	.fzlc h1, .fzlc h2 {margin-left: 60px;}
	.ywjs h1, .ywjs h2 { margin-left: 50px;}
	
/******jrqk_En******/	
	.qkxw p{line-height:25px;}
@media all and (min-width: 1100px) and (max-width: 1300px){
/******index_En******/
	#gsjj div{margin-top:-10px;}
}
@media all and (max-width:1100px){
	.topNav ul li a {font-size: 7px;}
	.banner_En{background:url(../img/banner6_EN.jpg) 50% 50%;}
	/******index_En******/
	#gsjj div{margin-top:-10px;}
	.qyln .span6 h2{display:none;}
	.qkjz div p {font-size: 9px;}	
	.gsyw p{font-size: 9px;}
/******gyly_En******/
	#qkly2 h3, #qkly2 h4 { margin-left: 23px;}
/******gyqk_En******/
	.qkdsj .title1{width:170px;}
	.qkdsj h1, .qkdsj h2 { margin-left: 25px;}
	.qkhb .title1{width:100px;}
	.qkhb h1, .qkhb h2 {margin-left: 20px;}
}