<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务股份有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/main_En.css" rel="stylesheet">
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<style type="text/css">
	
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	
	</script>
</head>
<body>
<div class="main">
<!--*****************************导航*****************************************-->
	<div class="topNav">
		<img src="../../static/img/logo.png" class="logo" onclick="window.location.href='/index_EN' "/>
		<ul>
			<li><a href="/gyqk_EN">About Us</a></li>					
			<li><a href="/qkly_EN">Field</a></li>		
			<li class="active"><a href="/qkjz_EN">Family</a></li>	
			<li><a href="/qkxw_EN">News</a></li>	
			<li><a href="/lxwm_EN">Contact Us</a></li>	
			<li><a href="/jrqk_EN">Join Us</a></li>									
		</ul>
	</div>	
<!--*****************************banner*****************************************-->	
	
	<div class="banner banner_En"></div>
	<div class="Tab" id="100">
		<div class="title">
			<img src="../../static/img/title.png" class="left"/><h3>FAMILY</h3>
			<h4>QIANKANG </h4><img src="../../static/img/title.png" class="right"/>
		</div>

		<div class="qkjz">
			<div>
				<img src="../../static/img/qkjz4.png"  />
				<p>Qiankang Finance</p>
				<p class="jj">Qiankang Finance focus on the personal credit business operations management and risk control, with strong professional strength, rich experience in the project and a strong scientific and technological......</p>
				<span onclick="$('.Tab').hide();$('#101').show();$('html,body').scrollTop(0);">MORE</span>
			</div>
			<div>
				<img src="../../static/img/qkjz5.jpg"/>
				<p>Qiankang Info Tech</p>
				<p class="jj">Qiankang Info Tech adhering to the concept of technology to promote business, based on the dry and healthy group of advanced personal credit business system, with a strong technical team strength......</p>
				<span onclick="$('.Tab').hide();$('#102').show();$('html,body').scrollTop(0);">MORE</span>
			</div>
			<div style="margin-right:0;">
				<img src="../../static/img/qkjz6.jpg"/>
				<p>QianKang JinFu</p>
				<p class="jj">QianKang JinFu(Beijing) was established in January 18, 2016, by the dry and healthy (Shanghai) Financial Information Services Co., Ltd. (hereinafter referred to as "dry and healthy group")......</p>
				<span onclick="$('.Tab').hide();$('#103').show();$('html,body').scrollTop(0);">MORE</span>
			</div>
		</div>
	</div>
	<div class="Tab" id="101" style="display:none;">
		<div class="title">
			<img src="../../static/img/title.png" class="left"/><h3>FAMILY</h3>
			<h4>QIANKANG </h4><img src="../../static/img/title.png" class="right"/>
		</div>
		<!--*****************************公司简介*****************************************-->	
		<div class="AboutUs qkjr">
			<div class="dh" id="dh1" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;"><font>C</font>
			<h3>Qiankang Finance</h3>
			<h4>ompany Profile</h4>
			<span></span>
			<p>
				Qiankang Finance focus on the operation and management of personal credit business and risk control, with strong professional strength, rich experience in the project and a strong scientific and technological support, the formation of an efficient personal credit business wind control operation system, with accurate data mining capabilities and strong The scene modeling strength. Gan Kang is a strategic partner of the Agricultural Bank of China Alliance, MasterCard Asia-Pacific strategic partner, a large-scale consumer electronics business strategic partner.
			</p></div>
		</div>
		<!--*****************************经营模式*****************************************-->	
		<div class="qktd qkdsj jyms">
			<div class="title1"><font>B</font>
			<h1>Qiankang</h1>
			<h2>usiness model</h2></div>	
			<div class="dh" id="dh10" style="filter:alpha(opacity=0);opacity:0;">
				<p class="tip">First, the small loan business consulting, operation</p>		
				<p>Qiankang company's small loan consulting business is based on IPC micro-loan application technology, summed up a number of small bank loan business operations in the advanced combat experience, on this basis, after in-depth study, summed up the refining, the formation of unique local characteristics , Covering customer identification, risk control, the whole process management of dry and small micro-loan business system.
				The company has innovated the customer management hierarchical management system, the customer network maintenance mode, and the efficient performance appraisal method, the responsibility of clear rewards and punishments responsibility management system.
				</p>	
				<p class="fc"><img src="../../static/img/10.jpg"/>
				<img src="../../static/img/5.jpg"/>
				<img src="../../static/img/8.jpg" style="margin-right:0;"/></p>	
			</div>
			<div class="dh" id="dh11" style="filter:alpha(opacity=0);opacity:0;">
				<p class="tip">Second, the credit card business consulting, operations</p>	
				<p><b>Credit card business development strategy consulting:</b>The Bank's business area and business development status of a detailed analysis of a comprehensive analysis of the Bank's actual credit card integrated business development strategy. The establishment of its own characteristics, clear objectives, safe and feasible credit card business development strategy. Through the implementation plan and the development strategy with the plan to explore, clear the specific implementation of the program, and get all the high-level resources to support and cooperation.</p>
				<p><b>Credit card management architecture, business process design consulting:</b>To help banks to establish or rebuild the various management functions of the credit card, so that the bank from the credit card management center to the management of the operating process are better optimized to help banks rational allocation of management resources, better meet the relevant management requirements and to prevent the management Risk to achieve the purpose of raising the bank's credit card management level.</p>
				<p><b>Credit card business product innovation design consulting:</b>Credit card integrated product content design, brand and flagship product design, credit card and IC application function design, personal consumption micro-loan product design, multi-featured product design, the product-related business process design.	</p>
				<p><b>Credit card business integrated risk management strategy consulting:</b>To help banks to establish a better risk prevention and control system, that is, the credit card business audit, approval, credit, collection and other key risk management key points for systematic wind control construction to help banks do the relevant responsibility mechanisms and monitoring means of construction , In order to achieve a comprehensive increase in the overall credit card business risk prevention and control of the target requirements	</p>
				<p>Credit Card Center Manager and Direct Team Training:</b>On the basis of improving the management system for the needs of the various positions within the system for the specialized personnel recruitment, assessment, professional training, market adaptation training, business simulation operations, business operations guidance, to fully meet the management and development of talent needs The	</p>
				<p><b>Integrated Operation Strategy Cooperation Consulting:</b>On the basis of the above five consultations on the basis of further implementation of the consultation that is shared with the bank income, responsible for the realization of the consultation effect, the proceeds from the bank to ensure stable business growth.	</p>
				<p class="fc"><img src="../../static/img/9.jpg"/>
				<img src="../../static/img/6.jpg"/>
				<img src="../../static/img/7.jpg" style="margin-right:0;"/></p>		
			</div>	
			<div class="dh" id="dh12" style="filter:alpha(opacity=0);opacity:0;">		
				<p class="tip">Third, the personal credit business management and marketing ability training</p>	
				<p>Qiankang(Shanghai) improve the core competitiveness of credit business and sustainable development capacity to ensure the comprehensive development of personal credit business and smooth, to cultivate an independent business, effective control of risk, in-depth development of the market, excellent performance of high-quality core team.</p>		
				<p class="fc"><img src="../../static/img/sc15.jpg"/>
				<img src="../../static/img/sc16.jpg"/>
				<img src="../../static/img/sc17.jpg" style="margin-right:0;"/></p>	
			</div>	
			<button class="back" onclick="$('.Tab').hide();$('#100').show();">BACK</button>
		</div>	
	</div>
	<div class="Tab" id="102" style="display:none;">
		<div class="title">
			<img src="../../static/img/title.png" class="left"/><h3>FAMILY</h3>
			<h4>QIANKANG FAMILY</h4><img src="../../static/img/title.png" class="right"/>
		</div>
		<!--*****************************公司简介*****************************************-->	
		<div class="AboutUs qkxx">
			<div class="dh" id="dh3" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;"><font>C</font>
			<h3>Qiankang Info Tech</h3>
			<h4>ompany Profile</h4>
			<span></span>
			<p>
				Qiankang Info Tech adhering to the concept of technology to promote business, based on the dry and healthy group of advanced personal credit business system, with a strong technical team strength, cutting-edge technology and large data mining analysis capabilities, modeling capabilities, focus on credit systems, platform development and Business platform operations.
			</p></div>
		</div>
		<!--*****************************软件著作权*****************************************-->	
		<div class="qktd rjzzq">
			<div class="title1"><font>C</font>
			<h1>Qiankang</h1>
			<h2>ompany cverview</h2></div>	
			<div class="qkxw dh" id="dh4" style="position:relative;right:-100%;filter:alpha(opacity=0);opacity:0;">
				<div>
					<img src="../../static/img/xfjr4.jpg"/>
					<p style="line-height:1.5em">Handheld Terminal Marketing <br/>management software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc18.jpg"/>
					<p style="line-height:1.5em">Financial credit assessment <br/>Platform Software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc19.jpg"/>
					<p style="line-height:1.5em">Personal banking systems <br/>management software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc28.jpg"/>
					<p style="line-height:1.5em">Small micro-loan management <br/>software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc22.jpg"/>
					<p style="line-height:1.5em">Self-service device management <br/>platform software</p>
				</div>
				<div>
					<img src="../../static/img/sc26.jpg"/>
					<p style="line-height:1.5em">Bank of self-service equipment <br/>platform software</p>
				</div>
				<div>
					<img src="../../static/img/sc27.jpg"/>
					<p style="line-height:1.5em">Financial credit assessment <br/>model software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc25.png"/>
					<p style="line-height:1.5em">Online banking system backstage operating platform</p>
				</div>
			</div>	
			<button class="back" onclick="$('.Tab').hide();$('#100').show();">BACK</button>
		</div>	
	</div>

	<div class="Tab" id="103" style="display:none;">
		<div class="title">
			<img src="../../static/img/title.png" class="left"/><h3>FAMILY</h3>
			<h4>QIANKANG FAMILY</h4><img src="../../static/img/title.png" class="right"/>
		</div>
		<!--*****************************公司简介*****************************************-->	
		<div class="AboutUs qkjf">
			<div class="dh" id="dh5" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;">
				<font>C</font>
				<h3>QianKang JinFu(Beijing)</h3>
				<h4>ompany Profile</h4>
				<span></span>
				<p>
					QianKang JinFu(Beijing) was established on January 18, 2016. It is an investment bank that is designed to provide data for financial institutions such as banks. It is a financial credit solution for financial institutions such as Hong Kong (Shanghai) Financial Information Service Co., Ltd. (hereinafter referred to as "dry and healthy group"). , And on-line wind control model, as well as direct marketing strategy, business consulting, technical consulting, product development design, business implementation of landing operations and other services, and based on a mature technology platform for banks to provide full-service life cycle risk control one- Direct sales bank integrated service providers.
				</p>
			</div>
		</div>
		<!--*****************************发展历程*****************************************-->	
		<div class="qktd qkdsj fzlc">
			<div class="title1"><font>D</font>
			<h1>Qiankang</h1>
			<h2>evelopment path</h2></div>	
			<div class="dh" id="dh6" style="position:relative;right:-100%;filter:alpha(opacity=0);opacity:0;">
				<p>
					According to consumer credit, supply chain credit, small micro loan and other bank credit business, research and development risk control platform for banks to provide borrower risk assessment and audit, standard product design services for individual customers to provide credit assessment services. In addition to the platform business, the dry and dry gold service also to standardize the operating standards of consumer credit business for the purpose of helping banks to enter the consumer credit blue ocean industry, cultivate consumer credit talents, the establishment of "consumer credit management division" vocational training program.
				</p>
				<p>
					At the beginning of the establishment of dry and healthy clothing retail credit as the focus of business development in the early small micro-credit and credit card business, consumer credit business occupies an important proportion, has accumulated a wealth of marketing, business operations and wind control anti-fraud capabilities.
				</p>
				<p>
					As the amount of the smaller, faster approval, the shorter period of consumer credit business practitioners made more stringent or even demanding requirements and threshold, dry health service as early as 2013 began to business layout, the accumulation of relevant professionals, research and development related Core technologies such as channel acquisition technology, wind control and anti-fraud technology.
				</p>
				<p>
					Dry and dry gold service now has nearly 50 people of the consumer credit professional team, including domestic and foreign first-line commercial banks, consumer finance company's core backbone, but also in the relevant professional consulting services companies continue to practice consumer credit more than ten years senior adviser The
				</p>
				<p>
					Our consumer credit technology team has developed a series of consumer credit system products, including channel end system, marketing system, approval and wind control system, payment clearing platform, asset collection and call center, etc., these software products have been in the financial Institutions are widely used and verified.
				</p>
				<p>				
					More than 50 banks in the country more than 50 businesses, agricultural business resources, etc .; more than 5 years of bank loan risk control experience for more than 20 banks to provide a small micro-credit and credit card business consulting services, teaching bank micro-customer identification Methods and wind control methods, formed a set of their own customer identification system and credit evaluation model; dry health gold clothing risk control team has a wealth of loans, credit cards, consumer credit wind control experience. Banks through the dry and healthy gold supply chain financing platform, you can control the risk of loans ahead, and save operating costs and the corresponding labor costs, the cost of the decline can bring greater profit margins, so the bank is very happy with the dry gold Service cooperation.
				</p>
				<p><img src="../../static/img/qkjf3.png"/>
				<img src="../../static/img/sc1.jpg" style="margin-right:0;"/></p>
			</div>
		</div>			
		
		<!--*****************************业务介绍*****************************************-->	
		<div class="qktd qkdsj fzlc ywjs">
			<div class="title1"><font>B</font>
			<h1>Qiankang</h1>
			<h2>usiness Introduction</h2></div>	
			<div class="dh" id="dh7" style="filter:alpha(opacity=0);opacity:0;">
				<p><b>1.Qiankang consumer credit business consulting</b></p>
				<p>To the bank to provide consumer credit business consulting, consulting, including consumer credit business carding, business norms system construction, application scenario design, personnel recruitment training, consumer credit system development, business operations.</p>
				<p><b>2. Consumer credit management training</b></p>
				<p>For the social, financial institutions, consumer finance companies and platforms and other consumer credit practitioners, to provide "consumer credit management division" training, currently set up a high-level seminars and intermediate management training courses, plans to open a network training course in June.
				The first training course of "Consumer Credit Manager" was opened in Beijing from April 9th to April 13th. The second training course was held at Cenxi on June 1 and June 5, and the third training course will be Opened in mid-June in Shanghai.</p>
				<p><b>3. Wind control platform business</b></p>
				<p>Qiankang will own channel asset resources and bank funds to integrate resources, through the wind control platform to match the funds and assets to provide risk control services. Currently involved in business for consumer credit, small loans, credit cards and so on. Consumer credit business logic is as follows:</p>
				<p><img src="../../static/img/qkjf4.jpg"/>
				<img src="../../static/img/3.jpg" style="margin-right:0;"/></p>
			</div>
		</div>			
		<button class="back" onclick="$('.Tab').hide();$('#100').show();">BACK</button>
	</div>
	<div class="side">
		<ul>
			<li><a href="/qkjz" ><div class="sidebox"><img src="../../static/img/side_icon02.png">CHINESE</div></a></li>
			<li id="QQ"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1103924915&amp;site=qq&amp;menu=yes" target="_blank" ><div class="sidebox"><img src="../../static/img/side_icon04.png">QQ</div></a></li>
			<li style="border:none;"><a href="javascript:goTop();" class="sidetop"><img src="../../static/img/side_icon05.png"></a></li>
		</ul>
	</div>
<!--*****************************foot*****************************************-->
	<div class="foot">
		<span>Copyright(C)2011-2014 Qiankang(Shanghai) Finance Consulting Co.,Ltd.</span><br/>
		<span>Shanghai ICP for 13043724</span>
	</div>
</div>	
	
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script><!-- 动画渐变背景插件-->
	
	
	
	<script type="text/javascript">
		$(document).ready(function(){  			
			$(window).scroll(function(){
				var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)	
				if(srollPos!="0"){//导航透明度
					$(".topNav").css("opacity","0.8");
					$(".topNav").css("filter","alpha(opacity=80)");
				}
				else{				
					$(".topNav").css("opacity","1");
					$(".topNav").css("filter","alpha(opacity=100)");
				}
				if ($(this).scrollTop() > 200) {// 滚动窗口来判断按钮显示或隐藏
					$('.side').fadeIn(100);
					} else {
					$('.side').fadeOut(100);
				}
				if($("#101").css("display")!="none"){
					if(srollPos>"50"){//公司简介
						$("#dh1").animate({left:"0",opacity:'1'},1000);
					}
					if(srollPos>"500"){//
						$("#dh10").animate({opacity:'1'},1000);
					}
					if(srollPos>"850"){//
						$("#dh11").animate({opacity:'1'},1000);
					}	
					if(srollPos>"1300"){//
						$("#dh12").animate({opacity:'1'},1000);
					}
				}
				if($("#102").css("display")!="none"){
					if(srollPos>"50"){//公司简介
						$("#dh3").animate({left:"0",opacity:'1'},1000);
					}
					if(srollPos>"300"){//公司简介
						$("#dh4").animate({right:"0",opacity:'1'},1000);
					}	
				}
				if($("#103").css("display")!="none"){
					if(srollPos>"50"){//公司简介
						$("#dh5").animate({left:"0",opacity:'1'},1000);
					}
					if(srollPos>"400"){//公司简介
						$("#dh6").animate({right:"0",opacity:'1'},1000);
					}	
					if(srollPos>"1250"){//公司简介
						$("#dh7").animate({opacity:'1'},1000);
					}	
				}
			});
			if($(window).width()<"1100"){//屏幕小于1100不展示动画
				$(".dh").css("opacity","1");
				$(".dh").css("filter","alpha(opacity=100)");
				$(".dh").css("left","0");
				$(".dh").css("right","0");
			}
			$(".side ul li").hover(function(){
				$(this).find(".sidebox").stop().animate({"width":"124px"},200).css({"opacity":"1","filter":"Alpha(opacity=100)","background":"#ae1c1c"})	
			},function(){
				$(this).find(".sidebox").stop().animate({"width":"54px"},200).css({"opacity":"0.8","filter":"Alpha(opacity=80)","background":"#000"})	
			});
		});
		//回到顶部
function goTop(){
	$('html,body').animate({'scrollTop':0},600);
}
		function bennerDH(){//banner动画
			$('#bannerDh1').animate({right:'0'},1200);
			$('#bannerDh2').animate({left:'0'},1200);
			$('#bannerDh3').animate({right:'0'},1200);
			$('#bannerDh4').animate({left:'0'},1200);			
		}
	</script>
</body>
</html>
