<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务股份有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/main_En.css" rel="stylesheet">
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<style type="text/css">
	
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	
	</script>
</head>
<body>
<div class="main">
<!--*****************************导航*****************************************-->
	<div class="topNav">
		<img src="../../static/img/logo.png" class="logo" onclick="window.location.href='/index_EN' "/>
		<ul>
			<li><a href="/gyqk_EN">About Us</a></li>					
			<li><a href="/qkly_EN">Services</a></li>		
			<li class="active"><a href="/qkjz_EN">Group</a></li>	
			<li><a href="/qkxw_EN">News</a></li>	
			<li><a href="/lxwm_EN">Contact Us</a></li>	
			<li><a href="/jrqk_EN">Join Us</a></li>									
		</ul>
	</div>	
<!--*****************************banner*****************************************-->	
	
	<div class="banner banner_En"></div>
	<div class="Tab" id="100">
		<div class="title">
			<img src="../../static/img/title.png" class="left"/><h3>GROUP</h3>
			<h4>QIANKANG </h4><img src="../../static/img/title.png" class="right"/>
		</div>

		<div class="qkjz">
			<div>
				<img src="../../static/img/qkjz4.png"  />
				<p>Qiankang Finance</p>
				<p class="jj">Qiankang (Shanghai) Financial Information Service Co., Ltd. specializes in the operation and risk control for the personal credit business. Our advantages include the risk management, data......</p>
				<span onclick="$('.Tab').hide();$('#101').show();$('html,body').scrollTop(0);">MORE</span>
			</div>
			<div>
				<img src="../../static/img/qkjz5.jpg"/>
				<p>Qiankang Info Tech</p>
				<p class="jj">Qiankang Information technology Limted Co.  specializes in system, management platform researches and operation of personal credit. Qiankang Group adheres to the belief that technology boosts firm's......</p>
				<span onclick="$('.Tab').hide();$('#102').show();$('html,body').scrollTop(0);">MORE</span>
			</div>
			<div style="margin-right:0;">
				<img src="../../static/img/qkjz6.jpg"/>
				<p>QianKang JinFu</p>
				<p class="jj">Qiankang finance( Beijing ) information technology limited co. ( abbreviated as Qiankang finance ( Beijing  ) is founded on January 18th, 2016, which is a subsidiary of Qiankang finance information......</p>
				<span onclick="$('.Tab').hide();$('#103').show();$('html,body').scrollTop(0);">MORE</span>
			</div>
		</div>
	</div>
	<div class="Tab" id="101" style="display:none;">
		<div class="title">
			<img src="../../static/img/title.png" class="left"/><h3>GROUP</h3>
			<h4>QIANKANG </h4><img src="../../static/img/title.png" class="right"/>
		</div>
		<!--*****************************公司简介*****************************************-->	
		<div class="AboutUs qkjr">
			<div class="dh" id="dh1" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;"><font>C</font>
			<h3>Qiankang Finance</h3>
			<h4>ompany Profile</h4>
			<span></span>
			<p>Qiankang (Shanghai) Financial Information Service Co., Ltd. specializes in the operation and risk control for the personal credit business. Our advantages include the risk management, data mining and scene modeling. These advantages  are obvious because we have already accumulated many experiences in project management and technology researches. Qiankang also achieved some honors in the past years. For instance, we are the partner of Agricultural Bank of China Alliance, MasterCard Asia Pacific, a large-scale consumption finance firm.</p></div>
		</div>
		<!--*****************************经营模式*****************************************-->	
		<div class="qktd qkdsj jyms">
			<div class="title1"><font>S</font>
			<h1>Qiankang</h1>
			<h2>ervices</h2></div>	
			<div class="dh" id="dh10" style="filter:alpha(opacity=0);opacity:0;">
				<p class="tip">1, the micro-loan business and operation consulting:</p>		
				<p>Qiangkang company’s micro-loan consulting is based on the IPC micro-credit application technology and advanced operation experiences from many small banks. Qiankang formulate its micro-credit business system from past researches and experiences, which covers customer identification, risk control and the whole life cycle management. The company has innovated the management system of sales managers, the customer network maintenance mode, the efficient performance assessment method,  and the management system of rewards and punishments to sales managers.</p>	
				<p class="fc"><img src="../../static/img/10.jpg"/>
				<img src="../../static/img/5.jpg"/>
				<img src="../../static/img/8.jpg" style="margin-right:0;"/></p>	
			</div>
			<div class="dh" id="dh11" style="filter:alpha(opacity=0);opacity:0;">
				<p class="tip">2, consulting and operation services in credit card business:</p>	
				<p><b>Credit card strategy consulting: </b>we would perform a detailed analysis in the targeted  bank’s markets and itself to develop its special credit card development strategy, which will be characteristic, clear and feasible. And then we would make a detailed plan and submit that plan to the board of bank for approval and support from them.</p>
				<p><b>Organization structure and procedure consulting in credit cards: </b>we would optimize organization structure and procedures of credit center by rebuilding or redesigning each position’s function. To improve the management of credit card center, we would help banks to scientifically allocate management resources to meet each regulation and reduce the management risk.</p>
				<p><b>Credit card design consulting: </b>the specific services include the content, brand and competitive products of credit card, application functions of credit card and IC, personal consumption loan, products with multi-characters and corresponding management procedures. </p>
				<p><b>The comprehensive risk management consulting of credit card: </b>we would help banks with managing the screening, approval, amount management and collection of credit card to develop a complete  risk management system of credit card. More exactly, we would assist banks with allocating each position’s functions and monitoring credit card holders in the full-life cycle of credit card to improve the banks’ level of  credit card risk management.</p>
				<p><b>The credit center management and salesperson training: </b>after developing a complete administration system, we will help banks to recruit, train, guide and assess employees , and make them be eligible.</p>
				<p><b>The comprehensive operation strategy consulting: </b> except above 5 consulting services, we could also provide banks with the practice services. It is also available for us to share gains or shoulder losses with serviced banks, which would make sure that banks could gain an stable revenue increase for the credit card business.</p>
				<p class="fc"><img src="../../static/img/9.jpg"/>
				<img src="../../static/img/6.jpg"/>
				<img src="../../static/img/7.jpg" style="margin-right:0;"/></p>		
			</div>	
			<div class="dh" id="dh12" style="filter:alpha(opacity=0);opacity:0;">		
				<p class="tip">3, the training in personal credit business operation and marketing:</p>	
				<p>Qiankang would help banks to cultivate a elite group that are capable to seek for customers, perform the risk management and explore the market. Under the operation of this elite group, it would be achievable for banks to successfully expand the personal credit markets, and improve the bank’s competition and sustainable level.</p>		
				<p class="fc"><img src="../../static/img/sc15.jpg"/>
				<img src="../../static/img/sc16.jpg"/>
				<img src="../../static/img/sc17.jpg" style="margin-right:0;"/></p>	
			</div>	
			<button class="back" onclick="$('.Tab').hide();$('#100').show();">BACK</button>
		</div>	
	</div>
	<div class="Tab" id="102" style="display:none;">
		<div class="title">
			<img src="../../static/img/title.png" class="left"/><h3>GROUP</h3>
			<h4>QIANKANG</h4><img src="../../static/img/title.png" class="right"/>
		</div>
		<!--*****************************公司简介*****************************************-->	
		<div class="AboutUs qkxx">
			<div class="dh" id="dh3" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;"><font>C</font>
			<h3>Qiankang Information technology Limted Co.</h3>
			<h4>ompany Profile</h4>
			<span></span>
			<p>Qiankang Information technology Limted Co.  specializes in system, management platform researches and operation of personal credit. Qiankang Group adheres to the belief that technology boosts firm’s development. At this moment, Qiankang Group already have an advanced personal credit management system,  excellent technical team, practical application technology, powerful data mining and modeling.</p></div>
		</div>
		<!--*****************************软件著作权*****************************************-->	
		<div class="qktd rjzzq">
			<div class="title1"><font>S</font>
			<h1>Qiankang</h1>
			<h2>oftware copyright</h2></div>	
			<div class="qkxw dh" id="dh4" style="position:relative;right:-100%;filter:alpha(opacity=0);opacity:0;">
				<div>
					<img src="../../static/img/xfjr4.jpg"/>
					<p style="line-height:1.5em">Handheld Terminal Marketing<br/>management software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc18.jpg"/>
					<p style="line-height:1.5em">Financial credit assessment<br/>Platform Software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc19.jpg"/>
					<p style="line-height:1.5em">Personal banking systems<br/>management software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc28.jpg"/>
					<p style="line-height:1.5em">Small micro-loan management<br/>software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc22.jpg"/>
					<p style="line-height:1.5em">Self-service device management<br/>platform software</p>
				</div>
				<div>
					<img src="../../static/img/sc26.jpg"/>
					<p style="line-height:1.5em">Bank of self-service equipment<br/>platform software</p>
				</div>
				<div>
					<img src="../../static/img/sc27.jpg"/>
					<p style="line-height:1.5em">Financial credit assessment<br/>model software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc25.png"/>
					<p style="line-height:1.5em">Direct banking system backstage<br/>operating platform</p>
				</div>
			</div>	
			<button class="back" onclick="$('.Tab').hide();$('#100').show();">BACK</button>
		</div>	
	</div>

	<div class="Tab" id="103" style="display:none;">
		<div class="title">
			<img src="../../static/img/title.png" class="left"/><h3>GROUP</h3>
			<h4>QIANKANG</h4><img src="../../static/img/title.png" class="right"/>
		</div>
		<!--*****************************公司简介*****************************************-->	
		<div class="AboutUs qkjf">
			<div class="dh" id="dh5" style="position:relative;left:-100%;filter:alpha(opacity=0);opacity:0;">
				<font>C</font>
				<h3>Qiangkang finance ( Beijing )</h3>
				<h4>ompany Profile</h4>
				<span></span>
				<p>
					Qiangkang finance ( Beijing ) information technology limited co. ( abbreviated as Qiankang finance ( Beijing  ) is founded on January 18th, 2016, which is a subsidiary of Qiankang finance information service limited co. Qiankang finance ( Beijing ) covers the data based online credit assessment and risk control  model for banks and other financial institutions. Strategy, business operation, technology, product design and practice consultation on the direct banking are also important parts of Qiankang finance ( Beijing ). It could utilize its mature technology to provide all services surrounding the whole life cycle of direct banking.</p>
			</div>
		</div>
		<!--*****************************发展历程*****************************************-->	
		<div class="qktd qkdsj fzlc">
			<div class="title1"><font>H</font>
			<h1>Qiankang</h1>
			<h2>istory</h2></div>	
			<div class="dh" id="dh6" style="position:relative;right:-100%;filter:alpha(opacity=0);opacity:0;">
				<p>Qiangkang finance ( Beijing )’s risk management platform is developed for banks’ consumption, supply chain, micro-loan credit and so on. It is to help banks with the credit risk evaluation and examination of normal borrowers, standardized products design and credit risk evaluation of personal credit. Except its risk management platform, Qiankang finance ( Beijing ) is with the purpose of establishing the standard procedures of consumption finance. It assists banks to start up the business of consumption finance by training staff and setting up  the program of “consumer credit manager”. </p>
				<p>Qiankang finance ( Beijing ) has been regarding the retail credit business as a significant part since its beginning, which accounts for a large proportion of  micro-loan and credit card business.  This is why Qiankang is capable of marketing, operating and performing anti-fraud in the retail credit business. </p>
				<p>It is very hard for banks to perform the consumption finance because of its high requirement of little amount, rapid assessment and short duration. Qiankang finance ( Beijing ) has commenced the consumption finance since 2013, and gathered many professional talents and possessed core technologies , such as consumer obtaining by channels, risk management, anti-fraud and so on. </p>
				<p>The number of consumption finance group is around 50 persons, some of who are from the elite of the top commercial banks and consumption finance firms or senior consultants from relevant consultation firms.</p>
				<p>Some software products of consumption finance have been successfully produced. They include channel, marketing, risk management, collection and calling center system and so on, and are wide-spread applied and checked by financial institutions.</p>
				<p>Qiankang Group has established links with around 50 city and rural commercial banks.  Each member from the risk management group of Qiankang finance ( Beijing ) possesses vast experiences in credit, credit card and consumption finance.</p>
				<p>It serves micro-loan and credit card operation consultation, micro-loan customer identification and risk management methods to 20 banks with over 5 years risk management experiences in bank credit. Based on past consultation services to bank,  Qiankang finance ( Beijing ) has developed its particular  customer identification system and risk management model. Bank could manage the credit risk before the approval of application, save a huge amount cost of human resources, and corresponding gain more profits. This is why banks would like to cooperate with us.</p>
				<p><img src="../../static/img/qkjf3.png"/>
				<img src="../../static/img/sc1.jpg" style="margin-right:0;"/></p>
			</div>
		</div>			
		
		<!--*****************************业务介绍*****************************************-->	
		<div class="qktd qkdsj fzlc ywjs">
			<div class="title1"><font>B</font>
			<h1>Qiankang</h1>
			<h2>usiness</h2></div>	
			<div class="dh" id="dh7" style="filter:alpha(opacity=0);opacity:0;">
				<p><b>1. The consumption finance consultation</b></p>
				<p>Qiankng finance ( Beijing ) serves banks with consumer credit consultation. The specific services is to make the business objective clear, standardize the institutions, design the application consumption scene, recruit and train staff, develop the consumption finance system, provide operation consultation and so on. </p>
				<p><b>2. The credit sales managers training</b></p>
				<p>Qiankang finance ( Beijing ) offer the program “credit sales managers in consumption finance” to employees in consumption finance firms or platforms, financial institutions and other fields. The high and middle level courses are already available at present, and it plans to increase online courses in this June. The first session is from April 9th to 13th in Beijing, the second session is from June 1st to 5th in Cenxi, and the third one would be initiated on the middle of June in Shanghai.
				</p>
				<p><b>3. The risk management platform</b></p>
				<p>Qiankang finance ( Beijing ) would integrate channel resources with bank funds and provide risk management services by its risk management platform. Right now, the services covered include consumption credit, micro-loan, credit card and so on. The particular rules of consumer credit is presented in the following.</p>
				<p><img src="../../static/img/qkjf4.jpg"/>
				<img src="../../static/img/3.jpg" style="margin-right:0;"/></p>
			</div>
		</div>			
		<button class="back" onclick="$('.Tab').hide();$('#100').show();">BACK</button>
	</div>
	<div class="side">
		<ul>
			<li><a href="/qkjz" ><div class="sidebox"><img src="../../static/img/side_icon02.png">CHINESE</div></a></li>
			<li id="QQ"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1103924915&amp;site=qq&amp;menu=yes" target="_blank" ><div class="sidebox"><img src="../../static/img/side_icon04.png">QQ</div></a></li>
			<li style="border:none;"><a href="javascript:goTop();" class="sidetop"><img src="../../static/img/side_icon05.png"></a></li>
		</ul>
	</div>
<!--*****************************foot*****************************************-->
	<div class="foot">
		<span>Copyright(C)2011-2014 Qiankang(Shanghai) Finance Consulting Co.,Ltd.</span><br/>
		<span>Shanghai ICP for 13043724</span>
	</div>
</div>	
	
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script><!-- 动画渐变背景插件-->
	
	
	
	<script type="text/javascript">
		$(document).ready(function(){  			
			$(window).scroll(function(){
				var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)	
				if(srollPos!="0"){//导航透明度
					$(".topNav").css("opacity","0.8");
					$(".topNav").css("filter","alpha(opacity=80)");
				}
				else{				
					$(".topNav").css("opacity","1");
					$(".topNav").css("filter","alpha(opacity=100)");
				}
				if ($(this).scrollTop() > 200) {// 滚动窗口来判断按钮显示或隐藏
					$('.side').fadeIn(100);
					} else {
					$('.side').fadeOut(100);
				}
				if($("#101").css("display")!="none"){
					if(srollPos>"50"){//公司简介
						$("#dh1").animate({left:"0",opacity:'1'},1000);
					}
					if(srollPos>"500"){//
						$("#dh10").animate({opacity:'1'},1000);
					}
					if(srollPos>"850"){//
						$("#dh11").animate({opacity:'1'},1000);
					}	
					if(srollPos>"1300"){//
						$("#dh12").animate({opacity:'1'},1000);
					}
				}
				if($("#102").css("display")!="none"){
					if(srollPos>"50"){//公司简介
						$("#dh3").animate({left:"0",opacity:'1'},1000);
					}
					if(srollPos>"300"){//公司简介
						$("#dh4").animate({right:"0",opacity:'1'},1000);
					}	
				}
				if($("#103").css("display")!="none"){
					if(srollPos>"50"){//公司简介
						$("#dh5").animate({left:"0",opacity:'1'},1000);
					}
					if(srollPos>"400"){//公司简介
						$("#dh6").animate({right:"0",opacity:'1'},1000);
					}	
					if(srollPos>"1250"){//公司简介
						$("#dh7").animate({opacity:'1'},1000);
					}	
				}
			});
			if($(window).width()<"1100"){//屏幕小于1100不展示动画
				$(".dh").css("opacity","1");
				$(".dh").css("filter","alpha(opacity=100)");
				$(".dh").css("left","0");
				$(".dh").css("right","0");
			}
			$(".side ul li").hover(function(){
				$(this).find(".sidebox").stop().animate({"width":"124px"},200).css({"opacity":"1","filter":"Alpha(opacity=100)","background":"#ae1c1c"})	
			},function(){
				$(this).find(".sidebox").stop().animate({"width":"54px"},200).css({"opacity":"0.8","filter":"Alpha(opacity=80)","background":"#000"})	
			});
		});
		//回到顶部
function goTop(){
	$('html,body').animate({'scrollTop':0},600);
}
		function bennerDH(){//banner动画
			$('#bannerDh1').animate({right:'0'},1200);
			$('#bannerDh2').animate({left:'0'},1200);
			$('#bannerDh3').animate({right:'0'},1200);
			$('#bannerDh4').animate({left:'0'},1200);			
		}
	</script>
</body>
</html>
