<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Finance Consulting Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<!-- 地图 -->
	<script type="text/javascript" src="../../static/js/bdMap.js"></script>
	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">			
		
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
<div class="main">
	<!--**************************************************top***********************************************-->
	<div class="logo" style="position:fixed;z-index:10000;">	
		<a href="/index_EN"><img src="../../static/img/logo.png"/></a>
		<ul class="newnav" style="margin-left:20px;z-index:10000;">
			<li><a href="/qkly_EN">Areas</a></li>
			<li><a href="/qkhb_EN">Partner</a></li>
			<li class="active"><a href="/qkjz_EN">Family</a></li>
			<li><a href="/jrqk_EN">Join Us</a></li>	
			<li><a href="/gyqk_EN">About Us</a></li>
		</ul>
	</div>
	<!-- SLIDER -->
	<div id="outerslider">
		<div id="slidercontainer">
			<section id="slider">
			<div class="box_skitter box_skitter_large">					
				<ul >
					<li>
						<img src="../../static/img/banner4_EN.jpg" alt="" style="height:100%"/>                            
					</li>
					<li>
						<img src="../../static/img/banner5_EN.jpg" alt="" style="height:100%"/>                            
					</li>          
					<li>
						<img src="../../static/img/banner6_EN.jpg" alt="" style="height:100%"/>                            
					</li>    
				</ul>
			</div>
			</section>
		</div>
	</div>
	<!-- END SLIDER -->	
	<div class="qkjt qkjz Tab" id="qkjz" >
		<div class="title" style="margin-bottom:-20px;">
			<h1 style="background:none;">CardPay</h1><h2>F</h2><h3>family</h3>
		</div>
		<div class="zgs">
			<img src="../../static/img/sc10.jpg"/>
			<span>
			<img src="../../static/img/logo1.png" style="width:6.25em;height:3.75em;"/><h2>CardPay Finance</h2>
			<a href="#" onclick="$('.Tab').hide();$('#101').show();">MORE</a></span>
		</div><div class="zgs" id="xxjs">
			<span>
			<img src="../../static/img/LOGO2.png" style="width:3.75em;height:3.75em;"/><h2>CardPay Info Tech</h2>
			<a href="#" onclick="$('.Tab').hide();$('#102').show();">MORE</a></span>
			<img src="../../static/img/sc20.jpg"/>
		</div><div class="zgs">
			<img src="../../static/img/sc21.png"/>
			<span>
			<img src="../../static/img/LOGO3.png" style="width:3.75em;height:3.75em;"/><h2>QianKangJinFu(Beijing)</h2>
			<a href="#" onclick="$('.Tab').hide();$('#103').show();">MORE</a></span>
		</div>
	</div>
	<!--**************************************************title***********************************************-->	
	<div id="101" class="Tab" style="display:none;">	
		<div class="title">
			<h1>Company</h1><h2>C</h2><h3>verview</h3>
		</div>
		<div class="AboutUs" id="qkjr" style="background-image:url(../../static/img/qkjr.jpg);padding-bottom:0px;">
			<h1>Company Profile</h1>
			<h2>CardPay Finance Consulting Co.,Ltd.</h2>
			<span></span>
			<font>CardPay is a focus on the financial sector as well as professional management consulting services operator implementation. The company's main business is to provide small business loans and credit cards for banks and other financial institutions and consulting<br/><br/><br/></font>
		</div>	
		<div id="jyms" style="position:relative;right:-100%;">
			<div class="title">
				<h1>Business</h1><h2>M</h2><h3>odel</h3>
			</div>	
			<div class="AboutUs xfjr ywzxyy">
				<img src="../../static/img/sc14.jpg" style="float:left;margin-right:2%"/>
				<h1 style="color:#1c57a8;">First, the small loan business consulting</h1>
				<p>Kang dry micro loan counseling operations are based IPC microfinance applied technology, summed up a number of banks in small and micro loans operations advanced practical experience, on this basis, in-depth study, summarizes, formed a unique local characteristics covering customer identification, risk control and management of the whole process of dry Kang small and micro lending system.<br/><br/></p>
			</div>	
		</div>
		<div class="AboutUs xfjr ywzxyy"  id="ywzx" style="position:relative;left:-100%;">
			<img src="../../static/img/sc13.jpg" style="float:right;margin-left:2%;margin-top:3em;"/>
			<h1 style="color:#1c57a8;">Second, the credit card business</h1>
			<p style="line-height:1.2em;"><b>Integrated credit card business development strategy consulting:</b>Business Situation where the regional bank operations and the development of detailed analysis, comprehensive analytical line with the Bank's credit card business development strategy integrated content. Established with its own characteristics, objectives clear, feasible and safe credit card business development strategy. Through the implementation plan and implement development strategies with plans to explore, implement clear and specific programs, and to give the parties a full line of high-level position with the resources and support.</p>
			<p style="line-height:1.2em;"><b>Credit card management architecture, business process design consulting:</b>Help banks to establish or re-create various aspects of credit card management functions, so that the bank credit card center from management structure to manage operational processes are optimized to get better, to help banks manage the rational allocation of resources, better compliance with regulatory requirements and manage all aspects of prevention risks in order to achieve comprehensive management level to enhance the bank's credit card purposes.</p>
			<p style="line-height:1.2em;"><b>Credit Card Business Product Innovation Design Consulting:</b>Credit card connotation integrated product design, brand and flagship product design, credit cards and IC design applications, personal consumption microfinance product design, design integrated multi-specialty products, all product-related business process design.</p>
			<p style="line-height:1.2em;"><b>Integrated credit card business risk management strategy consulting:</b>Help banks establish a sound risk control system, that the credit card business review, approval, credit, each of the major risk management and other key points of collection of systematic risk control building to assist banks to make construction-related accountability mechanisms and monitoring instruments in order to achieve a comprehensive risk prevention and control to improve the overall capacity of the credit card business objectives and requirements.</p>
			<p style="line-height:1.2em;"><b>Credit Card Center Management Training and Advisory Team Direct:</b>On the basis of improving the management system for the various positions in the system needs specialized talent bank recruitment, assessment, professional training, training to adapt to the market, business simulation operations, operations guide, in order to fully meet the demand for talent management and development .</p>
			<p style="line-height:1.2em;"><b>Integrated operational strategy consulting cooperation:</b>On the basis of five including the consultation on further implementation consulting revenue that is shared with the bank responsible for achieving the effect of counseling, benefits from the bank to ensure steady business growth.</p>
		</div>
		<div class="AboutUs xfjr ywzxyy" id="nlpy" style="filter:alpha(opacity=0);opacity:0;">
			<h1 style="color:#1c57a8;">Third, the personal financial business management and marketing Ability</h1>
			<p>CardPay improve financial services core competitiveness and sustainable development capacity, and to ensure the smooth conduct comprehensive personal financial business, develop a business with independent, effective risk control, in-depth development of the market, high-quality performance well done core team.</p>
			<img src="../../static/img/sc15.jpg" class="img3"/>
			<img src="../../static/img/sc16.jpg" class="img3"/>
			<img src="../../static/img/sc17.jpg" class="img3"/>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#qkjz').show();">BACK</button>
	</div>	
	<div id="102" class="Tab" style="display:none;">
		<div class="title">
			<h1>Company</h1><h2>C</h2><h3>verview</h3>
		</div>
		<div class="AboutUs" id="qkxx"  style="background-image:url(../../static/img/xxjs.jpg);padding-bottom:0px;">
			<h1 style="margin-top:1em;">Company Profile</h1>
			<h2>CardPay Info Tech Co.,Ltd.</h2>
			<span style="height:65px;"></span>
			<font>CardPay Info Tech Co.,Ltd. uphold the technology to promote the business concept, based on the dry Kang Group advanced personal financial business system, strong technical force team...<br/><br/><br/></font>
		</div>	
		<div id="zzq" style="filter:alpha(opacity=0);opacity:0;width:100%;">	
			<div class="title">
				<h1>Software</h1><h2>C</h2><h3>opyright</h3>
			</div>	
			<div class="xfjrList" id="gsxm" style="margin-bottom:20px;">				
				<div>
					<img src="../../static/img/xfjr4.jpg"/>
					<p style="line-height:1.5em">Handheld management software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc18.jpg"/>
					<p style="line-height:1.5em">Financial credit evaluation platform software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc19.jpg"/>
					<p style="line-height:1.5em">Personal financial business systems V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc28.jpg"/>
					<p style="line-height:1.5em">Mall loans management software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc22.jpg"/>
					<p style="line-height:1.5em">Self-service equipment management V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc26.jpg"/>
					<p style="line-height:1.5em">Bank self-service equipment V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc27.jpg"/>
					<p style="line-height:1.5em">Financial credit evaluation model software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc25.png"/>
					<p style="line-height:1.5em">Cloud financial net silver systemV1.0</p>
				</div>
			</div>
		</div>	
		<button class="back" onclick="$('.Tab').hide();$('#qkjz').show();">BACK</button>
	</div>
	<div id="103" class="Tab" style="display:none;">	
		<div class="title">
			<h1>Company </h1><h2>P</h2><h3>rofile</h3>
		</div>
		<div class="AboutUs" style="background-image:url(../../static/img/gyqf.jpg);">
			<h1 style="margin-top:1em;">Company Profile</h1>
			<h2>QianKangJinFu(Beijing)</h2>
			<span style="height:155px;"></span>
			<font>
				QianKangJinFu(Beijing) Information Technology Co.,Ltd(hereinafter referred to as "QianKangJinFu")was founded in 2016, January 18, by dry kang financial information service (Shanghai) co., LTD. (hereinafter referred to as the "dry aokang group") investment holding, is the Internet banking and consumer finance sector, focus on technology, risk control platform of financial services institutions.<br/><br/>
			</font>
		</div>	
		<div id="dh4" style="position:relative;right:-100%;">
			<div class="title">
				<h1>CardPay</h1><h2>D</h2><h3>evelopment path</h3>
			</div>
			<div class="AboutUs xfjr">	
				<div style="display:inline-block;margin-bottom:10px;">
					<p>Dry Kang Jin suits based on consumer finance, supply chain finance, small micro loan bank credit business, research and development of risk control platform, provide bank borrowers, risk assessment and audit standard product design services, provide credit assessment services for individual customers. Besides platform business, March 16, 2016, China's Internet financial institute approved dry Kang Jin suit set up "China's Internet financial institute consumer finance research center", to regulate the operation of the consumer finance business standards for the purpose, to help Banks into consumer finance blue ocean industry, cultivate consumer financial talents, set up a "consumer financial management division" vocational training programs.</p>
					<p>Dry Kang Jin suit was founded at the beginning will retail financial focus as a business development, in the early days of the small micro loans and credit CARDS, consumer banking business occupies the important proportion, accumulated the rich market marketing, business operation and risk control ability of fraud.</p>
					<p>Because the amount is smaller, faster for examination and approval, shorter period of consumer finance business puts forward more strict and even harsh requirements on practitioners and threshold, dry Kang Jin served as early as 2013 began the business layout, the accumulation of related professionals, research and development related to the core technology, such as channels for guest, risk control and anti-fraud technology and so on.</p>
				</div>	
				<img src="../../static/img/qkjf3.png" style="width:49%;height:240px;border:1px solid #ddd;"/>
				<img src="../../static/img/sc1.jpg" style="width:49%;height:240px;border:1px solid #ddd;"/>
			</div>
		</div>
		<div id="dh5" style="position:relative;left:-100%;">
			<div class="title">
				<h1>Business </h1><h2>I</h2><h3>ntroduction</h3>
			</div>
			<div class="AboutUs xfjr">	
				<p style="color:#1c57a8;">1.The Internet bank consultation</p>
				<p>CardPay clothes according to their technical and business advantages, organize teams to banks to provide Internet banking start-up, operational consulting services, has signed with a Rural Commercial Bank to perform consulting services.</p>
				
				<p style="color:#1c57a8;">2.Consumer finance business consulting</p>
				<p>CardPay take to the bank to provide consumer finance business consulting, comb consulting content including consumer finance business, the business standard system construction, application scenario design, recruitment, training, consumer finance system development, business operation, etc.</p>			
				<p style="color:#1c57a8;">3.Consumer finance manager training</p>
				<p>Geared to the needs of society, financial institutions and platform of consumer finance companies and consumer finance professionals, "consumer financial management division" training, at present there are senior seminar opening and middle management training, open network training plan in June.</p>
				<p>"Consumer financial management division," the first training course on April 9 - April 13 opened in Beijing, the second course and the end of May opened in Cenxi.</p>
				<p style="color:#1c57a8;">4.Business risk control platform</p>
				<p>CardPay suits own channel integrating assets and bank capital resources, and through the risk control platform to capital and assets for which provide risk control services. Currently involved in the business of consumer finance, small loans, supply chain finance. Consumer finance business logic is as follows:</p>
				<img src="../../static/img/qkjf4.png" style="width:49%;height:200px;border:1px solid #ddd;"/>
				<img src="../../static/img/3.jpg" style="width:49%;height:200px;border:1px solid #ddd;"/>
				<p style="color:#1c57a8;">5.Creation of consumer finance</p>
				<p>CardPay suit using its own resources advantage, as a financial center of China academy of Internet financial consumption to undertake unit, is actively in the process of creating consumer finance union, provide consumer finance companies, financial institutions, such as business communication, consumer finance market research and analysis, etc.</p>
			</div>
		</div>
		<!--<div id="dh6" style="filter:alpha(opacity=0);opacity:0;width:100%">
			<div class="title">
				<h1>CardPay</h1><h2>E</h2><h3>xpert team</h3>
			</div>
			<div class="AboutUs xfjr" id="zjtd">
				<div class="zjjs" style="display:inline-block" id="zj1">
					<img src="../../static/img/zjtd/zj1.jpg"/>
					<font>BINZHOU</font>
					<p class="tip">Former</p>
					<p>Digital China co., LTD. Department of the general manager<br/>The bank (Shanghai) information technology co., LTD. General manager</p>
					<p class="tip">Current</p>
					<p>CardPay Finance Consulting Co.,Ltd. President<br/>China's Internet consumer finance financial institute, director of the center for members</p>
					<p class="tip">Professional competence</p>
					<p>Familiar with bank related business and organizing the implementation of the bank core system and a number of development and construction. On behalf of the management of digital China large ATM machines and production joint ventures; Combined with ATM abroad advanced experience, first carried out in domestic bank self-service equipment outsourcing operations, through the establishment of a scientific location model, bank branch in the Yangtze river delta region for dozens of Banks to provide network services, construction and operation and single/average self-help equipment in the industry median income gains the highest spectacular results.<br/>
					</p>
				</div>
				<div class="zjjs" id="zj2">
					<img src="../../static/img/zjtd/zj2.jpg"/>
					<font>XIAOYANGTAN<b style="display:block;line-height:20px;margin-top:-10px;">(Master of finance)</b></font>
					<p class="tip">Former</p>
					<p>Yinzhou bank credit card center general manager<br/>Unionpay data business director<br/>Tianjin bank card chief adviser<br/>Anhui its bank chief adviser</p>
					<p class="tip">Current</p>
					<p>CardPay Finance Consulting Co.,Ltd. Vice President</p>
					<p class="tip">Professional competence</p>
					<p>Icbc's first credit card business management. Who is responsible for more than 200 regional banking counselling work, design and construction of various commercial bank card business management institutions, effectively promote the business development, makes credit card business bank new create profit center. To the credit card business development of commercial Banks to build the new management and operation idea and core system, to develop regional commercial bank development strategic guiding ideas. Accept the guidance of the Banks becomes a member of banking sector income one hundred million yuan "club". Orientation of financial institutions include: the people's livelihood, pudong development, such as the national joint-stock commercial Banks, bank, Shanghai bank of tianjin, hebei, anhui farming letter, zhejiang farming letter, jiangnan bank, bank of taian, changshu regional commercial Banks such as bank.
					</p>
				</div>
				<div class="zjjs" id="zj3">
					<img src="../../static/img/zjtd/zj3.jpg"/>
					<font>LISONG</font>
					<p class="tip">Former</p>
					<p>Zte's innovative financial total architects<br/>The ABC project manager<br/>IBM, head of China's central bank and innovative financial solutions<br/>Vince innovation assistant vice President<br/>Product research and development, director of the financial industry, chief architect<br/>Zte financial division technology and director of the Internet financial products total architects</p>
					<p class="tip">Current</p>
					<p>CardPay chief technical adviser</p>
					<p class="tip">Professional competence</p>
					<p>Many Banks business backbone, technical backbone, who was involved in the implementation of RenZongHang architecture design and consulting, the China banking regulatory commission information planning, architecture design and consulting, the agricultural bank of China construction bank architecture design and consulting. Has more than 20 years rich experience in financial industry products management, technology management and mature system architecture planning ability, proficient in consumer finance business and the implementation technology. Nearly three years successively in two enterprises successful starting and running the Internet financial product team, technical team, lead the team to planning the construction of Internet financial technology system and operating system.</p>
				</div>
				<div class="zjjs" id="zj4">
					<img src="../../static/img/zjtd/zj4.jpg"/>
					<font>HANYINMA<b style="display:block;line-height:20px;margin-top:-10px;">(Certified public accountants)</b></font>
					<p class="tip">Former</p>
					<p>The bank of China shaanxi branch of the ministry of science and technology<br/>The director of the finance department of credit card center plan</p>
					<p class="tip">Current</p>
					<p>CardPay Finance Consulting Co.,Ltd. Vice President</p>
					<p class="tip">Professional competence</p>
					<p>Talents for the financial industry, has a wealth of science and technology, finance, accounting experience, has the credit card business planning and management ability, success for the well-known domestic commercial Banks to provide credit card business risk consulting, construction of credit system, credit card business management and planning, and credit card operations. Successful build dry kang financial personal financial business integrated system, the credit evaluation model, the remote credit evaluation platform.</p>
				</div>
				<div class="zjjs" id="zj5">
					<img src="../../static/img/zjtd/zj5.jpg"/>
					<font>ZHONGPANG<b style="display:block;line-height:20px;margin-top:-10px;">(Senior consultant)</b></font>
					<p class="tip">Former</p>
					<p>A domestic a-share listed financial machinery enterprises, general manager of Shanghai branch<br/>The domestic well-known financial media financial chi chi) (industry founder<br/>The founder of a domestic leading financial O2O platform</p>
					<p class="tip">Current</p>
					<p>CardPay Finance Consulting Co.,Ltd. Assistant to the President</p>
					<p class="tip">Professional competence</p>
					<p>Once long service in agricultural bank, bank of China, the post office bank, citic bank, guangdong development bank, Shanghai pudong development bank, Shanghai bank, the bank of online financial services and products and marketing community Banks O2O business. Is China guangdong moonlight treasure box products exclusive domestic third party cooperation promotion platform, 2015 bring guangdong moonlight treasure box project 1 million new accounts. The first to help Banks create financial products of viral marketing platform.</p>
				</div>
				<div class="zjjs" id="zj6">
					<img src="../../static/img/zjtd/zj6.jpg"/>
					<font>LILI<b style="display:block;line-height:20px;margin-top:-10px;">(Intermediate economist)</b></font>
					<p class="tip">Former</p>
					<p>Open information technology co., LTD., the financial department general manager assistant<br/>Micro XingHua rural commercial bank credit consulting project project manager<br/>Funing rural commercial bank bank of micro credit consulting project project director<br/>Jiangyin micro rural commercial bank credit consulting project project director<br/>Dongtai micro rural commercial bank credit consulting project project director</p>
					<p class="tip">Current</p>
					<p>CardPay Finance Consulting Co.,Ltd. President assistant</p>
					<p class="tip">Professional competence</p>
					<p>Has a lot of small micro lending industry project consulting experience, rich experience in line of supply chain finance business.
					<br/>1 + N pattern of the China development bank factoring core team members of supply chain financing, design 1 + N factoring business model, operation manual, the cooperation process, system requirements, etc., with one hand on the cooperation project.
					</p>
				</div>
				<div class="zjjs" id="zj7">
					<img src="../../static/img/zjtd/zj7.jpg"/>
					<font>GUANGYANG<b style="display:block;line-height:20px;margin-top:-10px;">(Master of business administration)</b></font>
					<p class="tip">Former</p>
					<p>Guangdong development bank, the project manager<br/>Bank of communications Pacific credit card center manager</p>
					<p class="tip">Current</p>
					<p>CardPay Finance Consulting Co.,Ltd. Project department, deputy general manager</p>
					<p class="tip">Professional competence</p>
					<p>Have 10 years financial industry experience, strong team management ability, is mainly engaged in small and medium-sized bank credit card center consulting operation work of the whole system structure, strategic planning, product design, operational management, risk control, etc.
						<br/>In charge of the project are: fujian xiamen bank credit card counseling operations, jiangsu jiangnan consulting bank credit card operations, bank credit consulting project in wuxi city, jiangsu province, guangxi CenXi bank credit card consulting operations, fujian quanzhou bank micro credit consulting operations as well as jiangsu jiangyin bank micro credit consulting operations.
					</p>
				</div>
				<div class="zjjs" id="zj8">
					<img src="../../static/img/zjtd/zj8.jpg"/>
					<font>LIDIZHOU</font>
					<p class="tip">Former</p>
					<p>Financial research institute of zhejiang university counselor<br/><br/>Guilin Banks small micro financial vice general manager<br/>Dalian bank chengdu branch chief risk officer<br/>Beijing HuaCheng billiton letter financial information consulting co., LTD., the risk control director and chief risk officer</p>
					<p class="tip">Current</p>
					<p>CardPay Finance Consulting Co.,Ltd. Director of risk control</p>
					<p class="tip">Professional competence</p>
					<p>Has many years of experience in the financial industry management and risk control, risk control and risk control model design, product design and development, small micro financial and consumer finance expert, small micro loan of nearly 30000 pen, the director of network has tracking defective rate below 0.22% (do not make any restructuring, cancel after verification and cover up the real defective rate). Good at personnel training, training and management, previously led the team personnel have become the backbone of the Banks, more than 40% of the subordinate has stepped onto the bank management positions at all levels.</p>
				</div>
				<div class="zjjs" id="zj9">
					<img src="../../static/img/zjtd/zj9.jpg"/>
					<font>HONGMEIWANG<b style="display:block;line-height:20px;margin-top:-10px;">(Consumer finance manager)</b></font>
					<p class="tip">Former</p>
					<p>Contractor's Banks, small business department manager<br/>Contractor's bank small business department trainer<br/>Sino huijin financial information consulting management co., LTD. Business manager</p>
					<p class="tip">Current</p>
					<p>CardPay Finance Consulting Co.,Ltd. The project manager</p>
					<p class="tip">Professional competence</p>
					<p>Working in small micro credit more than 10 years, has the high risk control technology, rich experience in credit audit. Organizational management many times bank small business training and teaching work, to manage a team of over 70 people overfulfilled task, management, leadership, communication ability. Has repeatedly served as business credit product design and the whole routing management of projects, project experience.</p>
				</div>
				<div class="zjjs" id="zj10">
					<img src="../../static/img/zjtd/zj10.jpg"/>
					<font>YUEXIUQIN</font>
					<p class="tip">Current</p>
					<p>QianKangJinFu(Beijing) Information Technology Co.,Ltd Channel manager</p>
					<p class="tip">Professional competence</p>
					<p>Who was involved in a union with the national development bank factoring marketing strategic cooperation of supply chain financing, training and guidance system, each branch to deal with customer relationship, for the national development bank Beijing branch, shaanxi branch, zhejiang branch, branch, jiangsu province, anhui branch, guangxi branch, sichuan branch, such as providing supply chain factoring services, to provide the service at the core of the enterprise are: tsinghua tongfang, crystal energy, bolton railway, huainan mining, hunan cheetah auto, steel, tianjin days, yingli China citic wear card, etc.</p>
				</div>
				<div class="jjtd">			
					<img src="../../static/img/zjtd/zj1.png" onclick="show('zj1')" style="margin-left:96.5px;width:97.3px;"/>
					<img src="../../static/img/zjtd/zj2.png" onclick="show('zj2')" style="margin-right:90px;"/>
					<img src="../../static/img/zjtd/zj3.png" onclick="show('zj3')" style="margin-left:0;"/>
					<img src="../../static/img/zjtd/zj4.png" onclick="show('zj4')" style="width:98px;"/>
					<img src="../../static/img/zjtd/zj5.png" onclick="show('zj5')" style="margin-left:94px;"/>
					<img src="../../static/img/zjtd/zj6.png" onclick="show('zj6')"/>
					<img src="../../static/img/zjtd/zj7.png" onclick="show('zj7')" style="margin-right:96.4px;"/>
					<img src="../../static/img/zjtd/zj8.png" onclick="show('zj8')" style="margin-left:0;"/>
					<img src="../../static/img/zjtd/zj9.png" onclick="show('zj9')"/>
					<img src="../../static/img/zjtd/zj10.png" onclick="show('zj10')"/>
				</div>
			</div>
		</div>-->
		<!--<div class="title">
			<h1>Company</h1><h2>C</h2><h3>verview</h3>
		</div>
		<div class="AboutUs" style="background-image:url(../../static/img/gyqf.jpg);">
			<h1 style="margin-top:20px;">Company Profile</h1>
			<h2>QianKangJinFu(Beijing)</h2>
			<span style="height:183px;"></span>
			<font>
				<b>Ministry of China Internet Research Institute</b><br/>
				<b>Consumer Finance Research Center</b><br/>
				Kim Kang dry clothes (Beijing) Information Technology Co., Ltd. is a large state-owned dry Kang Group and Huaxin Electronics Enterprise Group in 2016 co-founded, with consumer finance, supply chain and financial support for the business service platform company, is the ability to control the wind provider.
			</font>
		</div>	
		<div id="yyms" style="filter:alpha(opacity=0);opacity:0;width:100%;">
			<div class="title">
				<h1>Operating</h1><h2>M</h2><h3>odel</h3>
			</div>	
			<div class="yyms" style="border-right:1px dashed #ddd;margin-right:1%;margin-left:10%;">
				<img src="../../static/img/yyms1.png"/>
				<span><font>Consumer finance system</font>Based businesses, customers, consumer finance companies as the main business players to consumer finance loans centers, businesses, sales outlets, self-service channel as the main channel through the core consumer finance, consumer credit approval, business management and collection tracking system module, support the development of a variety of consumer finance lending products, and consumer finance approval fast, flexible service, without the unique advantages of collateral and guarantees, as well as strict control of risk, improve consumer finance company's core competitiveness.</span>
			</div>		
			<div class="yyms">
				<img src="../../static/img/yyms2.png"/>	
				<span><font style="color:#92d050">Supply Chain Platform</font>Flexible solutions and service models to meet the diverse needs of various types of enterprises in different stages of development, at a reasonable cost to help companies to quickly import advanced information technology applications. Platform Internet-based supply chain finance system cloud platform that provides banks and related businesses of technical interfaces, providing Internet access, allowing banks and core businesses, upstream and downstream enterprises to share "Logistics + stream + cash flow" of information between enterprises trading flat of trade of behavioral data.</span>
			</div>
		</div>-->
		<button class="back" onclick="$('.Tab').hide();$('#qkjz').show();">BACK</button>
	</div>	
	
	
	
	<!-- 切换语言 -->		
	<div class="lanage" onclick="setLanage(this)">						
		<img src="../../static/img/yy.png" id="yySmall" onmouseover="showYY()"/>	
		<ul id="yyBig" onmouseleave="hideYY()">
			<li><a href="/index"><img src="../../static/img/Ch.png"/>中文</a></li>
			<li><a href="/index_EN"><img src="../../static/img/En.png"/>ENGLISH</a></li>
		</ul>
	</div>	
	<div class="back-to-top">
		<img src="../../static/img/back-to-top.png"/>
	</div>
<!--**************************************************foot***********************************************-->
	<div class="foot">
		<br/>
		<span>Copyright(C)2011-2014 CardPay(Shanghai) Finance Consulting Co.,Ltd.</span><br/>
		<span>Shanghai ICP for 13043724</span>
	</div>
</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		function show(id){//专家团队
			$('.zjjs').css('display',"none");
			$("#"+id).css('display',"inline-block");
		}
		$(document).ready(function(){
			$(window).scroll(function(){
				var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)			
				if($("#101").css("display")!="none"){
					if(srollPos>"1400"){
						$("#nlpy").animate({opacity:"1"},"slow");
					}				
					else{
						$("#nlpy").css("filter","alpha(opacity=0)");
						$("#nlpy").css("opacity","0");
						if(srollPos>"900"){
							$("#ywzx").animate({left:"0"},"slow");
						}
						else{
							$("#ywzx").css("left","-120%");
							if(srollPos>"400"){
								$("#jyms").animate({right:"0"},"slow");
							}
							else{
								$("#jyms").css("right","-120%")
							}
						}
					}
				}
				if($("#102").css("display")!="none"){
					if(srollPos>"400"){
						$("#zzq").animate({opacity:"1"},"slow");
					}				
					else{
						$("#zzq").css("filter","alpha(opacity=0)");
						$("#zzq").css("opacity","0");						
					}
				}
				/*if($("#103").css("display")!="none"){
					if(srollPos>"400"){
						$("#yyms").animate({opacity:"1"},"slow");
					}				
					else{
						$("#yyms").css("filter","alpha(opacity=0)");
						$("#yyms").css("opacity","0");						
					}
				}*/
				
				if($("#zp2").css("display")!="none"){
					if(srollPos>"2000"){						
						$("#dh6").animate({opacity:"1"},"slow");
					}				
					else{
						$("#dh6").css("filter","alpha(opacity=0)");
						$("#dh6").css("opacity","0");
						if(srollPos>"1300"){
							$("#dh5").animate({left:"0"},"slow");
						}
						else{
							$("#dh5").css("left","-100%");
							if(srollPos>"500"){
								$("#dh4").animate({right:"0"},"slow");
							}
							else{
								$("#dh4").css("right","-100%")
							}
						}
					}
				}
				
			});
		});	
	</script>
</body>
</html>
