<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务股份有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<!-- 地图 -->
	<script type="text/javascript" src="../../static/js/bdMap.js"></script>
	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">			
		
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
<div class="main">
	<!--**************************************************top***********************************************-->
	<div class="logo" style="position:fixed;z-index:10000;">	
		<a href="../index.html"><img src="../../static/img/logo.png"/></a>
		<ul class="newnav" style="margin-left:20px;z-index:10000;">
			<li><a href="../qkly/qkly.html">乾康领域</a></li>
			<li><a href="../qkhb/qkhb.html">乾康伙伴</a></li>
			<li class="active"><a href="qkjz.html">乾康家族</a></li>
			<li><a href="../jrqk/jrqk.html">加入乾康</a></li>	
			<li><a href="../gyqk/gyqk.html">关于乾康</a></li>
		</ul>
	</div>
	<!-- SLIDER -->
	<div id="outerslider">
		<div id="slidercontainer">
			<section id="slider">
			<div class="box_skitter box_skitter_large">					
				<ul >
					<li>
						<img src="../../static/img/banner4.jpg" alt="" style="height:100%"/>                            
					</li>
					<li>
						<img src="../../static/img/banner5.jpg" alt="" style="height:100%"/>                            
					</li>          
					<li>
						<img src="../../static/img/banner6.jpg" alt="" style="height:100%"/>                            
					</li>    
				</ul>
			</div>
			</section>
		</div>
	</div>
	<!-- END SLIDER -->	
	<div class="qkjt qkjz Tab" id="qkjz" >
		<div class="title" style="margin-bottom:-20px;">
			<h1 style="background:none;">乾康家族</h1><h2>C</h2><h3>ardpay family</h3>
		</div>
		<div class="zgs">
			<img src="../../static/img/sc10.jpg"/>
			<span>
			<img src="../../static/img/LOGO1.png" style="width:100px;height:60px;"/><h2>乾康金融信息服务股份有限公司</h2>
			<a href="#" onclick="$('.Tab').hide();$('#101').show();">了解更多</a></span>
		</div><div class="zgs" style="position:relative;top:-57px;">
			<span>
			<img src="../../static/img/LOGO2.png" style="width:60px;height:60px;"/><h2>乾康信息技术有限公司</h2>
			<a href="#" onclick="$('.Tab').hide();$('#102').show();">了解更多</a></span>
			<img src="../../static/img/sc20.jpg"/>
		</div><div class="zgs">
			<img src="../../static/img/sc21.png"/>
			<span>
			<img src="../../static/img/LOGO3.png" style="width:60px;height:60px;"/><h2>乾康金服（北京）信息技术有限公司</h2>
			<a href="#" onclick="$('.Tab').hide();$('#103').show();">了解更多</a></span>
		</div>
	</div>
	<!--**************************************************title***********************************************-->	
	<div id="101" class="Tab" style="display:none;">	
		<div class="title">
			<h1>公司简介</h1><h2>C</h2><h3>ompany cverview</h3>
		</div>
		<div class="AboutUs" style="background-image:url(../../static/img/qkjr.jpg);padding-bottom:0px;height:300px;">
			<h1 style="margin-top:20px;">Company Profile</h1>
			<h2>乾康金融信息服务股份有限公司</h2>
			<span style="height:65px;"></span>
			<font>乾康(上海)金融信息服务股份有限公司是一家专注于金融领域专业管理咨询以及运营实施的服务机构。公司的主营业务是为银行等金融机构提供微小贷款和信用卡业务的咨询及运营、人力资源管理、新产品创新等咨询服务。</font>
		</div>	
		<div id="jyms" style="position:relative;right:-100%;">
			<div class="title">
				<h1>经营模式</h1><h2>B</h2><h3>usiness model</h3>
			</div>	
			<div class="AboutUs xfjr">
				<img src="../../static/img/sc14.jpg" style="margin-right:2%"/>
				<div style="display:inline-block;width:50%;">
					<h1 style="color:#1c57a8;">一、微小贷款业务咨询、运营</h1>
					<p style="font-size:16px;line-height:30px;">乾康公司的微小贷款咨询运营业务是基于IPC微贷应用技术，总结多家银行小微贷业务运营中的先进实战经验，在此基础上，经过深入研究、总结提炼，形成独具本土特色的，涵盖客户识别、风险控制、全流程管理的乾康小微贷款业务体系。<br/>乾康公司创新了客户经理分层管理体系、客户网络化维护模式、以及高效的绩效评估考核办法、责任清晰奖惩准确的责任管理体系。<br/><br/><br/></p>
				</div>
			</div>	
		</div>
		<div class="AboutUs xfjr"  id="ywzx" style="position:relative;left:-100%;">
			<div style="display:inline-block;width:65%;">
				<h1 style="color:#1c57a8;">二、信用卡业务咨询、运营</h1>
				<p style="line-height:20px;"><b>信用卡业务综合发展策略咨询：</b>对银行所在经营区域以及业务发展现状进行细致分析，综合解析符合本行实际的信用卡综合业务发展战略内容。建立具有自身特色的、目标明晰的、安全可行的信用卡业务发展战略。通过对实施计划与发展战略的配合实现计划探讨，明确具体实行方案，并得到行高层全各方位的资源支持与配合。</p>
				<p style="line-height:20px;"><b>信用卡管理架构、业务流程设计咨询：</b>帮助银行建立或重造信用卡各个管理职能环节，使银行从信用卡中心的管理架构到管理操作流程均得到较好的优化，帮助银行合理配置管理资源，较好的符合相关管理要求和防范各管理环节风险，以达到提升银行的信用卡综合管理水平的目的。</p>
				<p style="line-height:20px;"><b>信用卡业务产品创新设计咨询：</b>信用卡综合产品内涵设计、品牌以及主打产品设计、信用卡以及IC应用功能设计、个人消费微贷产品设计、多特色产品综合设计、各项产品相关业务流程设计。</p>
				<p style="line-height:20px;"><b>信用卡业务综合风险管理策略咨询：</b>帮助银行建立较完善的风险防控体系，即对信用卡业务的审核、审批、授信、催收等各个主要风险管理关键点进行系统化的风控建设，协助银行做好相关责任机制和监测手段的建设，以达到综合提高整体信用卡业务风险防控能力的目标要求。</p>
				<p style="line-height:20px;"><b>信用卡中心管理人员与直营团队培养咨询：</b>在完善管理体系的基础上针对体系内各个岗位的需求为银行进行专业化人才的招募、考核、专业培训、市场适应锻炼、业务模拟运营、业务运作指导等，以充分满足管理与发展的人才需求。</p>
				<p style="line-height:20px;"><b>综合运营战略合作咨询：</b>在包含上述五项咨询的基础上进一步进行实施咨询即与银行共享收益，负责咨询效果的实现，收益来自于确保银行取得稳定业务增长。</p>
			</div>
			<img src="../../static/img/sc13.jpg" />
		</div>
		<div class="AboutUs xfjr" id="nlpy" style="filter:alpha(opacity=0);opacity:0;">
			<h1 style="color:#1c57a8;">三、个人金融业务管理和营销能力培养</h1>
			<p style="font-size:16px;line-height:30px;">乾康(上海)提高金融业务核心竞争力及可持续发展能力，保证个人金融业务的全面开展及顺利进行，培养一支具有独立开展业务、有效控制风险、深入开拓市场、出色完成业绩的高素质核心队伍。</p>
			<img src="../../static/img/sc15.jpg" style="width:33%;height:233px;"/>
			<img src="../../static/img/sc16.jpg" style="width:33%;height:233px;"/>
			<img src="../../static/img/sc17.jpg" style="width:33%;height:233px;"/>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#qkjz').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>	
	<div id="102" class="Tab" style="display:none;">
		<div class="title">
			<h1>公司简介</h1><h2>C</h2><h3>ompany cverview</h3>
		</div>
		<div class="AboutUs" style="background-image:url(../../static/img/xxjs.jpg);padding-bottom:0px;height:280px;">
			<h1 style="margin-top:20px;">Company Profile</h1>
			<h2>乾康信息技术有限公司</h2>
			<span style="height:65px;"></span>
			<font>乾康信息技术有限公司秉承技术推进业务的理念，基于乾康集团先进的个人金融业务体系，以强大的技术团队力量、前沿的实现技术和大数据挖掘分析能力、建模能力，专注于金融领域的系统、平台研发和业务平台运营。</font>
		</div>	
		<div id="zzq" style="filter:alpha(opacity=0);opacity:0;width:100%;">	
			<div class="title">
				<h1>软件著作权</h1><h2>C</h2><h3>ompany cverview</h3>
			</div>	
			<div class="xfjrList" id="gsxm" style="margin-bottom:20px;">				
				<div>
					<img src="../../static/img/xfjr4.jpg"/>
					<p>乾康客户经理手持终端<br/>营销管理软件V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc18.jpg"/>
					<p>乾康金融授信评估<br/>平台软件V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc19.jpg"/>
					<p>乾康个人金融业务系统<br/>管理软件V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc28.jpg"/>
					<p>乾康小微贷款<br/>管理软件V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc22.jpg"/>
					<p>乾康自助设备管理<br/>平台软件V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc26.jpg"/>
					<p>乾康银行自助设备管理<br/>平台软件V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc27.jpg"/>
					<p>乾康金融授信评估<br/>模式软件V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc25.png"/>
					<p>云金融网银系统后台操作<br/>平台软件V1.0</p>
				</div>
			</div>
		</div>	
		<button class="back" onclick="$('.Tab').hide();$('#qkjz').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div id="103" class="Tab" style="display:none;">
		<div class="title">
			<h1>公司简介</h1><h2>C</h2><h3>ompany cverview</h3>
		</div>
		<div class="AboutUs" style="background-image:url(../../static/img/gyqf.jpg);">
			<h1 style="margin-top:10px;">Company Profile</h1>
			<h2>乾康金服（北京）信息技术有限公司</h2>
			<span style="height:213px;"></span>
			<font>
				乾康金服（北京）信息技术有限公司（以下简称“亁康金服”）成立于2016年1月18日，由乾康（上海）金融信息服务股份有限公司（以下简称“乾康集团”）投资控股，是互联网银行和消费金融领域，专注于技术、风控平台的金融服务机构。<br/>
				乾康集团是专注于金融领域专业管理咨询以及运营实施的服务机构，公司的主营业务是为银行等金融机构提供微小贷款和信用卡业务的咨询及运营、人力资源管理、新产品创新等咨询服务以及协助实现银行互联网金融平台建设----金融 OTO 商业模式服务平台。
			</font>
		</div>	
		<div id="dh4" style="position:relative;right:-100%;">
			<div class="title">
				<h1>乾康集团发展历程</h1><h2>D</h2><h3>evelopment path</h3>
			</div>
			<div class="AboutUs xfjr">	
				<div style="display:inline-block;margin-bottom:10px;">
					<p>乾康金服基于消费金融、供应链金融、小微贷款等银行授信业务，研究开发风险控制平台，为银行提供借款人风险评估和审核、标准产品设计服务，为个人客户提供信用评估服务。除平台业务外，2016年3月16日，中国互联网金融研究院批准乾康金服成立“中国互联网金融研究院消费金融研究中心”，以规范消费金融业务的操作标准为宗旨，协助银行进入消费金融蓝海行业，培养消费金融人才，设立“消费金融管理师”职业培训项目。</p>
					<p>乾康金服成立伊始就将零售金融作为业务发展重点，在早期的小微贷和信用卡业务中，消费类金融业务占据重要比重，积累了相当丰富的市场营销、业务运营和风控反欺诈能力。</p>
					<p>由于金额更小，审批更快，期限更短的消费金融业务对从业者提出了更加严格甚至苛刻的要求和门槛，乾康金服早在2013年就开始业务布局，积聚相关专业人才，研发相关核心技术，如渠道获客技术、风控与反欺诈技术等等。</p>
					<p>乾康金服目前已经拥有近五十人的消费金融专业团队，其中有来自国内外一线商业银行、消费金融公司的核心骨干，也有在相关专业咨询服务公司持续从业消费金融十几年的资深顾问。</p>
					<p>我们的消费金融技术团队已经研发成功一系列消费金融系统产品，包括渠道端系统、营销类系统、审批及风控类系统、支付清算平台、资产催收及呼叫中心等等，这些软件产品已经在金融机构获得广泛应用与验证。</p>
					<p>乾康集团有全国50余家城商行、农商行资源等；有超过5年的银行贷款风险控制经验，为20余家银行提供了小微贷款和信用卡业务的咨询运营服务，教授银行小微客户的识别方法和风控方法，形成了一套自己的客户识别系统和授信评估模型；乾康金服风险控制团队均有丰富的贷款、信用卡、消费金融风控经验。银行通过乾康金服供应链融资平台，可以将贷款的风险控制前置，并节约运营成本和相应的人力成本，成本的下降能够带来更大的利润空间，因此银行非常乐于与乾康金服合作。</p>
				</div>	
				<img src="../../static/img/qkjf3.png" style="width:49%;height:240px;border:1px solid #ddd;"/>
				<img src="../../static/img/sc1.jpg" style="width:49%;height:240px;border:1px solid #ddd;"/>
			</div>
		</div>
		<div id="dh5" style="position:relative;left:-100%;">
			<div class="title">
				<h1>业务介绍</h1><h2>B</h2><h3>usiness</h3>
			</div>
			<div class="AboutUs xfjr">	
				<p style="color:#1c57a8;">1.互联网银行咨询</p>
				<p>亁康金服根据自身技术和业务优势，组织团队，向银行提供互联网银行开办、运营咨询服务，目前已与某农商银行签约执行咨询服务。</p>
				
				<p style="color:#1c57a8;">2.消费金融业务咨询</p>
				<p>亁康金服向银行提供消费金融业务咨询，咨询内容包括消费金融业务梳理、业务规范制度建设、应用场景设计、人员招聘培训、消费金融系统开发、业务运营等。</p>			
				<p style="color:#1c57a8;">3.消费金融管理师培训</p>
				<p>面向社会、金融机构、消费金融公司及平台等消费金融从业人员，提供《消费金融管理师》培训，目前开设有高级研讨班和中级管理师培训班，计划在6月开立网络培训班。</p>
				<p>《消费金融管理师》第一期培训班于4月9日－4月13日在北京开设，第二期培训班与5月底在岑溪开设。</p>
				<p style="color:#1c57a8;">4.风控平台业务</p>
				<p>亁康金服将自己的渠道资产资源和银行资金资源进行整合，通过风控平台将资金和资产进行撮合，提供风险控制服务。目前涉及业务为消费金融、小微贷款、供应链金融等。消费金融业务逻辑如下：</p>
				<img src="../../static/img/qkjf4.png" style="width:49%;height:200px;border:1px solid #ddd;"/>
				<img src="../../static/img/3.jpg" style="width:49%;height:200px;border:1px solid #ddd;"/>
				<p style="color:#1c57a8;">5.创立消费金融联盟</p>
				<p>亁康金服利用自身资源优势，作为中国互联网金融研究院消费金融中心的承办单位，正积极筹备创立消费金融联盟，为消费金融公司、金融机构等提供业务交流探讨、消费金融市场研究分析等服务。</p>
			</div>
		</div>
		<!--<div id="dh6" style="filter:alpha(opacity=0);opacity:0;width:100%">
			<div class="title">
				<h1>乾康专家团队</h1><h2>E</h2><h3>xpert team</h3>
			</div>
			<div class="AboutUs xfjr" id="zjtd">
				<div class="zjjs" style="display:inline-block" id="zj1">
					<img src="../../static/img/zjtd/zj1.jpg"/>
					<font>周滨</font>
					<p class="tip">曾任</p>
					<p>神州数码有限公司 事业部总经理<br/>亚银（上海）信息技术有限公司 总经理</p>
					<p class="tip">现任</p>
					<p>乾康（上海）金融信息服务股份有限公司 总裁<br/>中国互联网金融研究院消费金融研究中心 主任委员</p>
					<p class="tip">专业特长</p>
					<p>熟悉银行业务，组织实施了多家银行核心系统的开发建设。代表神州数码管理过大型ATM机具生产合资企业；结合国外ATM先进的运营经验，率先在国内开展银行自助设备外包运营，通过建立科学的银行网点选址模型，在长三角地区为数十家银行提供网点建设及运营服务，并取得行业内单台/平均自助设备中间收入收益最高的骄人业绩。<br/>
						通过对银行现有信用卡及小微贷业务的探索，借鉴国内外成熟技术，组织开发了《四维客户甄别法》、《授信评估系统》、《客户经理管理系统》等多种工具，成功地为数十家银行开展了信用卡、小微贷、消费金融、供应链融资等业务的咨询、培训及运营实施等服务。
					</p>
				</div>
				<div class="zjjs" id="zj2">
					<img src="../../static/img/zjtd/zj2.jpg"/>
					<font>檀晓阳<b>(金融学硕士)</b></font>
					<p class="tip">曾任</p>
					<p>鄞州银行信用卡中心总经理<br/>银联数据业务总监<br/>天津银行银行卡首席顾问<br/>安徽农信银行卡首席顾问</p>
					<p class="tip">现任</p>
					<p>乾康（上海）金融信息服务股份有限公司 副总裁</p>
					<p class="tip">专业特长</p>
					<p>工行首批信用卡业务管理人员。曾负责对200余家区域性银行业务辅导工作，设计和构建多家商业银行银行卡业务管理机构，有效推动业务高速发展，使得信用卡业务成为银行新的创利中心。为商业银行打造新型的信用卡业务发展管理、运营实施理念与核心体系，形成适合区域性商业银行发展战略指导思路。接受指导的多家银行成为银行部门收益“亿元俱乐部”成员。辅导的金融机构包括:民生、浦发等全国股份制商业银行，天津银行、上海农商行、河北银行、安徽农信、浙江农信、江南银行、泰安银行、常熟农商行等区域性商业银行。
						作为小微企业贷款业务的先期探索者，对适合中国特色的小微金融、消费金融的运营和风险防控体系及实施技术有深入研究。</p>
				</div>
				<div class="zjjs" id="zj3">
					<img src="../../static/img/zjtd/zj3.jpg"/>
					<font>宋力</font>
					<p class="tip">曾任</p>
					<p>中兴创新金融总架构师<br/>农行项目经理<br/>IBM中国核心银行及创新金融解决方案负责人<br/>文思创新助理副总裁<br/>金融行业产品研发负责人、总架构师<br/>中兴通讯金融事业部技术负责人兼互联网金融产品总架构师</p>
					<p class="tip">现任</p>
					<p>乾康金服首席技术顾问</p>
					<p class="tip">专业特长</p>
					<p>多家银行业务骨干、技术骨干，曾参与实施人总行架构设计与咨询、银监会信息规划编制、农业银行架构设计与咨询、建设银行架构设计与咨询。拥有二十多年丰富的金融行业产品管理、技术管理经验和成熟的系统架构规划能力，精通消费金融业务和实现技术。近三年先后在两家企业成功组建并运作互联网金融产品团队、技术团队，带领团队规划建设互联网金融技术体系和运营体系。</p>
				</div>
				<div class="zjjs" id="zj4">
					<img src="../../static/img/zjtd/zj4.jpg"/>
					<font>马颖涵<b>(注册会计师)</b></font>
					<p class="tip">曾任</p>
					<p>中国银行陕西省分行科技部<br/>信用卡中心<br/>计划财务部主管</p>
					<p class="tip">现任</p>
					<p>乾康（上海）金融信息服务股份有限公司 副总裁</p>
					<p class="tip">专业特长</p>
					<p>金融行业复合型人才，具有丰富的科技、金融财会从业经验，具有信用卡业务规划和管理运作能力，成功为国内知名商业银行提供信用卡业务综合风险咨询、信用卡系统建设咨询、信用卡业务管理和规划实施咨询及信用卡业务运营。成功搭建乾康金融《个人金融业务综合系统》、《授信评估模型》、《远程授信评估平台》。</p>
				</div>
				<div class="zjjs" id="zj5">
					<img src="../../static/img/zjtd/zj5.jpg"/>
					<font>庞中<b>(高级咨询师)</b></font>
					<p class="tip">曾任</p>
					<p>国内某A股上市金融机具企业上海分公司总经理<br/>国内知名金融类自媒体金融志（行业志）创始人<br/>国内某前沿金融O2O平台创始人</p>
					<p class="tip">现任</p>
					<p>乾康（上海）金融信息服务股份有限公司助理总裁</p>
					<p class="tip">专业特长</p>
					<p>曾长期服务于农业银行，中国银行，邮储银行，中信银行，广发银行，浦发银行，上海农商行等银行的线上线下金融服务与产品及社区银行营销的O2O业务。也是中国广发银行月光宝盒产品国内独家第三方合作推广平台，2015年为广发银行月光宝盒项目带来新增开户100万户。第一家协助银行打造金融产品病毒式传播营销的平台。
					<br/>拥有丰富的互联网金融营销及运作经验。对于银行的金融产品与服务在手机端、PC端及线下各行业渠道的推广及落地，拥有非常丰富的管理及运作经验。
					</p>
				</div>
				<div class="zjjs" id="zj6">
					<img src="../../static/img/zjtd/zj6.jpg"/>
					<font>李丽<b>(中级经济师)</b></font>
					<p class="tip">曾任</p>
					<p>开联信息技术有限公司金融事业部  总经理助理<br/>兴化农村商业银行微贷咨询项目   项目经理<br/>阜宁农村商业银行银行微贷咨询项目   项目总监<br/>江阴农村商业银行微贷咨询项目   项目总监<br/>东台农村商业银行微贷咨询项目   项目总监</p>
					<p class="tip">现任</p>
					<p>乾康（上海）金融信息服务股份有限公司 总裁助理</p>
					<p class="tip">专业特长</p>
					<p>拥有丰富的小微贷款行业的项目咨询经验，丰富的供应链金融行业务经验。
						<br/>国家开发银行1+N模式供应链融资保理业务团队核心成员，设计1+N保理业务模型、操作手册、合作流程、系统需求等，一手推进了合作项目的开展。
					</p>
				</div>
				<div class="zjjs" id="zj7">
					<img src="../../static/img/zjtd/zj7.jpg"/>
					<font>杨光<b>(工商管理硕士)</b></font>
					<p class="tip">曾任</p>
					<p>广东发展银行项目经理<br/>交通银行太平洋信用卡中心推广经理</p>
					<p class="tip">现任</p>
					<p>乾康（上海）金融信息服务股份有限公司 项目实施部 副总经理</p>
					<p class="tip">专业特长</p>
					<p>拥有10余年金融行业从业经验，极强的的团队管理能力，主要从事中小银行信用卡中心咨询运营的全体系搭建工作，涵盖战略规划、产品设计、运营管理、风险管控等方面的内容。
						<br/>负责过的项目有：福建厦门农商行信用卡咨询运营项目、江苏江南农商行信用卡咨询运营项目、江苏无锡农商行信用卡咨询项目、广西岑溪农商行信用卡咨询运营项目、福建泉州银行微贷咨询运营项目以及江苏江阴农商行微贷咨询运营项目。
					</p>
				</div>
				<div class="zjjs" id="zj8">
					<img src="../../static/img/zjtd/zj8.jpg"/>
					<font>周黎迪</font>
					<p class="tip">曾任</p>
					<p>浙江大学金融研究院顾问<br/>桂林银行小微金融事业部副总经理<br/>长江银行小微金融事业部总经理<br/>大连银行成都分行首席风控官<br/>北京华诚拓信金融信息咨询有限公司风控总监兼首席风控官</p>
					<p class="tip">现任</p>
					<p>乾康（上海）金融信息服务股份有限公司 风控总监</p>
					<p class="tip">专业特长</p>
					<p>拥有多年金融行业管理和风控经验，擅长风险控制、风控模型设计、产品设计和研发，小微金融和消费金融方面的专家，审批小微贷款近30000笔，所主管的网点至今追踪不良率低于0.22%（未做任何重组、核销和掩盖情况下的真实不良率）。擅长人才培养、培训和管理，之前所带领的团队人员都成为了各银行的骨干，40%以上的下属已经走上了银行的各级管理岗位。</p>
				</div>
				<div class="zjjs" id="zj9">
					<img src="../../static/img/zjtd/zj9.jpg"/>
					<font>王红梅<b>(消费金融管理师)</b></font>
					<p class="tip">曾任</p>
					<p>包商银行小微业务部 执行经理<br/>包商银行小微业务部 培训师<br/>信和汇金金融信息咨询管理有限公司 业务经理 </p>
					<p class="tip">现任</p>
					<p>乾康（上海）金融信息服务股份有限公司 项目经理</p>
					<p class="tip">专业特长</p>
					<p>从事小微信贷10多年，拥有过硬的风控技术，丰富的审贷经验。组织管理过多次银行小微业务的培训及授课工作，管理过70人的团队超额完成任务，管理、领导、沟通能力强。曾多次担任信贷产品设计及业务全流程化管理的项目工作，项目经验丰富。</p>
				</div>
				<div class="zjjs" id="zj10">
					<img src="../../static/img/zjtd/zj10.jpg"/>
					<font>卿月秀</font>
					<p class="tip">现任</p>
					<p>乾康金服（北京）信息技术有限公司 渠道经理</p>
					<p class="tip">专业特长</p>
					<p>曾参与开联公司与国家开发银行战略合作的供应链融资保理业务的营销、培训以及系统指导工作，协助各分行处理客户关系，为国家开发银行北京分行、陕西分行、浙江分行、江苏分行、安徽分行、广西分行、四川分行、等提供供应链保理业务服务，为其提供服务的核心企业有：清华同方、晶科能源、黎南铁路、淮南矿业、湖南猎豹汽车、天津天钢、中信戴卡、英利中国等。</p>
				</div>
				<div class="jjtd">			
					<img src="../../static/img/zjtd/zj1.png" onclick="show('zj1')" style="margin-left:96.5px;width:97.3px;"/>
					<img src="../../static/img/zjtd/zj2.png" onclick="show('zj2')" style="margin-right:90px;"/>
					<img src="../../static/img/zjtd/zj3.png" onclick="show('zj3')" style="margin-left:0;"/>
					<img src="../../static/img/zjtd/zj4.png" onclick="show('zj4')" style="width:98px;"/>
					<img src="../../static/img/zjtd/zj5.png" onclick="show('zj5')" style="margin-left:94px;"/>
					<img src="../../static/img/zjtd/zj6.png" onclick="show('zj6')"/>
					<img src="../../static/img/zjtd/zj7.png" onclick="show('zj7')" style="margin-right:96.4px;"/>
					<img src="../../static/img/zjtd/zj8.png" onclick="show('zj8')" style="margin-left:0;"/>
					<img src="../../static/img/zjtd/zj9.png" onclick="show('zj9')"/>
					<img src="../../static/img/zjtd/zj10.png" onclick="show('zj10')"/>
				</div>
			</div>
		</div>-->
		<!--<div class="title">
			<h1>公司简介</h1><h2>C</h2><h3>ompany cverview</h3>
		</div>
		<div class="AboutUs" style="background-image:url(../../static/img/gyqf.jpg);">
			<h1 style="margin-top:20px;">Company Profile</h1>
			<h2>乾康金服（北京）信息技术有限公司</h2>
			<span style="height:183px;"></span>
			<font>
				<b>工信部 中国互联网研究院</b><br/>
				<b>消费金融研究中心</b><br/>
				乾康金服(北京)信息技术有限公司是乾康集团与大型国企华信电子企业集团于2016年合作成立的，以消费金融、供应链金融等为业务载体的服务平台公司，是风控能力的提供者。
				提供两种金融平台：供应链金融平台和消费金融平台。本公司平台产品支持个人、商户、机构用户三大用户群同时在线进行银行各类金融产品平台功能操作的线上服务。
			</font>
		</div>	
		<div id="yyms" style="filter:alpha(opacity=0);opacity:0;width:100%;">
			<div class="title">
				<h1>运营模式</h1><h2>O</h2><h3>perating model</h3>
			</div>	
			<div class="yyms" style="border-right:1px dashed #ddd;margin-right:1%;margin-left:10%;">
				<img src="../../static/img/yyms1.png"/>
				<span><font>消费金融系统</font>是以商户、客户、消费金融公司为主要业务参与者，以消费金融贷款中心、商户、销售网点、自助服务渠道为主要服务渠道，通过消费金融核心、消费信贷审批、商户管理和催收跟踪等系统模块，支持开发多种消费金融贷款产品，实现消费金融审批速度快、服务方式灵活、 无需抵押和担保的独特优势，同时严格控制风险，提升消费金融公司的 核心竞争力。 贷款流程标准、简洁，抢件式处理，风险定价机制，评级的多样性，交叉检验，线上一体化控管。内嵌业务模型、内嵌工作流引擎、内嵌规则引擎。</span>
			</div>		
			<div class="yyms">
				<img src="../../static/img/yyms2.png"/>	
				<span><font style="color:#92d050">供应链业务平台</font>灵活的解决方案和服务模式，满足各种企业类型在不同发展阶段的多样化需求，帮助企业以合理成本迅速导入先进信息化应用。平台基于互联网的供应链金融系统云平台，提供银行和相关企业的技术接口，提供互联网入口，使得银行与核心企业、上下游企业可以共享“物流+信息流+资金流”信息，企业间交易扁平化，交易行为数据化。打通跨企业数据流和业务流，实现与上下游客户、供应商、经销商和合作伙伴的业务协作；集成各类业务系统和平台，快速接入上下游企业，并适应企业业务流程变化。</span>
			</div>
		</div>-->
		<button class="back" onclick="$('.Tab').hide();$('#qkjz').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>	
	
	

	<!-- 切换语言 -->		
	<div class="lanage" onclick="setLanage(this)">						
		<img src="../../static/img/yy.png" id="yySmall" onmouseover="showYY()"/>	
		<ul id="yyBig" onmouseleave="hideYY()">
			<li><a href="../index.html"><img src="../../static/img/Ch.png"/>中文</a></li>
			<li><a href="../index_EN.html"><img src="../../static/img/En.png"/>ENGLISH</a></li>
		</ul>
	</div>	
	<div class="back-to-top">
		<img src="../../static/img/back-to-top.png"/>
	</div>
<!--**************************************************foot***********************************************-->
	<div class="foot">
		<br/>
		<span>Copyright(C)2011-2014 乾康（上海）金融信息服务股份有限公司</span><br/>
		<span>沪ICP备13043724号</span>
	</div>
</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		function show(id){//专家团队
			$('.zjjs').css('display',"none");
			$("#"+id).css('display',"inline-block");
		}
		$(document).ready(function(){
			$(window).scroll(function(){
				var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)			
				if($("#101").css("display")!="none"){
					if(srollPos>"1400"){
						$("#nlpy").animate({opacity:"1"},"slow");
					}				
					else{
						$("#nlpy").css("filter","alpha(opacity=0)");
						$("#nlpy").css("opacity","0");
						if(srollPos>"900"){
							$("#ywzx").animate({left:"0"},"slow");
						}
						else{
							$("#ywzx").css("left","-120%");
							if(srollPos>"400"){
								$("#jyms").animate({right:"0"},"slow");
							}
							else{
								$("#jyms").css("right","-120%")
							}
						}
					}
				}
				if($("#102").css("display")!="none"){
					if(srollPos>"400"){
						$("#zzq").animate({opacity:"1"},"slow");
					}				
					else{
						$("#zzq").css("filter","alpha(opacity=0)");
						$("#zzq").css("opacity","0");						
					}
				}
				/*if($("#103").css("display")!="none"){
					if(srollPos>"400"){
						$("#yyms").animate({opacity:"1"},"slow");
					}				
					else{
						$("#yyms").css("filter","alpha(opacity=0)");
						$("#yyms").css("opacity","0");						
					}
				}*/
				if($("#103").css("display")!="none"){
					if(srollPos>"2000"){						
						$("#dh6").animate({opacity:"1"},"slow");
					}				
					else{
						$("#dh6").css("filter","alpha(opacity=0)");
						$("#dh6").css("opacity","0");
						if(srollPos>"1300"){
							$("#dh5").animate({left:"0"},"slow");
						}
						else{
							$("#dh5").css("left","-100%");
							if(srollPos>"500"){
								$("#dh4").animate({right:"0"},"slow");
							}
							else{
								$("#dh4").css("right","-100%")
							}
						}
					}
				}
				
				
			});
		});	
	</script>
</body>
</html>
