<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Finance Consulting Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link rel="SHORTCUT ICON" href="../3.ico"/>
	<!-- 地图 -->
	<script type="text/javascript" src="../../static/js/bdMap.js"></script>
	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">	
		@media all and (max-width: 800px){	
			.zgs{margin-bottom:10em;}
		}
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
<div class="main">
	<!--**************************************************top***********************************************-->
	<div class="logo" style="position:fixed;z-index:10000;">	
		<a href="/index_EN"><img src="../../static/img/logo.png"/></a>
		<ul class="newnav" style="margin-left:20px;z-index:10000;">
			<li><a href="/qkly_EN">Areas</a></li>
			<li><a href="/qkhb_EN">Partner</a></li>
			<li class="active"><a href="/qkjz_EN">Family</a></li>
			<li><a href="/jrqk_EN">Join Us</a></li>	
			<li><a href="/gyqk_EN">About Us</a></li>
			<li><a href="/qkxw_EN">News</a></li>	
		</ul>
	</div>
	<!-- SLIDER -->
	<div id="outerslider">
		<div id="slidercontainer">
			<section id="slider">
			<div class="box_skitter box_skitter_large">					
				<ul >
					<li>
						<img src="../../static/img/banner4_EN.jpg" alt="" style="height:100%"/>                            
					</li>
					<li>
						<img src="../../static/img/banner5_EN.jpg" alt="" style="height:100%"/>                            
					</li>          
					<li>
						<img src="../../static/img/banner6_EN.jpg" alt="" style="height:100%"/>                            
					</li>    
				</ul>
			</div>
			</section>
		</div>
	</div>
	<!-- END SLIDER -->	
	<div class="qkjt qkjz Tab" id="qkjz" >
		<div class="title" style="margin-bottom:-20px;">
			<h1 style="background:none;">CardPay</h1><h2>F</h2><h3>family</h3>
		</div>
		<div class="zgs">
			<img src="../../static/img/sc10.jpg"/>
			<span>
			<img src="../../static/img/logo1.png" style="width:6.25em;height:3.75em;"/><h2>CardPay Finance</h2>
			<a href="#" onclick="$('.Tab').hide();$('#101').show();">MORE</a></span>
		</div><div class="zgs" id="xxjs">
			<span>
			<img src="../../static/img/LOGO2.png" style="width:3.75em;height:3.75em;"/><h2>CardPay Info Tech</h2>
			<a href="#" onclick="$('.Tab').hide();$('#102').show();">MORE</a></span>
			<img src="../../static/img/sc20.jpg"/>
		</div><div class="zgs">
			<img src="../../static/img/sc21.png"/>
			<span>
			<img src="../../static/img/LOGO3.png" style="width:3.75em;height:3.75em;"/><h2>QianKangJinFu(Beijing)</h2>
			<a href="#" onclick="$('.Tab').hide();$('#103').show();">MORE</a></span>
		</div>
	</div>
	<!--**************************************************title***********************************************-->	
	<div id="101" class="Tab" style="display:none;">	
		<div class="title">
			<h1>Company</h1><h2>C</h2><h3>verview</h3>
		</div>
		<div class="AboutUs" id="qkjr" style="background-image:url(../../static/img/qkjr.jpg);padding-bottom:0px;">
			<h1>Company Profile</h1>
			<h2>CardPay Finance Consulting Co.,Ltd.</h2>
			<span></span>
			<font>CardPay is a focus on the financial sector as well as professional management consulting services operator implementation. The company's main business is to provide small business loans and credit cards for banks and other financial institutions and consulting<br/><br/><br/></font>
		</div>	
		<div id="jyms" class="dh" style="position:relative;right:-100%;">
			<div class="title">
				<h1>Business</h1><h2>M</h2><h3>odel</h3>
			</div>	
			<div class="AboutUs xfjr ywzxyy">
				<img src="../../static/img/sc14.jpg" style="float:left;margin-right:2%"/>
				<h1 style="color:#1c57a8;">First, the small loan business consulting</h1>
				<p>Kang dry micro loan counseling operations are based IPC microfinance applied technology, summed up a number of banks in small and micro loans operations advanced practical experience, on this basis, in-depth study, summarizes, formed a unique local characteristics covering customer identification, risk control and management of the whole process of dry Kang small and micro lending system.<br/><br/></p>
			</div>	
		</div>
		<div class="AboutUs xfjr ywzxyy dh"  id="ywzx" style="position:relative;left:-100%;">
			<img src="../../static/img/sc13.jpg" style="float:right;margin-left:2%;margin-top:3em;"/>
			<h1 style="color:#1c57a8;">Second, the credit card business</h1>
			<p style="line-height:1.2em;"><b>Integrated credit card business development strategy consulting:</b>Business Situation where the regional bank operations and the development of detailed analysis, comprehensive analytical line with the Bank's credit card business development strategy integrated content. Established with its own characteristics, objectives clear, feasible and safe credit card business development strategy. Through the implementation plan and implement development strategies with plans to explore, implement clear and specific programs, and to give the parties a full line of high-level position with the resources and support.</p>
			<p style="line-height:1.2em;"><b>Credit card management architecture, business process design consulting:</b>Help banks to establish or re-create various aspects of credit card management functions, so that the bank credit card center from management structure to manage operational processes are optimized to get better, to help banks manage the rational allocation of resources, better compliance with regulatory requirements and manage all aspects of prevention risks in order to achieve comprehensive management level to enhance the bank's credit card purposes.</p>
			<p style="line-height:1.2em;"><b>Credit Card Business Product Innovation Design Consulting:</b>Credit card connotation integrated product design, brand and flagship product design, credit cards and IC design applications, personal consumption microfinance product design, design integrated multi-specialty products, all product-related business process design.</p>
			<p style="line-height:1.2em;"><b>Integrated credit card business risk management strategy consulting:</b>Help banks establish a sound risk control system, that the credit card business review, approval, credit, each of the major risk management and other key points of collection of systematic risk control building to assist banks to make construction-related accountability mechanisms and monitoring instruments in order to achieve a comprehensive risk prevention and control to improve the overall capacity of the credit card business objectives and requirements.</p>
			<p style="line-height:1.2em;"><b>Credit Card Center Management Training and Advisory Team Direct:</b>On the basis of improving the management system for the various positions in the system needs specialized talent bank recruitment, assessment, professional training, training to adapt to the market, business simulation operations, operations guide, in order to fully meet the demand for talent management and development .</p>
			<p style="line-height:1.2em;"><b>Integrated operational strategy consulting cooperation:</b>On the basis of five including the consultation on further implementation consulting revenue that is shared with the bank responsible for achieving the effect of counseling, benefits from the bank to ensure steady business growth.</p>
		</div>
		<div class="AboutUs xfjr ywzxyy dh" id="nlpy" style="filter:alpha(opacity=0);opacity:0;">
			<h1 style="color:#1c57a8;">Third, the personal financial business management and marketing Ability</h1>
			<p>CardPay improve financial services core competitiveness and sustainable development capacity, and to ensure the smooth conduct comprehensive personal financial business, develop a business with independent, effective risk control, in-depth development of the market, high-quality performance well done core team.</p>
			<img src="../../static/img/sc15.jpg" class="img3"/>
			<img src="../../static/img/sc16.jpg" class="img3"/>
			<img src="../../static/img/sc17.jpg" class="img3"/>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#qkjz').show();">BACK</button>
	</div>	
	<div id="102" class="Tab" style="display:none;">
		<div class="title">
			<h1>Company</h1><h2>C</h2><h3>verview</h3>
		</div>
		<div class="AboutUs" id="qkxx"  style="background-image:url(../../static/img/xxjs.jpg);padding-bottom:0px;">
			<h1 style="margin-top:1em;">Company Profile</h1>
			<h2>CardPay Info Tech Co.,Ltd.</h2>
			<span style="height:65px;"></span>
			<font>CardPay Info Tech Co.,Ltd. uphold the technology to promote the business concept, based on the dry Kang Group advanced personal financial business system, strong technical force team...<br/><br/><br/></font>
		</div>	
		<div id="zzq" class="dh" style="filter:alpha(opacity=0);opacity:0;width:100%;">	
			<div class="title">
				<h1>Software</h1><h2>C</h2><h3>opyright</h3>
			</div>	
			<div class="xfjrList" id="gsxm" style="margin-bottom:20px;">				
				<div>
					<img src="../../static/img/xfjr4.jpg"/>
					<p style="line-height:1.5em">Handheld Terminal Marketing management software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc18.jpg"/>
					<p style="line-height:1.5em">Financial credit assessment Platform Software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc19.jpg"/>
					<p style="line-height:1.5em">Personal banking systems management software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc28.jpg"/>
					<p style="line-height:1.5em">Small micro-loan management software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc22.jpg"/>
					<p style="line-height:1.5em">Self-service device management platform software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc26.jpg"/>
					<p style="line-height:1.5em">Bank of self-service equipment platform software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc27.jpg"/>
					<p style="line-height:1.5em">Financial credit assessment model software V1.0</p>
				</div>
				<div>
					<img src="../../static/img/sc25.png"/>
					<p style="line-height:1.5em">Online banking system backstage operating platform software V1.0</p>
				</div>
			</div>
		</div>	
		<button class="back" onclick="$('.Tab').hide();$('#qkjz').show();">BACK</button>
	</div>
	<div id="103" class="Tab" style="display:none;">	
		<div class="title">
			<h1>Company </h1><h2>P</h2><h3>rofile</h3>
		</div>
		<div class="AboutUs" style="background-image:url(../../static/img/gyqf.jpg);">
			<h1 style="margin-top:1em;">Company Profile</h1>
			<h2>QianKangJinFu(Beijing)</h2>
			<span style="height:155px;"></span>
			<font>
				QianKangJinFu(Beijing) Information Technology Co.,Ltd(hereinafter referred to as "QianKangJinFu")was founded in 2016, January 18, by dry kang financial information service (Shanghai) co., LTD. (hereinafter referred to as the "dry aokang group") investment holding, is the Internet banking and consumer finance sector, focus on technology, risk control platform of financial services institutions.<br/><br/>
			</font>
		</div>	
		<div id="dh4" class="dh" style="position:relative;right:-100%;">
			<div class="title">
				<h1>CardPay</h1><h2>D</h2><h3>evelopment path</h3>
			</div>
			<div class="AboutUs xfjr">	
				<div style="display:inline-block;margin-bottom:10px;">
					<p>Dry Kang Jin suits based on consumer finance, supply chain finance, small micro loan bank credit business, research and development of risk control platform, provide bank borrowers, risk assessment and audit standard product design services, provide credit assessment services for individual customers. Besides platform business, March 16, 2016, China's Internet financial institute approved dry Kang Jin suit set up "China's Internet financial institute consumer finance research center", to regulate the operation of the consumer finance business standards for the purpose, to help Banks into consumer finance blue ocean industry, cultivate consumer financial talents, set up a "consumer financial management division" vocational training programs.</p>
					<p>Dry Kang Jin suit was founded at the beginning will retail financial focus as a business development, in the early days of the small micro loans and credit CARDS, consumer banking business occupies the important proportion, accumulated the rich market marketing, business operation and risk control ability of fraud.</p>
					<p>Because the amount is smaller, faster for examination and approval, shorter period of consumer finance business puts forward more strict and even harsh requirements on practitioners and threshold, dry Kang Jin served as early as 2013 began the business layout, the accumulation of related professionals, research and development related to the core technology, such as channels for guest, risk control and anti-fraud technology and so on.</p>
				</div>	
				<img src="../../static/img/qkjf3.png" style="width:49%;height:15em;border:1px solid #ddd;"/>
				<img src="../../static/img/sc1.jpg" style="width:49%;height:15em;border:1px solid #ddd;"/>
			</div>
		</div>
		<div id="dh5" class="dh" style="position:relative;left:-100%;">
			<div class="title">
				<h1>Business </h1><h2>I</h2><h3>ntroduction</h3>
			</div>
			<div class="AboutUs xfjr">	
				<p style="color:#1c57a8;">1.The Internet bank consultation</p>
				<p>CardPay clothes according to their technical and business advantages, organize teams to banks to provide Internet banking start-up, operational consulting services, has signed with a Rural Commercial Bank to perform consulting services.</p>
				
				<p style="color:#1c57a8;">2.Consumer finance business consulting</p>
				<p>CardPay take to the bank to provide consumer finance business consulting, comb consulting content including consumer finance business, the business standard system construction, application scenario design, recruitment, training, consumer finance system development, business operation, etc.</p>			
				<p style="color:#1c57a8;">3.Consumer finance manager training</p>
				<p>Geared to the needs of society, financial institutions and platform of consumer finance companies and consumer finance professionals, "consumer financial management division" training, at present there are senior seminar opening and middle management training, open network training plan in June.</p>
				<p>"Consumer financial management division," the first training course on April 9 - April 13 opened in Beijing, the second course and the end of May opened in Cenxi.</p>
				<p style="color:#1c57a8;">4.Business risk control platform</p>
				<p>CardPay suits own channel integrating assets and bank capital resources, and through the risk control platform to capital and assets for which provide risk control services. Currently involved in the business of consumer finance, small loans, supply chain finance. Consumer finance business logic is as follows:</p>
				<img src="../../static/img/qkjf4.png" style="width:49%;height:15em;border:1px solid #ddd;"/>
				<img src="../../static/img/3.jpg" style="width:49%;height:15em;border:1px solid #ddd;"/>
				<!-- <p style="color:#1c57a8;">5.Creation of consumer finance</p>
				<p>CardPay suit using its own resources advantage, as a financial center of China academy of Internet financial consumption to undertake unit, is actively in the process of creating consumer finance union, provide consumer finance companies, financial institutions, such as business communication, consumer finance market research and analysis, etc.</p> -->
			</div>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#qkjz').show();">BACK</button>
	</div>	
	
	
	
	<!-- 切换语言 -->		
	<div class="lanage" onclick="setLanage(this)">						
		<img src="../../static/img/yy.png" id="yySmall" onmouseover="showYY()"/>	
		<ul id="yyBig" onmouseleave="hideYY()">
			<li><a href="/index"><img src="../../static/img/Ch.png"/>中文</a></li>
			<li><a href="/index_EN"><img src="../../static/img/En.png"/>ENGLISH</a></li>
		</ul>
	</div>	
	<div class="back-to-top">
		<img src="../../static/img/back-to-top.png"/>
	</div>
<!--**************************************************foot***********************************************-->
	<div class="foot">
		<span>Copyright(C)2011-2014 CardPay(Shanghai) Finance Consulting Co.,Ltd.</span><br/>
		<span>Shanghai ICP for 13043724</span>
	</div>
</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		function show(id){//专家团队
			$('.zjjs').css('display',"none");
			$("#"+id).css('display',"inline-block");
		}
		$(document).ready(function(){				
			if($(window).width()<"800"){
				$(".box_skitter").html("<ul>"+
											"<li>"+
												"<img src='../../static/img/banner11_EN.jpg'/>"+                        
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner12_EN.jpg' /> "+                           
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner13_EN.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/hzhb11_En.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/page14_EN.jpg'/>"+
											"</li>"+
										"</ul>");
				
				$(".dh").css("opacity","1");
				$(".dh").css("filter","alpha(opacity=100)");
				
				$(".dh").css("left","0");
				$(".dh").css("right","0");
			}
			else{
				$(window).scroll(function(){
					var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)			
					if($("#101").css("display")!="none"){
						if(srollPos>"1400"){
							$("#nlpy").animate({opacity:"1"},"slow");
						}				
						else{
							$("#nlpy").css("filter","alpha(opacity=0)");
							$("#nlpy").css("opacity","0");
							if(srollPos>"900"){
								$("#ywzx").animate({left:"0"},"slow");
							}
							else{
								$("#ywzx").css("left","-120%");
								if(srollPos>"400"){
									$("#jyms").animate({right:"0"},"slow");
								}
								else{
									$("#jyms").css("right","-120%")
								}
							}
						}
					}
					if($("#102").css("display")!="none"){
						if(srollPos>"400"){
							$("#zzq").animate({opacity:"1"},"slow");
						}				
						else{
							$("#zzq").css("filter","alpha(opacity=0)");
							$("#zzq").css("opacity","0");						
						}
					}
					/*if($("#103").css("display")!="none"){
						if(srollPos>"400"){
							$("#yyms").animate({opacity:"1"},"slow");
						}				
						else{
							$("#yyms").css("filter","alpha(opacity=0)");
							$("#yyms").css("opacity","0");						
						}
					}*/
					
					if($("#zp2").css("display")!="none"){
						if(srollPos>"2000"){						
							$("#dh6").animate({opacity:"1"},"slow");
						}				
						else{
							$("#dh6").css("filter","alpha(opacity=0)");
							$("#dh6").css("opacity","0");
							if(srollPos>"1300"){
								$("#dh5").animate({left:"0"},"slow");
							}
							else{
								$("#dh5").css("left","-100%");
								if(srollPos>"500"){
									$("#dh4").animate({right:"0"},"slow");
								}
								else{
									$("#dh4").css("right","-100%")
								}
							}
						}
					}
					
				});	
			}
		});	
	</script>
</body>
</html>
