<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务股份有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link href="../../static/css/main.css" rel="stylesheet">
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<style type="text/css">
	
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	
	</script>
</head>
<body>
<div class="main">
<!--*****************************导航*****************************************-->
	<div class="topNav">
		<img src="../../static/img/logo.png" class="logo" onclick="window.location.href='/index' "/>
		<ul>
			<li><a href="/gyqk">关于乾康</a></li>					
			<li><a href="/qkly">乾康领域</a></li>	
			<li><a href="/qkjz">乾康家族</a></li>	
			<li class="active"><a href="/qkxw">乾康新闻</a></li>	
			<li><a href="/lxwm">联系我们</a></li>		
			<li><a href="/jrqk">加入乾康</a></li>								
		</ul>
	</div>	
	<div class="banner"></div>
<!--*****************************乾康新闻*****************************************-->
<div class="Tab" id="101">
	<div class="title">
		<img src="../../static/img/title.png" class="left"/><h3>乾康新闻</h3>
		<h4>QIANKANG NEWS</h4><img src="../../static/img/title.png" class="right"/>
	</div>

	<div class="qkxw">
		<div onclick="$('.Tab').hide();$('#xw15').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/15/jrj15.png"/>
			<p>乾康金融家<font>2017(3)</font></p>
		</div>
		<div onclick="$('.Tab').hide();$('#xw14').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/14/jrj14.png"/>
			<p>乾康金融家<font>2017(2)</font></p>
		</div>
		<div onclick="$('.Tab').hide();$('#xw13').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/13/jrj13.png"/>
			<p>乾康金融家<font>2017(1)</font></p>
		</div>
		<div onclick="$('.Tab').hide();$('#xw11').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/11/jrj11.png"/>
			<p>乾康金融家<font>2016(3)</font></p>
		</div>
		<div onclick="$('.Tab').hide();$('#xw10').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/10/jrj10.png"/>
			<p>乾康金融家<font>2016(2)</font></p>
		</div>
		<div onclick="$('.Tab').hide();$('#xw9').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/9/jrj9.png"/>
			<p>乾康金融家<font>2016(1)</font></p>
		</div>
		<div onclick="$('.Tab').hide();$('#xw8').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/8/jrj8.png"/>
			<p>乾康金融家<font>2015(4)</font></p>
		</div>
		<div onclick="$('.Tab').hide();$('#xw7').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/7/jrj7.png"/>
			<p>乾康金融家<font>2015(3)</font></p>
		</div>
		<div onclick="$('.Tab').hide();$('#xw6').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/6/jrj6.png"/>
			<p>乾康金融家<font>2015(2)</font></p>
		</div>
		<div onclick="$('.Tab').hide();$('#xw5').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/5/jrj5.png"/>
			<p>乾康金融家<font>2015(1)</font></p>
		</div>
		<div onclick="$('.Tab').hide();$('#xw4').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/4/jrj4.png"/>
			<p>乾康金融家<font>2014(4)</font></p>
		</div>
		<div onclick="$('.Tab').hide();$('#xw3').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/3/jrj3.png"/>
			<p>乾康金融家<font>2014(3)</font></p>
		</div>
		<div onclick="$('.Tab').hide();$('#xw2').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/2/jrj2.png"/>
			<p>乾康金融家<font>2014(2)</font></p>
		</div>
		<div onclick="$('.Tab').hide();$('#xw1').show();$('html,body').scrollTop(0)">
			<img src="../../static/img/jrj/1/jrj1.png"/>
			<p>乾康金融家<font>2014(1)</font></p>
		</div>
	</div>
</div>
	<div class="Tab" id="xw15" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2017(3)</h1>
			<h4 class="time">发表日期：2017-09-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/15/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0021.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0022.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0023.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0024.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0025.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0026.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0027.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0028.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0029.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0030.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0031.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0032.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0033.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0034.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0035.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0036.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0037.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0038.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0039.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0040.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0041.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0042.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0043.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0044.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0045.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0046.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0047.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0048.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0049.jpg"/></p>
			<p><img src="../../static/img/jrj/15/0050.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="xw14" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2017(2)</h1>
			<h4 class="time">发表日期：2017-06-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/14/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0021.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0022.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0023.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0024.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0025.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0026.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0027.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0028.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0029.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0030.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0031.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0032.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0033.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0034.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0035.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0036.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0037.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0038.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0039.jpg"/></p>
			<p><img src="../../static/img/jrj/14/0040.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="xw13" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2017(1)</h1>
			<h4 class="time">发表日期：2017-03-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/13/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0021.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0022.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0023.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0024.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0025.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0026.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0027.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0028.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0029.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0030.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0031.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0032.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0033.jpg"/></p>
			<p><img src="../../static/img/jrj/13/0034.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="xw11" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2016(3)</h1>
			<h4 class="time">发表日期：2016-09-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/11/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0021.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0022.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0023.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0024.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0025.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0026.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0027.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0028.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0029.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0030.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0031.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0032.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0033.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0034.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0035.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0036.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0037.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0038.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0039.jpg"/></p>
			<p><img src="../../static/img/jrj/11/0040.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="xw10" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2016(2)</h1>
			<h4 class="time">发表日期：2016-06-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/10/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0021.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0022.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0023.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0024.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0025.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0026.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0027.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0028.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0029.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0030.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0031.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0032.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0033.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0034.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0035.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0036.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0037.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0038.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0039.jpg"/></p>
			<p><img src="../../static/img/jrj/10/0040.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="xw9" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2016(1)</h1>
			<h4 class="time">发表日期：2016-03-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/9/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0021.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0022.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0023.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0024.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0025.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0026.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0027.jpg"/></p>
			<p><img src="../../static/img/jrj/9/0028.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="xw8" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2015(4)</h1>
			<h4 class="time">发表日期：2015-12-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/8/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0021.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0022.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0023.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0024.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0025.jpg"/></p>
			<p><img src="../../static/img/jrj/8/0026.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="xw7" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2015(3)</h1>
			<h4 class="time">发表日期：2015-09-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/7/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0021.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0022.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0023.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0024.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0025.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0026.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0027.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0028.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0029.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0030.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0031.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0032.jpg"/></p>
			<p><img src="../../static/img/jrj/7/0033.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="xw6" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2015(2)</h1>
			<h4 class="time">发表日期：2015-06-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/6/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0021.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0022.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0023.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0024.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0025.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0026.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0027.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0028.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0029.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0030.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0031.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0032.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0033.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0034.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0035.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0036.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0037.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0038.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0039.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0040.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0041.jpg"/></p>
			<p><img src="../../static/img/jrj/6/0042.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="xw5" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2015(1)</h1>
			<h4 class="time">发表日期：2015-03-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/5/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/5/0021.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="xw4" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2014(4)</h1>
			<h4 class="time">发表日期：2014-12-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/4/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0021.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0022.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0023.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0024.jpg"/></p>
			<p><img src="../../static/img/jrj/4/0025.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="xw3" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2014(3)</h1>
			<h4 class="time">发表日期：2014-9-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/3/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0021.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0022.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0023.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0024.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0025.jpg"/></p>
			<p><img src="../../static/img/jrj/3/0026.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="xw2" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2014(2)</h1>
			<h4 class="time">发表日期：2014-6-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/2/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0021.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0022.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0023.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0024.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0025.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0026.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0027.jpg"/></p>
			<p><img src="../../static/img/jrj/2/0028.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="xw1" style="display:none;">
		<div class="title2">
			<h1>乾康金融家2014(1)</h1>
			<h4 class="time">发表日期：2014-3-29</h4>
		</div>
		<div class="xw jrj">
			<p><img src="../../static/img/jrj/1/0001.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0002.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0003.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0004.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0005.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0006.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0007.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0008.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0009.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0010.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0011.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0012.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0013.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0014.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0015.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0016.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0017.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0018.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0019.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0020.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0021.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0022.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0023.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0024.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0025.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0026.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0027.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0028.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0029.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0030.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0031.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0032.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0033.jpg"/></p>
			<p><img src="../../static/img/jrj/1/0034.jpg"/></p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="side">
		<ul>
			<li><a href="/qkxw_EN" ><div class="sidebox"><img src="../../static/img/side_icon03.png">切换英文</div></a></li>
			<li id="QQ"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1103924915&amp;site=qq&amp;menu=yes" target="_blank" ><div class="sidebox"><img src="../../static/img/side_icon04.png">QQ客服</div></a></li>
			<li style="border:none;"><a href="javascript:goTop();" class="sidetop"><img src="../../static/img/side_icon05.png"></a></li>
		</ul>
	</div>
<!--*****************************foot*****************************************-->
	<div class="foot">
		<span>Copyright(C)2011-2014 乾康（上海）金融信息服务股份有限公司</span><br/>
		<span>沪ICP备13043724号</span>
	</div>
</div>	
	
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script><!-- 动画渐变背景插件-->
	
	
	
	<script type="text/javascript">
		$(document).ready(function(){  
			//加载地图
			//ShowMap("map",{city:'上海市',addr:'上海市徐汇区桂箐路7号3号楼801室',title:'乾康（上海）金融信息服务股份有限公司',lawfirm:'',tel:'021-54485390',mapx:'',pic:'../static/img/logo2.png',ismove:'0',piobj:'nxp'});
	
			setTimeout("bennerDH()",500);//banner动画
			$("#bannerDh4").mouseover(function(){//banner按钮动画
				$("#bannerDh4").animate({backgroundColor:"rgba(34,64,116,1)"},200);
			});
			$("#bannerDh4").mouseout(function(){//banner按钮动画
				$("#bannerDh4").animate({backgroundColor:"rgba(34,64,116,0)"},200);
			});
			$(window).scroll(function(){
				var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)	
				if(srollPos!="0"){//导航透明度
					$(".topNav").css("opacity","0.8");
					$(".topNav").css("filter","alpha(opacity=80)");
				}
				else{				
					$(".topNav").css("opacity","1");
					$(".topNav").css("filter","alpha(opacity=100)");
				}
				if(srollPos>"50"){//公司简介、公司业务
					$("#gsjj").animate({left:"0",opacity:'1'},1000);
					$('#gsyw1').animate({right:'0',opacity:'1'},1100);
					$('#gsyw2').animate({right:'0',opacity:'1'},1300);
					$('#gsyw3').animate({right:'0',opacity:'1'},1500);
				}
				if(srollPos>"400"){//公司理念
					$("#gsln").animate({opacity:"1"},"slow");
				}
				if(srollPos>"900"){//乾康家族
					$('#img1').animate({left:'0',opacity:'1'},1200);		
					$('#img2').animate({left:'0',opacity:'1'},1000);		
					$('#img3').animate({left:'0',opacity:'1'},800);	
					$('#p1').animate({right:'0',opacity:'1'},800);		
					$('#p2').animate({right:'0',opacity:'1'},1000);		
					$('#p3').animate({right:'0',opacity:'1'},1200);	
				}
				if(srollPos>"1150"){//周总寄语
					$('#zzjy1').animate({left:'0',opacity:'1'},1000);		
					$('#zzjy2').animate({right:'0',opacity:'1'},1000);	
				}
				if(srollPos>"1600"){//合作伙伴
					$('#hzhb1').animate({left:'0',opacity:'1'},1500);		
					$('#hzhb2').animate({left:'0',opacity:'1'},1200);
				}
				if(srollPos>"1800"){//合作伙伴					
					$('#hzhb3').animate({left:'0',opacity:'1'},1500);	
					$('#hzhb4').animate({left:'0',opacity:'1'},1200);	
				}
				if(srollPos>"2200"){//乾康新闻				
					$('#qkxw1').animate({left:'0',opacity:'1'},1000);	
					$('#qkxw2').animate({right:'0',opacity:'1'},1000);	
				}
				if ($(this).scrollTop() > 200) {// 滚动窗口来判断按钮显示或隐藏
					$('.side').fadeIn(100);
					} else {
					$('.side').fadeOut(100);
				}
			});
			if($(window).width()<"1100"){//屏幕小于1100不展示动画
				$(".dh").css("opacity","1");
				$(".dh").css("filter","alpha(opacity=100)");
				$(".dh").css("left","0");
				$(".dh").css("right","0");
			}
			$(".side ul li").hover(function(){
				$(this).find(".sidebox").stop().animate({"width":"124px"},200).css({"opacity":"1","filter":"Alpha(opacity=100)","background":"#ae1c1c"})	
			},function(){
				$(this).find(".sidebox").stop().animate({"width":"54px"},200).css({"opacity":"0.8","filter":"Alpha(opacity=80)","background":"#000"})	
			});
		});
		//回到顶部
		function goTop(){
			$('html,body').animate({'scrollTop':0},600);
		}
		function bennerDH(){//banner动画
			$('#bannerDh1').animate({right:'0'},1200);
			$('#bannerDh2').animate({left:'0'},1200);
			$('#bannerDh3').animate({right:'0'},1200);
			$('#bannerDh4').animate({left:'0'},1200);			
		}
	</script>
</body>
</html>
