<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Finance Consulting Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link rel="SHORTCUT ICON" href="../3.ico"/>
	<!-- 地图 -->
	<script type="text/javascript" src="../../static/js/bdMap.js"></script>
	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/imagehover.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">	
		
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
<div class="main">
	<!--**************************************************top***********************************************-->
	<div class="logo" style="position:fixed;z-index:10000;">	
		<a href="/index_EN"><img src="../../static/img/logo.png"/></a>
		<ul class="newnav" style="margin-left:20px;z-index:10000;">
			<li><a href="/qkly_EN">Areas</a></li>
			<li><a href="/qkhb_EN">Partner</a></li>
			<li><a href="/qkjz_EN">Family</a></li>
			<li><a href="/jrqk_EN">Join Us</a></li>	
			<li><a href="/gyqk_EN">About Us</a></li>
			<li class="active"><a href="/qkxw_EN">News</a></li>
		</ul>
	</div>
	<!-- SLIDER -->
	<div id="outerslider">
		<div id="slidercontainer">
			<section id="slider">
			<div class="box_skitter box_skitter_large">					
				<ul >
					<li>
						<img src="../../static/img/banner4_EN.jpg" alt="" style="height:100%"/>                            
					</li>
					<li>
						<img src="../../static/img/banner5_EN.jpg" alt="" style="height:100%"/>                            
					</li>          
					<li>
						<img src="../../static/img/banner6_EN.jpg" alt="" style="height:100%"/>                            
					</li>    
				</ul>
			</div>
			</section>
		</div>
	</div>
	<!--**************************************************title***********************************************-->	
	<div id="101" class="Tab">	
		<div class="title">
			<h1>News</h1><h2>I</h2><h3>nformation</h3>
		</div>
		<div class="xfjrList zp">
			<div onclick="$('.Tab').hide();$('#xw1').show();">
				<img src="../../static/img/xw/xw1.png"/>
				<p>The successful completion of the district project for defense</p>
			</div>
			<div onclick="$('.Tab').hide();$('#xw2').show();">
				<img src="../../static/img/xw/xw5.png"/>
				<p>Another small loan project officially launched</p>
			</div>
		</div>
	</div>
	<div class="Tab" id="xw1" style="display:none;">
		<div class="title">
			<h1>The successful completion of the district project for defense</h1>
			<h4 class="time">Date of publication：2017-03-06</h4>
		</div>
		<div class="AboutUs xfjr xw">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In March 3, 2017, on the Internet financial products "qiankang project risk control and credit evaluation system for" through layers of approval, project review defense in Xuhui District administration building. Ma Yinghan, Liu Xuejun, and the company 's project leader attended the review meeting.</p>
			<p><img src="../../static/img/xw/xw1.png"/></p>
			<p class="tz">Project defense site</p>				
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The project is based on extensive integration of the domestic authority of more than a dozen big data companies and credit data, through the top wind coverage credit lifecycle management and control technology, providing large data flow management and control decision making service driven credit risk for regional commercial banks, consumer finance, business finance, financial P2P, small loan other agencies, to help financial institutions to mining the vertical segments of the customer market, application of quantitative risk control methods of financial product innovation.</p>
			<p><img src="../../static/img/xw/xw2.png"/></p>
			<p class="tz">Prior confirmation of the discussion</p>	
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Qiankang offers consulting services of professional operation in regional commercial banks and other financial institutions, has a very rich professional experience, provide a small micro loan / credit card business consulting, risk control system, direct banking services to nearly 50 bank customers, including Jiangsu province an agricultural firm "Rongcheng Tong" project a rural commercial bank, flexible gold project in Fujian Province, Shanxi Province Association of small and micro credit projects, accumulated through the air control credit assessment 10 billion, develop 90 line under wind control team of experts.</p>
			<p><img src="../../static/img/xw/xw3.png"/></p>
			<p class="tz">Project leader on the project content</p>
			<p><img src="../../static/img/xw/xw4.png"/></p>
			<p class="tz">Respondent to answer the project</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">BACK</button>
	</div>
	<div class="Tab" id="xw2" style="display:none;">
		<div class="title">
			<h1>Another small loan project officially launched</h1>
			<h4 class="time">Date of publication：2017-03-06</h4>
		</div>
		<div class="AboutUs xfjr xw">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In March 2, 2017, Hunan rural commercial bank small micro credit project officially started.</p>
			<p><img src="../../static/img/xw/xw5.png"/></p>
			<p class="tz">Project launch site</p>				
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;At the start of the project, the bank led by the governor of the central bank on the background of small and micro loans, project requirements, the development prospects of an important speech on the small and micro loans raised new expectations. President Wang said: in the small micro credit gap under the background of the times, and qiankang financial cooperation to achieve win-win cooperation for a better future, each situation.</p>
			<p><img src="../../static/img/xw/xw6.png"/></p>
			<p class="tz">Wang long speech</p>	
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subsequently, the company vice president Liu Xuejun from the industry trend, occupation planning and how to do a good small micro loan account managers to share, encourage everyone to seize the current opportunity Study hard, become a good financial personnel.</p>
			<p><img src="../../static/img/xw/xw7.png"/></p>
			<p class="tz">Many participants</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Qiankang consulting company operation Department Deputy General Manager Liu Yongan for the team construction of the participants, and the curriculum arrangement, training plan and content, disciplinary requirements for implementation. Small micro loan project training officially started!</p>
			<p><img src="../../static/img/xw/xw8.png"/></p>
			<p class="tz">Participants serious attention</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">BACK</button>
	</div>
	<!-- 切换语言 -->		
	<div class="lanage" onclick="setLanage(this)">						
		<img src="../../static/img/yy.png" id="yySmall" onmouseover="showYY()"/>	
		<ul id="yyBig" onmouseleave="hideYY()">
			<li><a href="/index"><img src="../../static/img/Ch.png"/>中文</a></li>
			<li><a href="/index_EN"><img src="../../static/img/En.png"/>ENGLISH</a></li>
		</ul>
	</div>	
	<div class="back-to-top">
		<img src="../../static/img/back-to-top.png"/>
	</div>
<!--**************************************************foot***********************************************-->
		<div class="dialog">
			<div class="background">				
				<form class="dialog-box">
					<p><img class="close" src="../../static/img/close.jpg" onclick="$('.dialog').hide();"/></p>
					<img id="bigImg"/>
				</form>
			</div><!--透明背景-->
		</div><!--对话框-->
	<div class="foot">
		<span>Copyright(C)2011-2014 CardPay(Shanghai) Finance Consulting Co.,Ltd.</span><br/>
		<span>Shanghai ICP for 13043724</span>
	</div>
</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".cgal").mouseover(function(){
				$(this).find(".zz").show();
			});
			$(".cgal").mouseout(function(){
				$(this).find(".zz").hide();
			});
			if($(window).width()<"800"){
				$(".box_skitter").html("<ul>"+
											"<li>"+
												"<img src='../../static/img/banner11_EN.jpg'/>"+                        
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner12_EN.jpg' /> "+                           
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner13_EN.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/hzhb11_En.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/page14_EN.jpg'/>"+
											"</li>"+
										"</ul>");
			}
		});	
		function dialog(obj){
			var src=$(obj).find(".smallImg").attr("src");			
			$("#bigImg").attr("src",src);
			$('.dialog').show();
		}
	</script>
	
</body>
</html>
