<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">			
		.title{width:100%;height:80px;border:1px solid #dddddd;border-left:none;bordr-right:none;background:#fafafa;}
		h2{font-weight:bold;font-size:20px;color:#666666;margin-left:8%;line-height:80px;display:inline;}
		.place{float:right;margin-right:8%;font-weight:normal;line-height:80px;_margin-top:-80px;}
		.tab{width:84.2%;border:1px solid #dddddd;margin-top:40px;border-top:none;padding:20px;color:#0488cd;font-size:16px;_margin-top:-1px;}
		/* iFocus style */
		#ifocus_pic { display:inline; position:relative; float:left; width:273px; height:350px; overflow:hidden;}
		#ifocus_piclist { position:relative; }
		#ifocus_piclist li { width:273px; height:350px; overflow:hidden; }
		.ygfc{background:url(../../static/img/ygfc.png) no-repeat;width:273px;height:270px;padding-top:20px;line-height:25px;}
		.ygfcContent{width:80%;margin:0 auto;font-size:16px;color:#727272;}
	</style>
	<script type="text/javascript">

function addLoadEvent(func){
	var oldonload = window.onload;
	if (typeof window.onload != 'function') {
		window.onload = func;
	} else {
		window.onload = function(){
			oldonload();
			func();
		}
	}
}

function moveElement(elementID,final_x,final_y,interval) {
  if (!document.getElementById) return false;
  if (!document.getElementById(elementID)) return false;
  var elem = document.getElementById(elementID);
  if (elem.movement) {
    clearTimeout(elem.movement);
  }
  if (!elem.style.left) {
    elem.style.left = "0px";
  }
  if (!elem.style.top) {
    elem.style.top = "0px";
  }
  var xpos = parseInt(elem.style.left);
  var ypos = parseInt(elem.style.top);
  if (xpos == final_x && ypos == final_y) {
		return true;
  }
  if (xpos < final_x) {
    var dist = Math.ceil((final_x - xpos)/10);
    xpos = xpos + dist;
  }
  if (xpos > final_x) {
    var dist = Math.ceil((xpos - final_x)/10);
    xpos = xpos - dist;
  }
  if (ypos < final_y) {
    var dist = Math.ceil((final_y - ypos)/10);
    ypos = ypos + dist;
  }
  if (ypos > final_y) {
    var dist = Math.ceil((ypos - final_y)/10);
    ypos = ypos - dist;
  }
  elem.style.left = xpos + "px";
  elem.style.top = ypos + "px";
  var repeat = "moveElement('"+elementID+"',"+final_x+","+final_y+","+interval+")";
  elem.movement = setTimeout(repeat,interval);
}

function classNormal(iFocusBtnID){
	var iFocusBtns= document.getElementById(iFocusBtnID).getElementsByTagName('li');
	//var iFocusTxs = $(iFocusTxID).getElementsByTagName('li');
	for(var i=0; i<iFocusBtns.length; i++) {
		iFocusBtns[i].className='normal';
		//iFocusTxs[i].className='normal';
	}
}

function classCurrent(iFocusBtnID,n){
	var iFocusBtns= document.getElementById(iFocusBtnID).getElementsByTagName('li');
	//var iFocusTxs = $(iFocusTxID).getElementsByTagName('li');
	iFocusBtns[n].className='current';
	//iFocusTxs[n].className='current';
}

function iFocusChange() {
	if(!document.getElementById('ifocus')) return false;
	document.getElementById('ifocus').onmouseover = function(){atuokey = true};
	document.getElementById('ifocus').onmouseout = function(){atuokey = false};
	var iFocusBtns =  document.getElementById('ifocus_btn').getElementsByTagName('li');
	var listLength = iFocusBtns.length;
	iFocusBtns[0].onmouseover = function() {
		moveElement('ifocus_piclist',0,0,5);
		classNormal('ifocus_btn');
		classCurrent('ifocus_btn',0);
	}
	if (listLength>=2) {
		iFocusBtns[1].onmouseover = function() {
			moveElement('ifocus_piclist',0,-350,5);
			classNormal('ifocus_btn');
			classCurrent('ifocus_btn',1);
		}
	}
	if (listLength>=3) {
		iFocusBtns[2].onmouseover = function() {
			moveElement('ifocus_piclist',0,-700,5);
			classNormal('ifocus_btn');
			classCurrent('ifocus_btn',2);
		}
	}
	if (listLength>=4) {
		iFocusBtns[3].onmouseover = function() {
			moveElement('ifocus_piclist',0,-1050,5);
			classNormal('ifocus_btn');
			classCurrent('ifocus_btn',3);
		}
	}
}

setInterval('autoiFocus()',5000);
var atuokey = false;
function autoiFocus() {
	if(!document.getElementById('ifocus')) return false;
	if(atuokey) return false;
	var focusBtnList = document.getElementById('ifocus_btn').getElementsByTagName('li');
	var listLength = focusBtnList.length;
	for(var i=0; i<listLength; i++) {
		if (focusBtnList[i].className == 'current') var currentNum = i;
	}
	if (currentNum==0&&listLength!=1 ){
		moveElement('ifocus_piclist',0,-350,5);
		classNormal('ifocus_btn');
		classCurrent('ifocus_btn',1);
	}
	if (currentNum==1&&listLength!=2 ){
		moveElement('ifocus_piclist',0,-700,5);
		classNormal('ifocus_btn');
		classCurrent('ifocus_btn',2);
	}
	if (currentNum==2&&listLength!=3 ){
		moveElement('ifocus_piclist',0,-1050,5);
		classNormal('ifocus_btn');
		classCurrent('ifocus_btn',3);
	}
	if (currentNum==3 ){
		moveElement('ifocus_piclist',0,0,5);
		classNormal('ifocus_btn');
		classCurrent('ifocus_btn',0);
	}
	if (currentNum==1&&listLength==2 ){
		moveElement('ifocus_piclist',0,0,5);
		classNormal('ifocus_btn');
		classCurrent('ifocus_btn',0);
	}
	if (currentNum==2&&listLength==3 ){
		moveElement('ifocus_piclist',0,0,5);
		classNormal('ifocus_btn');
		classCurrent('ifocus_btn',0);
	}
}
addLoadEvent(iFocusChange);
</script>
</head>

<body>
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo" style="position:fixed;z-index:10000;">	
			<img src="../../static/img/images/logo.png" style="height:60px;margin-top:15px;margin-left:100px;margin-right:150px;"/>	
			<!-- <div>
				<a href="/index" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/index_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>	 -->
			<ul class="newnav" style="margin-left:20px;z-index:10000;">
				<li><a href="/">网站首页</a></li>
				<li><a href="/gsjj">关于我们</a></li>
				<li class="active"><a href="/xwdt">新闻动态</a></li>
				<li onmouseover="$('#seconeList2').show()" onmouseout="$('#seconeList2').hide()"><a href="#">企业咨询</a>
					<ul style="display:none" class="secondList" id="seconeList2">
						<li style="border-top:3px solid #0488cd;"><a href="/jjfa">业务指南</a></li>
						<li><a href="/yhnx">银行内训</a></li>
						<li><a href="/jrzx">金融咨询</a></li>
					</ul>			
				</li>
				<li><a href="/cgal">成功案例</a></li>
				<li><a href="/hzhb">合作伙伴</a></li>
				<li><a href="/zpxx">招聘信息</a></li>
			</ul>
		</div>
	<!--**************************************************title***********************************************-->		
		<div class="title" style="margin-top:89px;_margin-top:0;">
			<h2>新闻动态</h2>
			<span class="place">当前位置：乾康（上海）金融信息服务有限公司 > <font style="color:#0488cd">新闻动态</font></span>
		</div>
	<!--**************************************************left***********************************************-->	
		<div style="width:100%;float:left;">
			<div class="left">				
			<!--**************************************************员工风采***********************************************************************-->
				<div style="width:100%;margin-top:10px;border-top:3px dotted #dddddd;margin-bottom:40px;">
					<span style="background:white;position:absolute;margin-top:-15px;font-weight:bold;font-size:20px;color:#666666;">员工风采</span>
				</div>					
				<div id="ifocus">
					<div id="ifocus_pic">
						<div id="ifocus_piclist">
							<ul>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											创建领先国际的金融专业咨询机构1
											合力打造精英顾问团队
											最大限度满足客户需求创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
											最大限度满足客户需求
											创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
										</div>
									</div>	
									<img src="../../static/img/head.png" style="margin-top:-15px;margin-left:20px;float:left;"/>	
									<div style="margin-top:3px;margin-left:25px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">周滨</b><br/>总经理
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											创建领先国际的金融专业咨询机构1
											合力打造精英顾问团队
											最大限度满足客户需求创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
											最大限度满足客户需求
											创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
										</div>
									</div>	
									<img src="../../static/img/head.png" style="margin-top:-15px;margin-left:20px;float:left;"/>	
									<div style="margin-top:3px;margin-left:25px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">刘学军</b><br/>副总经理
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											创建领先国际的金融专业咨询机构1
											合力打造精英顾问团队
											最大限度满足客户需求创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
											最大限度满足客户需求
											创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
										</div>
									</div>	
									<img src="../../static/img/head.png" style="margin-top:-15px;margin-left:20px;float:left;"/>	
									<div style="margin-top:3px;margin-left:25px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">马颖涵</b><br/>信用卡咨询部经理
									</div>
								</li>
								<li>
									<div class="ygfc">
										<div class="ygfcContent">
											创建领先国际的金融专业咨询机构1
											合力打造精英顾问团队
											最大限度满足客户需求创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
											最大限度满足客户需求
											创建领先国际的金融专业咨询机构
											合力打造精英顾问团队
										</div>
									</div>	
									<img src="../../static/img/head.png" style="margin-top:-15px;margin-left:20px;float:left;"/>	
									<div style="margin-top:3px;margin-left:25px;float:left;font-size:16px;color:#727272;"> 
										<b style="color:#0488cd;font-size:16px;">赵军扬</b><br/>客户经理
									</div>
								</li>
							</ul>
						</div>
						
					</div>
					<div id="ifocus_btn" style="display:none;">
						<ul>
							<li class="current"></li>
							<li class="normal"></li>
							<li class="normal"></li>
							<li class="normal"></li>
						</ul>
					</div>
				</div>
			</div>
		<!--**************************************************right***********************************************-->	
			<div class="right" style="_margin-left:50px;">				
				<table width="100%">
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('hzxy')">公司与美国PTC达成合作协议</a>
							<img src="../../static/img/new.png"/>
						</td>
						<td class="text-right">2013-11-15</td>
					</tr>			
				</table>
				<div class="showPage">
					<span>共1条 每页10条 页次：1/1</span>
					<span class="pageNum" style="margin-left:370px;">首页</span>					
					<span class="pageNum">上一页</span>	
					<span class="pageNum">1</span>
					<span class="pageNum">下一页</span>	
					<span class="pageNum">尾页</span>				
				</div>					
			</div>
		</div>
		
		<div class="back-to-top">
			<img src="../../static/img/back-to-top.png"/>
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot" style="width:100%;float:left;">		
			<img src="../../static/img/images/qk_12.png" style="width:100%"/>
			<img src="../../static/img/images/qk_15.png"/>
			<span>Copyright(C)2011-2014 乾康（上海）金融信息服务有限公司</span><br/>
			<span>沪ICP备13043724号</span>
		</div>		
	</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		
		// 滚动窗口来判断按钮显示或隐藏
		$(window).scroll(function() {
			if ($(this).scrollTop() > 150) {
				$('.back-to-top').fadeIn(100);
			} else {
				$('.back-to-top').fadeOut(100);
			}
		});
		  
		// jQuery实现动画滚动
		$('.back-to-top').click(function(event) {
			event.preventDefault();
			$('html, body').animate({scrollTop: 0}, 500);
		})
		function change_div(obj,id){
			$(obj).parent().find('li').attr('class','');
			$(obj).attr('class','active');
			$('.tab').hide();
			$('#'+id).show();
		}
		
	</script>
</body>
</html>
