<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）金融信息服务股份有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link rel="SHORTCUT ICON" href="../3.ico"/>
	<!-- 地图 -->
	<script type="text/javascript" src="../../static/js/bdMap.js"></script>
	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/imagehover.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">			
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
<div class="main">
	<!--**************************************************top***********************************************-->
	<div class="logo" style="position:fixed;z-index:10000;">	
		<a href="/index"><img src="../../static/img/logo.png"/></a>
		<ul class="newnav" style="margin-left:20px;z-index:10000;">
			<li><a href="/qkly">乾康领域</a></li>
			<li><a href="/qkhb">乾康伙伴</a></li>
			<li><a href="/qkjz">乾康家族</a></li>
			<li class="active"><a href="/jrqk">加入乾康</a></li>	
			<li><a href="/gyqk">关于乾康</a></li>
			<li><a href="/qkxw">乾康新闻</a></li>	
		</ul>
	</div>
	<!-- SLIDER -->
	<div id="outerslider">
		<div id="slidercontainer">
			<section id="slider">
			<div class="box_skitter box_skitter_large">					
				<ul >
					<li>
						<img src="../../static/img/banner4.jpg" alt="" style="height:100%"/>                            
					</li>
					<li>
						<img src="../../static/img/banner5.jpg" alt="" style="height:100%"/>                            
					</li>          
					<li>
						<img src="../../static/img/banner6.jpg" alt="" style="height:100%"/>                            
					</li>    
				</ul>
			</div>
			</section>
		</div>
	</div>
	<!-- END SLIDER -->		
	<div class="qkly" onmouseleave="resetTab2()">
		<div class="span33 active" onclick="Tab2(this,'101')" onmouseover="Tab4(this,'101')" id="Tab101">	
			<h1>上海<br/><font>SHANG HAI</font></h1>
		</div>
		<div class="span33" onclick="Tab2(this,'102')" onmouseover="Tab4(this,'102')" id="Tab102">
			<h1>北京<br/><font>BEI JING</font></h1>
		</div>
		<div class="span33" onclick="Tab2(this,'103')" onmouseover="Tab4(this,'103')" id="Tab103">	
			<h1>常州<br/><font>CHANG ZHOU</font></h1>
		</div>		
		<div class="span33" onclick="Tab2(this,'104')" onmouseover="Tab4(this,'104')" id="Tab104">	
			<h1>西安<br/><font>XI AN</font></h1>
		</div>
	</div>
	<!--**************************************************title***********************************************-->	
	<div id="101" class="Tab">	
		<div class="title">
			<h1>上海</h1><h2>S</h2><h3>hang hai</h3>
		</div>
		<div class="xfjrList zp">
			<div onclick="$('.Tab').hide();$('#zp1').show();">
				<img src="../../static/img/zp/zp1.jpg"/>
				<p>web前端开发工程师</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp2').show();">
				<img src="../../static/img/zp/zp2.jpg"/>
				<p>JAVA软件开发工程师</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp3').show();">
				<img  src="../../static/img/zp/zp3.jpg"/>
				<p>信用卡项目经理</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp4').show();">
				<img  src="../../static/img/zp/zp4.jpg"/>
				<p>银行项目助理</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp5').show();">
				<img  src="../../static/img/zp/zp5.jpg"/>
				<p>客户经理助理</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp6').show();">
				<img  src="../../static/img/zp/zp6.jpg"/>
				<p>银行项目销售经理</p>
			</div>
			<div onclick="">
				<img  src="../../static/img/zp/zp7.jpg"/>
				<p>互联网咨询项目经理</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp8').show();">
				<img  src="../../static/img/zp/zp8.jpg"/>
				<p>培训运营总监</p>
			</div>
		</div>
	</div>
	<div class="Tab" id="zp1" style="display:none;">
		<div class="title">
			<h1>web前端开发工程师</h1><h2>W</h2><h3>eb engineer</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、根据产品设计需求，配合后台开发人员实现产品界面和功能，维护及优化前端页面性能；</p>
			<p>2、制作或协助制作各种页面组件或页面模版；</p>
			<p>3、参与设计并编写WEB前端应用。</p>			
			<h1 class="tip">任职要求：</h1>			
			<p>1、大专及以上学历，计算机相关专业，一年以上相关工作经验；</p>
			<p>2、精通HTML5/CSS/JavaScript/DOM/AJAX等各种Web前端技术；</p>
			<p>3、熟悉DIV+CSS布局的HTML代码编写，熟练手写标准CSS样式表，进行页面重构，能解决常见浏览器兼容问题；</p>
			<p>4、熟悉jQuery、Bootstrap框架；</p>
			<p>5、熟悉HTML5、CSS3与W3CWeb标准；</p>
			<p>6、有UI设计能力者优先考虑；</p>
			<p>7、具备责任心、较强的学习能力、优秀的团队沟通与协作能力、能承受一定的工作压力。</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="zp2" style="display:none;">
		<div class="title">
			<h1>JAVA软件开发工程师</h1><h2>J</h2><h3>ava engineer</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、参与核心产品研发和项目上线；</p>
			<p>2、配合研发主管，参与公司系统平台及项目整体设计、并负责完成代码研发；</p>
			<p>3、负责编写相关模块概要设计、详细设计等技术文档；</p>
			<p>4、参与项目中业务功能接口和基础类库的设计，解决项目中的关键问题和技术难题；</p>
			<p>5、根据开发规范与流程独立完成模块的设计以及相关文档；</p>
			<p>6、根据功能需求、进度计划完成软件功能开发，单元测试工作。</p>
			<h1 class="tip">任职要求：</h1>			
			<p>1、大专及以上学历，计算机类相关专业毕业，1年以上工作经验，有金融类产品或工作流类产品开发经验优先；</p>
			<p>2、精通JAVA API，并熟知软件开发流程；</p>
			<p>3、对主流开源的框架如Spring、Mybatis、Hibernate、tomcat等有深入的了解；</p>
			<p>4、熟悉Oracle/PostgresSQL/MySql等至少一种数据库应用技术；</p>
			<p>5、了解项目构建工具Maven，以及版本控制工具SVN、GIT等；</p>
			<p>6、熟悉软件开发技术文档资料的编写规范和代码书写规范，具有规范的开发文档写作能力；</p>
			<p>7、具备责任心、优秀的团队沟通与协作能力、能承受一定的工作压力。</p>			
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="zp3" style="display:none;">
		<div class="title">
			<h1>信用卡项目经理</h1><h2>C</h2><h3>redit card manager</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、对银行信用卡业务熟悉，组织项目实施全过程，能够带领团队充分协作，共同完成整个项目任务；</p>
			<p>2、对整个项目全程跟踪，把控项目周期，质量，维护客户关系；</p>
			<p>3、分配项目工作内容，解决项目过程中出现的所有问题；</p>
			<p>4、具有一定的项目管理能力和不同项目的操控能力。</p>
			<h1 class="tip">任职要求：</h1>			
			<p>1、大学本科或以上学历；</p>
			<p>2、具有银行信用卡团队管理2年或以上的相关工作经历；</p>
			<p>3、做事敏捷、效率高，工作态度认真，踏实、敬业，抗压能力强；</p>
			<p>4、有信用卡团队、小微贷团队、保险直营团队管理经验者优先考虑；</p>
			<p>5、能适应出差。</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="zp4" style="display:none;">
		<div class="title">
			<h1>银行项目助理（需出差）</h1><h2>B</h2><h3>ank project assistant</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、协助项目经理做好区域银行的小微贷及信用卡业务的技术支持工作。</p>
			<p>2、配合项目经理组织、实施、跟进项目的全过程，共同完成整个项目任务。</p>
			<p>3、对整个项目全程跟踪，把控项目周期，质量，维护客户关系。</p>
			<p>4、具有一定的项目管理能力和不同项目的操控能力。</p>
			<h1 class="tip">任职要求：</h1>			
			<p>1、具有两年及以上工作经历；</p>
			<p>2、本科及以上的财会、金融、税务、审计等相关专业学历。</p>
			<p>3、 做事敏捷、效率高，工作态度认真，踏实、敬业，抗压能力强。</p>
			<p>4、有信用卡团队、小微贷团队、咨询公司、数据分析等经验者优先。</p>
			<p>5、能够适应出差（公司提供住宿、差旅费报销）。</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="zp5" style="display:none;">
		<div class="title">
			<h1>客户经理助理（资金业务方向）</h1><h2>A</h2><h3>ssistant account manager</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、维护资金市场目标客户；</p>
			<p>2、维护与银行客户的良好合作关系，包括商务拜访、业务撮合、业务接待等；</p>
			<p>3、积极跟进潜在意向客户，撮合资金业务的成交；</p>
			<p>4、主管领导交办的其他工作。</p>
			<h1 class="tip">任职要求：</h1>			
			<p>1、全日制统招大专及以上学历，金融类、经济类、市场营销类、管理类专业优先；
			<p>2、一年以上工作经验，至少一年以上金融类销售或者金融商务工作经验，基础金融知识面广，具备一定的金融知识结构与综合能力；</p>
			<p>3、性格外向活泼，形象气质佳，言谈举止大方得体；</p>
			<p>4、优秀的语言表达和应变能力，善于交际，良好的人际关系把控能力，能够独立进行客户谈判；</p>
			<p>5、行动迅速，执行力强，具备良好的职业修养与职业行为规范，心态平和，性格坚毅；</p>
			<p>6、具备良好的团队协作精神和个人奉献精神；</p>
			<p>7、能适应出差，有相关工作经验者优先考虑（如：银行、基金、证券、保险等金融相关企业工作经验者）。</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="zp6" style="display:none;">
		<div class="title">
			<h1>银行项目销售经理</h1><h2>B</h2><h3>ank project sales manager</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、对银行客户进行公司产品销售运作，包括计划、组织、进度控制；</p>
			<p>2、协助销售总监设置销售目标、销售模式、销售战略、销售预算和奖励计划；</p>
			<p>3、建立销售队伍，完成销售目标；</p>
			<p>4、从销售和银行客户需求的角度，对产品的研发提供指导性建议。</p>
			<h1 class="tip">任职资格：</h1>			
			<p>1、本科及以上学历，市场营销、金融等相关专业；</p>
			<p>2、必须具有丰富的银行客户资源和客户关系，业绩优秀；</p>
			<p>3、2年以上金融行业销售工作经验，有银行销售管理工作经历者优先；</p>
			<p>4、具备较强的市场分析、营销、推广能力和良好的人际沟通、协调能力，分析和解决问题的能力；</p>
			<p>5、有较强的事业心，具备一定的领导能力。</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="zp7" style="display:none;">
		<div class="title">
			<h1>银行项目销售</h1><h2>B</h2><h3>ank project saler</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、销售人员职位，在上级的领导和监督下定期完成量化的工作要求，并能独立处理和解决所分配的任务；</p>
			<p>2、签定销售合同，指导、协调、审核与销售服务有关的帐目和记录等事务；</p>
			<p>3、解决与协调客户提出的投诉；</p>
			<p>4、从销售和客户需求的角度，对产品的研发部门提供指导性建议。</p>
			<h1 class="tip">任职资格：</h1>			
			<p>1、专科及以上学历；</p>
			<p>2、性格外向，有销售经验者优先；</p>
			<p>3、具有较强的沟通能力，组织、协调能力和团队协作能力；</p>
			<p>4、具有很强的上进心，形象佳。</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="zp8" style="display:none;">
		<div class="title">
			<h1>培训运营总监（负责人）</h1><h2>T</h2><h3>raining operations director</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、设计培训部的日常运营流程，负责培训项目的整体推广、招生工作；</p>
			<p>2、负责培训课程在市场的营销及渠道开发、推广、课程优化等；</p>
			<p>3、主动引导客户需求，结合公司培训产品，为企业提供针对性的系统实施方案；</p>
			<p>4、负责品牌包装、扩大品牌影响力，努力实现潜在客户向缴费客户的转化；</p>
			<p>5、负责规则、数据化运营、产品创新不断完善运营体系，提升支付渗透率和用户体验。</p>
			<h1 class="tip">任职要求：</h1>			
			<p>1、本科及以上学历；</p>
			<p>2、具有金融培训行业运营管理经验；</p>
			<p>3、具备相应的渠道资源，有较强的统筹能力；</p>
			<p>4、有良好的沟通能力和组织管理能力，具备紧急应对处理临时突发状况的能力；</p>
			<p>5、能够接受新的信息，接受新的挑战。</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div id="102" class="Tab" style="display:none;">
		<div class="title">
			<h1>北京</h1><h2>B</h2><h3>ei jing</h3>
		</div>
		<div class="xfjrList zp">
			<div onclick="$('.Tab').hide();$('#zp9').show();">
				<img src="../../static/img/zp/zp9.jpg"/>
				<p>消费金融咨询总监</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp10').show();">
				<img src="../../static/img/zp/zp3.jpg"/>
				<p>信用卡项目经理</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp11').show();">
				<img  src="../../static/img/zp/zp4.jpg"/>
				<p>银行项目助理</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp12').show();">
				<img  src="../../static/img/zp/zp6.jpg"/>
				<p>银行项目销售经理</p>
			</div>
			<div onclick="">
				<img  src="../../static/img/zp/zp7.jpg"/>
				<p>互联网咨询项目经理</p>
			</div>
		</div>
	</div>
	<div class="Tab" id="zp9" style="display:none;">
		<div class="title">
			<h1>消费金融咨询总监</h1><h2>C</h2><h3>onsumer finance consulting director</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、行业研究：根据公司消费金融领域咨询战略，研究消费金融业务领先实践，转化成为公司知识资产；</p>
			<p>2、产品研发：带领咨询顾问团队编制并持续优化消费金融系列解决方案，为公司运营团队、技术团队提供支持；</p>
			<p>3、咨询服务：在公司重大消费金融咨询项目承担核心骨干作用，解决项目重大分歧与问题；</p>
			<p>4、管理控制：建立并执行咨询项目管理体系，对所辖咨询项目群进行有效监控，达到公司收益要求和客户满意度要求；</p>
			<p>5、人才培养：建立并执行咨询顾问培训体系，对所管咨询顾问团队负责业务指导和能力提升；配合相关部门，完成新咨询顾问的招聘和培训工作。</p>
			<h1 class="tip">任职要求：</h1>			
			<p>1、大学本科以上学历，金融、师范、MBA或者计算机相关专业背景；对消费金融、信用卡等领域至少一个实操经验丰富；</p>
			<p>2、具备咨询工作八年以上工作经验，咨询项目管理五年以上工作经验，领导过不少5人的咨询顾问团队；</p>
			<p>3、有团队合作精神和敬业精神，执行力好，抗压能力强，能按时完成上级下达的工作任务要求，在上级帮助下不断总结和提升自我</p>
			<p>4、具备较强的金融业务学习能力和解决方案研发能力；</p>
			<p>5、有较强的表达沟通能力，强烈的表达意愿、表达清晰流畅、思路清晰；</p>
			<p>6、普通话标准，举止行为亲和得体，幽默感，沟通能力强。</p>

		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#102').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="zp10" style="display:none;">
		<div class="title">
			<h1>信用卡项目经理</h1><h2>C</h2><h3>redit card manager</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、对银行信用卡业务熟悉，组织项目实施全过程，能够带领团队充分协作，共同完成整个项目任务；</p>
			<p>2、对整个项目全程跟踪，把控项目周期，质量，维护客户关系；</p>
			<p>3、分配项目工作内容，解决项目过程中出现的所有问题；</p>
			<p>4、具有一定的项目管理能力和不同项目的操控能力。</p>
			<h1 class="tip">任职要求：</h1>			
			<p>1、大学本科或以上学历；</p>
			<p>2、具有银行信用卡团队管理2年或以上的相关工作经历；</p>
			<p>3、做事敏捷、效率高，工作态度认真，踏实、敬业，抗压能力强；</p>
			<p>4、有信用卡团队、小微贷团队、保险直营团队管理经验者优先考虑；</p>
			<p>5、能适应出差。</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#102').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="zp11" style="display:none;">
		<div class="title">
			<h1>银行项目助理（需出差）</h1><h2>B</h2><h3>ank project assistant</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、协助项目经理做好区域银行的小微贷及信用卡业务的技术支持工作。</p>
			<p>2、配合项目经理组织、实施、跟进项目的全过程，共同完成整个项目任务。</p>
			<p>3、对整个项目全程跟踪，把控项目周期，质量，维护客户关系。</p>
			<p>4、具有一定的项目管理能力和不同项目的操控能力。</p>
			<h1 class="tip">任职要求：</h1>			
			<p>1、具有两年及以上工作经历；</p>
			<p>2、本科及以上的财会、金融、税务、审计等相关专业学历。</p>
			<p>3、 做事敏捷、效率高，工作态度认真，踏实、敬业，抗压能力强。</p>
			<p>4、有信用卡团队、小微贷团队、咨询公司、数据分析等经验者优先。</p>
			<p>5、能够适应出差（公司提供住宿、差旅费报销）。</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#102').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="zp12" style="display:none;">
		<div class="title">
			<h1>银行项目销售经理</h1><h2>B</h2><h3>ank project sales manager</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、对银行客户进行公司产品销售运作，包括计划、组织、进度控制；</p>
			<p>2、协助销售总监设置销售目标、销售模式、销售战略、销售预算和奖励计划；</p>
			<p>3、建立销售队伍，完成销售目标；</p>
			<p>4、从销售和银行客户需求的角度，对产品的研发提供指导性建议。</p>
			<h1 class="tip">任职资格：</h1>			
			<p>1、本科及以上学历，市场营销、金融等相关专业；</p>
			<p>2、必须具有丰富的银行客户资源和客户关系，业绩优秀；</p>
			<p>3、2年以上金融行业销售工作经验，有银行销售管理工作经历者优先；</p>
			<p>4、具备较强的市场分析、营销、推广能力和良好的人际沟通、协调能力，分析和解决问题的能力；</p>
			<p>5、有较强的事业心，具备一定的领导能力。</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#102').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div class="Tab" id="zp13" style="display:none;">
		<div class="title">
			<h1>银行项目销售</h1><h2>B</h2><h3>ank project saler</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、销售人员职位，在上级的领导和监督下定期完成量化的工作要求，并能独立处理和解决所分配的任务；</p>
			<p>2、签定销售合同，指导、协调、审核与销售服务有关的帐目和记录等事务；</p>
			<p>3、解决与协调客户提出的投诉；</p>
			<p>4、从销售和客户需求的角度，对产品的研发部门提供指导性建议。</p>
			<h1 class="tip">任职资格：</h1>			
			<p>1、专科及以上学历；</p>
			<p>2、性格外向，有销售经验者优先；</p>
			<p>3、具有较强的沟通能力，组织、协调能力和团队协作能力；</p>
			<p>4、具有很强的上进心，形象佳。</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#102').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>
	<div id="103" class="Tab" style="display:none;">
		<div class="title">
			<h1>常州</h1><h2>C</h2><h3>hang zhou</h3>
		</div>
		<div class="xfjrList zp">
			<div onclick="$('.Tab').hide();$('#zp14').show();">
				<img src="../../static/img/zp/zp2.jpg"/>
				<p>JAVA软件开发工程师</p>
			</div>
		</div>
	</div>	
	<div class="Tab" id="zp14" style="display:none;">
		<div class="title">
			<h1>JAVA软件开发工程师</h1><h2>J</h2><h3>ava engineer</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、负责公司现有产品模块开发，上线实施部署；</p>
			<p>2、根据规范编写相应文档；</p>
			<p>3、维护和升级现有软件产品和项目，快速定位并修复现有软件缺陷。</p>
			<h1 class="tip">任职要求：</h1>			
			<p>1、熟悉J2EE软件开发，熟悉SpringMVC，Mybatis，了解JSON/XML；</p>
			<p>2、熟练应用SQL；</p>
			<p>3、熟悉Oracle，了解MySQL；</p>
			<p>4、了解Python, Memcached更佳；</p>
			<p>5、做事认真，吃苦耐劳；</p>
			<p>6、至少1年以上开发工作经验；</p>
			<p>7、能适应出差（公司提供住宿、报销差旅费）。</p>			
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#103').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>	
	<div id="104" class="Tab" style="display:none;">
		<div class="title">
			<h1>西安</h1><h2>X</h2><h3>i an</h3>
		</div>
		<div class="xfjrList zp">
			<div onclick="$('.Tab').hide();$('#zp15').show();">
				<img src="../../static/img/zp/zp2.jpg"/>
				<p>JAVA软件开发工程师</p>
			</div>
		</div>
	</div>	
	<div class="Tab" id="zp15" style="display:none;">
		<div class="title">
			<h1>JAVA软件开发工程师</h1><h2>J</h2><h3>ava engineer</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">岗位职责：</h1>
			<p>1、公司核心软件系统的研发以及实施部署；</p>
			<p>2、根据规范编写相应文档；</p>
			<p>3、对上线产品进行运营技术支持及升级改造。</p>
			<h1 class="tip">任职要求：</h1>			
			<p>1、熟练掌握Java语言和面向对象设计方法；</p>
			<p>2、了解J2EE类软件开发，最好熟悉一种以Spring为核心的开发架构；</p>
			<p>3、有网站开发经历；</p>
			<p>4、具有良好的学习能力，与团队合作精神，沟通理解能力强。</p>
			<h1 class="tip">掌握以下技能者更好：</h1>			
			<p>1、了解版本控制系统（最好是Git）；</p>
			<p>2、了解设计模式；</p>
			<p>3、了解Linux；</p>
			<p>4、掌握groovy(gradle)、python；</p>
			<p>5、了解memcache、Redis；</p>
			<p>6、熟练应用SQL。</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#104').show();">返&nbsp;&nbsp;&nbsp;回</button>
	</div>	
	<!-- 切换语言 -->		
	<div class="lanage" onclick="setLanage(this)">						
		<img src="../../static/img/yy.png" id="yySmall" onmouseover="showYY()"/>	
		<ul id="yyBig" onmouseleave="hideYY()">
			<li><a href="/index"><img src="../../static/img/Ch.png"/>中文</a></li>
			<li><a href="/index_EN"><img src="../../static/img/En.png"/>ENGLISH</a></li>
		</ul>
	</div>	
	<div class="back-to-top">
		<img src="../../static/img/back-to-top.png"/>
	</div>
<!--**************************************************foot***********************************************-->
		<div class="dialog">
			<div class="background">				
				<form class="dialog-box">
					<p><img class="close" src="../../static/img/close.jpg" onclick="$('.dialog').hide();"/></p>
					<img id="bigImg"/>
				</form>
			</div><!--透明背景-->
		</div><!--对话框-->
	<div class="foot">
		<span>Copyright(C)2011-2014 乾康（上海）金融信息服务股份有限公司</span><br/>
		<span>沪ICP备13043724号</span>
	</div>
</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".cgal").mouseover(function(){
				$(this).find(".zz").show();
			});
			$(".cgal").mouseout(function(){
				$(this).find(".zz").hide();
			});
			if($(window).width()<"800"){
				$(".box_skitter").html("<ul>"+
											"<li>"+
												"<img src='../../static/img/banner11.jpg'/>"+                        
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner12.jpg' /> "+                           
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner13.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/hzhb11.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/page14.jpg'/>"+
											"</li>"+
										"</ul>");
			}
		});	
		function dialog(obj){
			var src=$(obj).find(".smallImg").attr("src");			
			$("#bigImg").attr("src",src);
			$('.dialog').show();
		}
	</script>
	
</body>
</html>
