<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Finance Consulting Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">
	<link rel="SHORTCUT ICON" href="../3.ico"/>
	<!-- 地图 -->
	<script type="text/javascript" src="../../static/js/bdMap.js"></script>
	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	<link href="../../static/css/imagehover.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="../../static/css/skitter.styles.css" media="all" />
	<style type="text/css">	
		
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F980a47baa3b028fee8b94644df33e9b8' type='text/javascript'%3E%3C/script%3E"));
	</script>
</head>

<body onload="imgs();">
<div class="main">
	<!--**************************************************top***********************************************-->
	<div class="logo" style="position:fixed;z-index:10000;">	
		<a href="/index_EN"><img src="../../static/img/logo.png"/></a>
		<ul class="newnav" style="margin-left:20px;z-index:10000;">
			<li><a href="/qkly_EN">Areas</a></li>
			<li><a href="/qkhb_EN">Partner</a></li>
			<li><a href="/qkjz_EN">Family</a></li>
			<li class="active"><a href="/jrqk_EN">Join Us</a></li>	
			<li><a href="/gyqk_EN">About Us</a></li>
			<li><a href="/qkxw_EN">News</a></li>	
		</ul>
	</div>
	<!-- SLIDER -->
	<div id="outerslider">
		<div id="slidercontainer">
			<section id="slider">
			<div class="box_skitter box_skitter_large">					
				<ul >
					<li>
						<img src="../../static/img/banner4_EN.jpg" alt="" style="height:100%"/>                            
					</li>
					<li>
						<img src="../../static/img/banner5_EN.jpg" alt="" style="height:100%"/>                            
					</li>          
					<li>
						<img src="../../static/img/banner6_EN.jpg" alt="" style="height:100%"/>                            
					</li>    
				</ul>
			</div>
			</section>
		</div>
	</div>
	<!-- END SLIDER -->		
	<div class="qkly" onmouseleave="resetTab2()">
		<div class="span33 active" onclick="Tab2(this,'101')" onmouseover="Tab4(this,'101')" id="Tab101">	
			<h1>SHANG HAI<br/><font>上海</font></h1>
		</div>
		<div class="span33" onclick="Tab2(this,'102')" onmouseover="Tab4(this,'102')" id="Tab102">
			<h1>BEI JING<br/><font>北京</font></h1>
		</div>
		<div class="span33" onclick="Tab2(this,'103')" onmouseover="Tab4(this,'103')" id="Tab103">	
			<h1>CHANG ZHOU<br/><font>常州</font></h1>
		</div>		
		<div class="span33" onclick="Tab2(this,'104')" onmouseover="Tab4(this,'104')" id="Tab104">	
			<h1>XI AN<br/><font>西安</font></h1>
		</div>
	</div>
	<!--**************************************************title***********************************************-->	
	<div id="101" class="Tab">	
		<div class="title">
			<h1>SHANG HAI</h1><h2>R</h2><h3>ecruitment information</h3>
		</div>
		<div class="xfjrList zp">
			<div onclick="$('.Tab').hide();$('#zp1').show();">
				<img src="../../static/img/zp/zp1.jpg"/>
				<p style="line-height:1.5em">Web front-end development engineers</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp2').show();">
				<img src="../../static/img/zp/zp2.jpg"/>
				<p style="line-height:1.5em">The JAVA software development engineer</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp3').show();">
				<img  src="../../static/img/zp/zp3.jpg"/>
				<p style="line-height:1.5em">Credit card project<br/> manager</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp4').show();">
				<img  src="../../static/img/zp/zp4.jpg"/>
				<p style="line-height:1.5em">Bank project assistant <br/>(travel)</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp5').show();">
				<img  src="../../static/img/zp/zp5.jpg"/>
				<p style="line-height:1.5em">Customer manager business direction</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp6').show();">
				<img  src="../../static/img/zp/zp6.jpg"/>
				<p style="line-height:1.5em">Bank project sales<br/> manager</p>
			</div>
			<div onclick="">
				<img  src="../../static/img/zp/zp7.jpg"/>
				<p style="line-height:1.5em">Internet Consulting Project Manager</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp8').show();">
				<img  src="../../static/img/zp/zp8.jpg"/>
				<p style="line-height:1.5em">Training director of operations (head)</p>
			</div>
		</div>
	</div>
	<div class="Tab" id="zp1" style="display:none;">
		<div class="title">
			<h1>Web front-end development</h1><h2>E</h2><h3>ngineers</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, according to the requirements of product design, with the background developers implement product interface and function, maintain and optimize the performance of the front page;</p>
			<p>2, make or assist in making all kinds of page components or page template;</p>
			<p>3, participate in design and write WEB front-end applications.</p>			
			<h1 class="tip">Job requirements:</h1>			
			<p>1, junior college or above, major in computer related majors, more than one year relevant working experience;</p>
			<p>2, proficient in HTML/CSS/JavaScript/DOM/AJAX and Web front-end technology;</p>
			<p>3, familiar with HTML code DIV + CSS layout, proficient in written standard CSS stylesheets, reconstructs the page, can solve the problem of common browser compatibility;</p>
			<p>4, familiar with jQuery, the Bootstrap framework;</p>
			<p>5, be familiar with the HTML 5 and CSS 3 and W3CWeb standards;</p>
			<p>6, UI design ability is preferred;</p>
			<p>7, have sense of responsibility, strong learning ability, good communication and team cooperation ability, can bear certain work pressure.</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('#101').show();">BACK</button>
	</div>
	<div class="Tab" id="zp2" style="display:none;">
		<div class="title">
			<h1>The JAVA software development</h1><h2>E</h2><h3>ngineer</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, participate in the core product development and project launch;</p>
			<p>2, cooperate with r&d director, responsible for the overall design, system platform and research and development and is responsible for the complete code;</p>
			<p>3, responsible for the related modules summary design, detailed design and other technical documentation;</p>
			<p>4, participate in project business functions in the interface and the design of the base class library, resolving key technical challenge and problem in the project.</p>
			<p>5, according to the development of norms and process module independently design and related documents;</p>
			<p>June, according to the functional requirements and schedule to complete the function of software development, unit test work.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, junior college or above, major in computer or related specialized graduation, more than 1 years work experience, has a financial product or workflow product development experience is preferred;</p>
			<p>2, proficient in JAVA API, and be familiar with the software development process;</p>
			<p>3, to the mainstream of open source framework such as Spring, Mybatis, Hibernate, tomcat, has a deep understanding of;</p>
			<p>4, familiar with Oracle/PostgresSQL/MySql, at least one database application technology;</p>
			<p>5, know Maven project build tools as well as version control tool SVN, GIT, etc;</p>
			<p>6, familiar with software development technical documentation written specification and code writing standards, with the development of specification documents writing ability;</p>
			<p>7, have sense of responsibility, good communication and team cooperation ability, can bear certain work pressure.</p>			
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">BACK</button>
	</div>
	<div class="Tab" id="zp3" style="display:none;">
		<div class="title">
			<h1>Credit card project manager</h1><h2>R</h2><h3>ecruitment information</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, familiar with bank credit card business, the organization the whole process of project implementation, can lead the team to good collaboration, common to complete the whole project tasks;</p>
			<p>2, for the whole project follow-up, controls the project cycle, quality, maintain customer relationship;</p>
			<p>3, distribution, project work content, solve all the problems in the process of the project;</p>
			<p>4, have certain ability of project management and control of different projects.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, bachelor degree or above;</p>
			<p>2, experience in team management of credit card of bank of 2 years or above related working experience;</p>
			<p>3, do agile, high efficiency, serious working attitude, steadfast, dedication, compressive ability is strong;</p>
			<p>4, have team, small micro credit CARDS, insurance marketing team management experience is preferred;</p>
			<p>5, can adapt to travel.</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">BACK</button>
	</div>
	<div class="Tab" id="zp4" style="display:none;">
		<div class="title">
			<h1>Bank project assistant (travel)</h1><h2>R</h2><h3>ecruitment information</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, assist project manager to be small regional bank loans and credit card business support work.</p>
			<p>2, cooperate with project manager to organize and implement and follow up the whole process of the project and complete the whole project tasks together.</p>
			<p>3, for the whole project follow-up, controls the project cycle, quality, maintenance of customer relationships.</p>
			<p>4, have certain ability of project management and control of different projects.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, with two years or above working experience;</p>
			<p>2, bachelor of accounting, finance, tax, audit and related professional qualifications.</p>
			<p>3, do agile, high efficiency, serious working attitude, steadfast, dedication, compressive ability.</p>
			<p>4, have a credit card team, small micro credit team, consulting firms, such as data analysis experience is preferred.</p>
			<p>5, can adapt to business trip (company provide accommodation, travel expenses).</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">BACK</button>
	</div>
	<div class="Tab" id="zp5" style="display:none;">
		<div class="title">
			<h1>Customer manager assistant business </h1><h2>D</h2><h3>irection</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, maintain capital market target customers;</p>
			<p>2, maintain the good relationship with bank customers, including business visit, business matching, business reception, etc.;</p>
			<p>3, actively follow up potential intention client, matching funds business clinch a deal;</p>
			<p>4, other jobs assigned by manager.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, full-time recruitment junior college or above, major in finance, economics, marketing, management major is preferred;</p>
			<p>2, more than one year working experience, at least one years experience in financial sales or financial business, the basic financial knowledge broad, have a certain financial knowledge structure and comprehensive ability;</p>
			<p>3, outgoing personality and lively, good image and characteristic, manners, decent;</p>
			<p>4, good language expression and strain capacity, good at communication, good interpersonal skills to control ability, can independent customer negotiations;</p>
			<p>5, quick, strong executive ability, good professional accomplishment and professional norms, calm, determined;</p>
			<p>6, have good teamwork spirit and personal dedication;</p>
			<p>7, can adapt to business, relevant working experience is preferred, such as Banks, funds, securities, insurance and other financial companies working experience).</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">BACK</button>
	</div>
	<div class="Tab" id="zp6" style="display:none;">
		<div class="title">
			<h1>Bank project sales manager</h1><h2>R</h2><h3>ecruitment information</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, bank customers for the company product sales operation, including planning, organizing, scheduling control;</p>
			<p>2, assist sales director to set sales targets and sales model, sales strategies, sales budgets and incentive plans;</p>
			<p>3, to set up the sales team, achieve sales target;</p>
			<p>4, from the perspective of sales and bank customer demand, to provide guidance for product development.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, bachelor degree or above, marketing, finance and other related professional;</p>
			<p>2, must have a rich bank customer resources and customer relationship, good performance;</p>
			<p>3, 2 years or above sales working experience in financial industry, is there a bank sales management working experience is preferred;</p>
			<p>4, with strong market analysis, marketing, promotion ability and good interpersonal communication, coordination, analysis and problem solving skills;</p>
			<p>5, a strong dedication to work, have a certain leadership ability.</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">BACK</button>
	</div>
	<div class="Tab" id="zp7" style="display:none;">
		<div class="title">
			<h1>Bank project sales</h1><h2>R</h2><h3>ecruitment information</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, sales staff position, under the leadership and supervision of the superior finish quantified work requirements periodically, and be able to handle and solve the assigned tasks independently;</p>
			<p>2, sign the sales contract, guidance, coordination, review and sales service accounts and records and other related affairs;</p>
			<p>3, solve and coordinate customer complaints;</p>
			<p>4, from the perspective of sales and customer demand, provide guidance on product research and development department.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, college degree and above;</p>
			<p>2, outgoing personality, with sales experience is preferred;</p>
			<p>3, have strong ability of communication, organization, coordination ability and team cooperation ability;</p>
			<p>4, have a strong desire to do better, the image better.</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">BACK</button>
	</div>
	<div class="Tab" id="zp8" style="display:none;">
		<div class="title">
			<h1>Training director of</h1><h2>O</h2><h3>perations</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, design training department daily operation process, is responsible for overall promotion, admissions training programs;</p>
			<p>2, responsible for the training course in the market development, promotion, marketing and channel course optimization, etc.;</p>
			<p>3, take the initiative to guide the customer needs, combined with the company training products, provide enterprises with specific system implementation plan;</p>
			<p>4, responsible for the brand packaging, expand brand influence, efforts to achieve potential clients to capture customer conversion;</p>
			<p>5, responsible for rules, digital operation, product innovation, constantly perfect operating system, improving permeability and user experience.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, bachelor degree or above;</p>
			<p>2, financial training industry operation management experience;</p>
			<p>3, have corresponding channel resources, have strong ability of planning as a whole;</p>
			<p>4, good communication ability and organization and management ability, have the ability to deal with the temporary emergency emergency response;</p>
			<p>5, can accept the new information, new challenges to accept.</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#101').show();">BACK</button>
	</div>
	<div id="102" class="Tab" style="display:none;">
		<div class="title">
			<h1>BEI JING</h1><h2>R</h2><h3>ecruitment information</h3>
		</div>
		<div class="xfjrList zp">
			<div onclick="$('.Tab').hide();$('#zp9').show();">
				<img src="../../static/img/zp/zp9.jpg"/>
				<p style="line-height:1.5em">Consumer financial advisory director</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp10').show();">
				<img src="../../static/img/zp/zp3.jpg"/>
				<p style="line-height:1.5em;">Credit card project<br/> manager</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp11').show();">
				<img  src="../../static/img/zp/zp4.jpg"/>
				<p style="line-height:1.5em;">Bank project assistant<br/> (travel)</p>
			</div>
			<div onclick="$('.Tab').hide();$('#zp12').show();">
				<img  src="../../static/img/zp/zp6.jpg"/>
				<p style="line-height:1.5em;">Bank project sales<br/> manager</p>
			</div>
			<div onclick="">
				<img  src="../../static/img/zp/zp7.jpg"/>
				<p style="line-height:1.5em;">Internet Consulting Project Manager</p>
			</div>
		</div>
	</div>
	<div class="Tab" id="zp9" style="display:none;">
		<div class="title">
			<h1>Consumer financial advisory</h1><h2>D</h2><h3>irector</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, industry research, according to the consumer finance sector consulting company strategy, research leading consumer finance business practice, knowledge assets into a company;</p>
			<p>2, product research and development: lead the consultant team establishment and continuous optimization of consumer finance series solutions, operations team and technical team to provide support for the company;</p>
			<p>3, consulting services, the company major consumer finance consulting projects to undertake core backbone role, solve the problem of project major differences and;</p>
			<p>4, management control: set up and perform the consulting project management system, effective monitoring to reduce the consulting project group, achieve corporate earnings and customer satisfaction requirements;</p>
			<p>5, talent training, establish training system and perform the consultants, for the tube consultant team is responsible for business guidance and ability to ascend; Cooperate with related departments, complete the new consultant recruitment and training work.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, bachelor degree or above, finance, normal, MBA or computer related professional background; Of consumer finance in areas such as credit CARDS and at least one field experience;</p>
			<p>2 work eight years work experience, with consulting, project management consulting five years work experience, led many 5 consultants team;</p>
			<p>3, have the team cooperation spirit and professional dedication, good execution, compressive ability, can finish the task of superior orders requirements, with superior help constantly summarize and improve yourself</p>
			<p>4, and have strong learning ability and financial business solutions for research and development ability;</p>
			<p>5, has the strong expression of communication skills, strong expression of the will, clear smooth, clear;</p>
			<p>6, standard mandarin, behavior and decent, sense of humor, good communication skills.</p>

		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#102').show();">BACK</button>
	</div>
	<div class="Tab" id="zp10" style="display:none;">
		<div class="title">
			<h1>Credit card project manager</h1><h2>R</h2><h3>ecruitment information</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, familiar with bank credit card business, the organization the whole process of project implementation, can lead the team to good collaboration, common to complete the whole project tasks;</p>
			<p>2, for the whole project follow-up, controls the project cycle, quality, maintain customer relationship;</p>
			<p>3, distribution, project work content, solve all the problems in the process of the project;</p>
			<p>4, have certain ability of project management and control of different projects.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, bachelor degree or above;</p>
			<p>2, experience in team management of credit card of bank of 2 years or above related working experience;</p>
			<p>3, do agile, high efficiency, serious working attitude, steadfast, dedication, compressive ability is strong;</p>
			<p>4, have team, small micro credit CARDS, insurance marketing team management experience is preferred;</p>
			<p>5, can adapt to travel.</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#102').show();">BACK</button>
	</div>
	<div class="Tab" id="zp11" style="display:none;">
		<div class="title">
			<h1>Bank project assistant (travel)</h1><h2>R</h2><h3>ecruitment information</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, assist project manager to be small regional bank loans and credit card business support work.</p>
			<p>2, cooperate with project manager to organize and implement and follow up the whole process of the project and complete the whole project tasks together.</p>
			<p>3, for the whole project follow-up, controls the project cycle, quality, maintenance of customer relationships.</p>
			<p>4, have certain ability of project management and control of different projects.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, with two years or above working experience;</p>
			<p>2, bachelor of accounting, finance, tax, audit and related professional qualifications.</p>
			<p>3, do agile, high efficiency, serious working attitude, steadfast, dedication, compressive ability.</p>
			<p>4, have a credit card team, small micro credit team, consulting firms, such as data analysis experience is preferred.</p>
			<p>5, can adapt to business trip (company provide accommodation, travel expenses).</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#102').show();">BACK</button>
	</div>
	<div class="Tab" id="zp12" style="display:none;">
		<div class="title">
			<h1>Bank project sales manager</h1><h2>R</h2><h3>ecruitment information</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, bank customers for the company product sales operation, including planning, organizing, scheduling control;</p>
			<p>2, assist sales director to set sales targets and sales model, sales strategies, sales budgets and incentive plans;</p>
			<p>3, to set up the sales team, achieve sales target;</p>
			<p>4, from the perspective of sales and bank customer demand, to provide guidance for product development.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, bachelor degree or above, marketing, finance and other related professional;</p>
			<p>2, must have a rich bank customer resources and customer relationship, good performance;</p>
			<p>3, 2 years or above sales working experience in financial industry, is there a bank sales management working experience is preferred;</p>
			<p>4, with strong market analysis, marketing, promotion ability and good interpersonal communication, coordination, analysis and problem solving skills;</p>
			<p>5, a strong dedication to work, have a certain leadership ability.</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#102').show();">BACK</button>
	</div>
	<div class="Tab" id="zp13" style="display:none;">
		<div class="title">
			<h1>Bank project sales</h1><h2>R</h2><h3>ecruitment information</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, sales staff position, under the leadership and supervision of the superior finish quantified work requirements periodically, and be able to handle and solve the assigned tasks independently;</p>
			<p>2, sign the sales contract, guidance, coordination, review and sales service accounts and records and other related affairs;</p>
			<p>3, solve and coordinate customer complaints;</p>
			<p>4, from the perspective of sales and customer demand, provide guidance on product research and development department.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, college degree and above;</p>
			<p>2, outgoing personality, with sales experience is preferred;</p>
			<p>3, have strong ability of communication, organization, coordination ability and team cooperation ability;</p>
			<p>4, have a strong desire to do better, the image better.</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#102').show();">BACK</button>
	</div>
	<div id="103" class="Tab" style="display:none;">
		<div class="title">
			<h1>CHANG ZHOU</h1><h2>R</h2><h3>ecruitment information</h3>
		</div>
		<div class="xfjrList zp">
			<div onclick="$('.Tab').hide();$('#zp14').show();">
				<img src="../../static/img/zp/zp2.jpg"/>
				<p style="line-height:1.5em;">The JAVA software development engineer</p>
			</div>
		</div>
	</div>	
	<div class="Tab" id="zp14" style="display:none;">
		<div class="title">
			<h1>The JAVA software development</h1><h2>E</h2><h3>ngineer</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, responsible for the company's existing product module development, on-line implementation;</p>
			<p>2, according to the standard written document accordingly;</p>
			<p>3, maintain and upgrade existing software products and projects, quickly locate and repair the existing software defects.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, familiar with the J2EE software development, familiar with, the SpringMVC, Mybatis, understand JSON/XML;</p>
			<p>2, skillfully using SQL;</p>
			<p>3, familiar with Oracle, understand the MySQL;</p>
			<p>4, understand the Python, Memcached is better;</p>
			<p>5, work conscientiously, bears hardships and stands hard work;</p>
			<p>6, at least 1 years experience in development work.</p>
			<p>7, can adapt to business trip reimbursement (company provide accommodation, travel).</p>			
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#103').show();">BACK</button>
	</div>	
	<div id="104" class="Tab" style="display:none;">
		<div class="title">
			<h1>XI AN</h1><h2>R</h2><h3>ecruitment information</h3>
		</div>
		<div class="xfjrList zp">
			<div onclick="$('.Tab').hide();$('#zp15').show();">
				<img src="../../static/img/zp/zp2.jpg"/>
				<p style="line-height:1.5em;">The JAVA software development engineer</p>
			</div>
		</div>
	</div>	
	<div class="Tab" id="zp15" style="display:none;">
		<div class="title">
			<h1>The JAVA software development</h1><h2>E</h2><h3>ngineer</h3>
		</div>
		<div class="AboutUs xfjr">
			<h1 class="tip">Job responsibilities:</h1>
			<p>1, the company's core software system development and implementation;</p>
			<p>2, according to the standard written document accordingly;</p>
			<p>3, to operating the online products technical support and upgrades.</p>
			<h1 class="tip">Job requirements:</h1>			
			<p>1, familiar with the Java language and object-oriented design method;</p>
			<p>2, understand the J2EE software development, it is better to be familiar with a Spring as the core of the development of architecture;</p>
			<p>3, website development experience;</p>
			<p>4, have good learning ability, and team cooperation spirit, communication ability.</p>
			<h1 class="tip">To master the following skill better:</h1>			
			<p>1, understand the version control system (preferably Git);</p>
			<p>2, understand the design pattern;</p>
			<p>3, understand the Linux;</p>
			<p>4, master the groovy (gradle), python;</p>
			<p>5, understand the memcache, Redis;</p>
			<p>6, skilled application of SQL.</p>
		</div>
		<button class="back" onclick="$('.Tab').hide();$('.XFJR').hide();$('#104').show();">BACK</button>
	</div>	
	<!-- 切换语言 -->		
	<div class="lanage" onclick="setLanage(this)">						
		<img src="../../static/img/yy.png" id="yySmall" onmouseover="showYY()"/>	
		<ul id="yyBig" onmouseleave="hideYY()">
			<li><a href="/index"><img src="../../static/img/Ch.png"/>中文</a></li>
			<li><a href="/index_EN"><img src="../../static/img/En.png"/>ENGLISH</a></li>
		</ul>
	</div>	
	<div class="back-to-top">
		<img src="../../static/img/back-to-top.png"/>
	</div>
<!--**************************************************foot***********************************************-->
		<div class="dialog">
			<div class="background">				
				<form class="dialog-box">
					<p><img class="close" src="../../static/img/close.jpg" onclick="$('.dialog').hide();"/></p>
					<img id="bigImg"/>
				</form>
			</div><!--透明背景-->
		</div><!--对话框-->
	<div class="foot">
		<span>Copyright(C)2011-2014 CardPay(Shanghai) Finance Consulting Co.,Ltd.</span><br/>
		<span>Shanghai ICP for 13043724</span>
	</div>
</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<!-- Slider -->
	<script type="text/javascript" src="../../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.skitter.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".cgal").mouseover(function(){
				$(this).find(".zz").show();
			});
			$(".cgal").mouseout(function(){
				$(this).find(".zz").hide();
			});
			if($(window).width()<"800"){
				$(".box_skitter").html("<ul>"+
											"<li>"+
												"<img src='../../static/img/banner11_EN.jpg'/>"+                        
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner12_EN.jpg' /> "+                           
											"</li>"+
											"<li>"+
												"<img src='../../static/img/banner13_EN.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/hzhb11_En.jpg'/>"+
											"</li>"+
											"<li>"+
												"<img src='../../static/img/page14_EN.jpg'/>"+
											"</li>"+
										"</ul>");
			}
		});	
		function dialog(obj){
			var src=$(obj).find(".smallImg").attr("src");			
			$("#bigImg").attr("src",src);
			$('.dialog').show();
		}
	</script>
	
</body>
</html>
